.collapse-list {
  margin-bottom: 10px;
  padding-left: 0;
  list-style: none;
}

.collapse-open {
  display: none;
}

.collapse-panel {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
  display: flex;
}

.campos {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.add_receptor{
    width: 20px !important;
    height: 20px !important;
}

@media (max-width: 990px) {
    .pestanas ul {
        flex-wrap: wrap;
      }
    .pestanas {
        margin-left: 10px;
    }
    .campos {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.collapse-panel-table {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
  display: flex;
  width: 100%;
  gap: 10px;
}

.collapse-open:checked ~ .collapse-panel-table {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}
.collapse-open:checked ~ .collapse-panel {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.collapse-items {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
}

.collapse-open:checked ~ .collapse-items {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.collapse-border {
  padding: 0.5rem 1.25rem 1.25rem;
  margin-top: -1px;
  margin-bottom: 10px;
}
.container-button-collapse {
  border-radius: 5px;
  background-color: #e6e7ff;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapse-list .collapse-btn {
  cursor: pointer;
  display: block;
  transition: background-color 0.2s ease;
  opacity: 1;
}
.title-re {
  text-align: left;
  font: normal normal normal 24px/29px "Bliss Pro", sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  opacity: 1;
}

.container-subtitle {
  display: block;
  transition: background-color 0.2s ease;
  background-color: #e6e7ff;
  border-radius: 5px;
  opacity: 1;
  padding: 14px;
}

.subtitle-re {
  font: normal normal normal 18px/21px "Bliss Pro", sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  opacity: 1;
}

.input-re {
  border: 1px solid #b4b5d9;
  border-radius: 5px;
}

.column-span {
  grid-column: span 2;
}

.container-button {
  display: flex;
  align-items: end;
  gap: 10px;
}

.t-head {
  background: #f4f4fa 0% 0% no-repeat padding-box;
}

.cabecera {
  border-radius: 5px 5px 0px 0px;
}

.grid-title-item {
  border: none;
  font: normal normal normal 14px "Bliss Pro", sans-serif;
  letter-spacing: 0px;
  color: #27246d;
}

.grid-item {
  font: normal normal normal 14px "Bliss Pro", sans-serif;
  letter-spacing: 0px;
  color: #707070;
}

.itemCCI {
    width: 200px;
    min-width: 200px;
  }

.row-item {
  border-bottom: 1px solid #e6e7ff;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: red;
}

.button-reset {
  width: 45px;
  height: 45px;
  background: #8385b4 0% 0% no-repeat padding-box;
  border-radius: 5px;
  font: normal normal bold 14px/16px "Bliss Pro", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 30px;
  border: none;
}

.grid-title-item > img {
  width: 12px;
  height: 12px;
}

.td-head {
  display: flex;
}

.autorenew {
  width: 14px;
  height: 14px;
}

.pestanas ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  border-bottom: #b4b5d9 2px solid;
}

.pestanas li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font: normal normal normal 18px/21px "Bliss Pro", sans-serif;
  letter-spacing: 0px;
  color: #b4b5d9;
}

.pestanas li.active {
  color: #27246d;
  border-bottom: #ff7b00 5px solid;
  margin-bottom: -3px;
}

.pestanas .contenido {
  margin-top: 10px;
}

.h-text {
  font: normal normal bold 14px/16px "Bliss Pro", sans-serif;
  color: #8385b4;
}

.b-text {
  font: normal normal normal 14px/16px "Bliss Pro", sans-serif;
  color: #707070;
}

/*<INI - 26/06/2025  | NUEVO CAMPO DE FECHA DE SOLICITUD >*/
.h-textFA {
  font: normal normal bold 14px/16px "Bliss Pro", sans-serif;
  color: #8385b4;
  font-weight: 700;
}

.b-textFA {
  font: normal normal normal 14px/16px "Bliss Pro", sans-serif;
  color: #707070;
  font-weight: 700;
  letter-spacing: 0.5px; /* un poco más de espacio entre letras */
  text-shadow: 0 1px 2px rgba(0,0,0,0.1); /* sombra ligera */
}
/*<FIN - 26/06/2025  | NUEVO CAMPO DE FECHA DE SOLICITUD >*/


.atras-re {
  font: normal normal normal 16px/19px "Bliss Pro", sans-serif;
  color: #27246d;
  cursor: pointer;
}

.button-re {
  border: none;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 14px/16px "Bliss Pro", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.button-red {
  background: #db4343 0% 0% no-repeat padding-box;
}

.button-green {
  background: #79cb33 0% 0% no-repeat padding-box;
}

.button-violet {
  background: #8385b4 0% 0% no-repeat padding-box;
}

.containt-item {
  display: flex;
  justify-content: space-between;
}

.container-buttons {
  display: flex;
  gap: 10px;
}

@media (max-width: 1500px) {
    .container-buttons {
      flex-wrap: wrap;
      margin-top: 12%;
    }
}



.label-button {
  background: #f2f2ff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #8385b4;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon-collapse {
  display: inline;
}

.icon-expand {
  display: none;
}

div > input:checked + label .icon-collapse {
  display: none;
}

div > input:checked + label .icon-expand {
  display: inline;
}

.button-link {
  background-color: #27246d;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.container-buttons-end {
  display: flex;
  gap: 10px;
  justify-content: end;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.clickable {
  cursor: pointer;
}

.not-active {
  pointer-events: none;
}

.new-document {
  background-color: #79cb33;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-none {
  margin-bottom: 0;
}

.edit {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  outline: none;
  border: 1px solid #b4b5d9;
  cursor: text;
  border-radius: 5px;
  padding: 6px;
}

.margin-botton {
  margin-bottom: 20px;
}

.button-beneficiary {
  border: none;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 14px / 16px "Bliss Pro", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27246d;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #ff7b00;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.filter-container {
  gap: 10px;
}

.labelPagination {
  font: normal normal normal 12px/14px "Bliss Pro", sans-serif;
  color: #707072;
}

.paginationInput {
  font: normal normal normal 12px / 14px "Bliss Pro", sans-serif;
  color: #212121;
  width: 40px;
  border: none;
  border-bottom: 2px solid #e6e7ff;
  text-align: center;
  outline: none;
  margin: 0 6px;
}

.containerArrow {
  background-color: #27246d;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-pagination {
  display: flex;
  gap: 6px;
  justify-content: end;
}

.min-w{
    min-width: 200px !important
}


table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    border-right: 1px solid #fff;

  }

  td{
    border-bottom: 1px solid #dee2e6
  }

  th {
    white-space: nowrap;
  }


  .grid-item {
    vertical-align: middle;
  }
    .doble{
    display: flex;
    gap: 10px;
  }