<!--<div class="banner">
  <div class="banner-item"
       *ngIf="step === 1">
    <div class="image-container">
      <img src="assets/soat/banners/v2/Ecommerce-SOAT-01.png"
           alt="Traslado de vehículo en grúa (copago S/30)" />
    </div>
    <div class="text-container">
      Traslado de vehículo en grúa (copago S/35)
    </div>
  </div>
  <div class="banner-item"
       *ngIf="step === 2">
    <div class="image-container">
      <img src="assets/soat/banners/v2/Ecommerce-SOAT-02.png"
           alt="Asistencia legal gratuita" />
    </div>
    <div class="text-container">
      Asistencia legal gratuita
    </div>
  </div>
  <div class="banner-item"
       *ngIf="step === 3">
    <div class="image-container">
      <img src="assets/soat/banners/v2/Ecommerce-SOAT-03.png"
           alt="App con botón de emergencia" />
    </div>
    <div class="text-container">
      App con botón de emergencia
    </div>
  </div>
  <div class="banner-item"
       *ngIf="step === 4">
    <div class="image-container">
      <img src="assets/soat/banners/v2/Ecommerce-SOAT-04.png"
           alt="Asistencia médica gratuita" />
    </div>
    <div class="text-container">
      Asistencia médica gratuita
    </div>
  </div>
  <div class="banner-item"
       *ngIf="step === 5">
    <div class="image-container">
      <img src="assets/soat/banners/v2/Ecommerce-SOAT-05.png"
           alt="Ofertas a precios imbatibles y sorteos" />
    </div>
    <div class="text-container">
      Ofertas a precios imbatibles y sorteos
    </div>
  </div>
  <div class="banner-item"
       *ngIf="step === 6">
    <div class="image-container">
      <img src="assets/soat/banners/v2/Ecommerce-SOAT-06.png"
           alt="Más protección y beneficios para tu mascota" />
    </div>
    <div class="text-container">
      Más protección y beneficios para tu mascota
    </div>
  </div>
  HIDDEN ****
  <div class="banner-item" *ngIf="step === 7">
    <div class="image-container">
      <img
        src="assets/soat/banners/v2/Ecommerce-SOAT-07.png"
        alt="Médicos en línea"
      />
    </div>
    <div class="text-container">
      Médicos en línea
    </div>
  </div>
</div>
-->
<div class="content-new-banner">
  <div class="new-banner-info">
    ¡Bienvenido a la tienda virtual multiseguros de Protecta Security!
  </div>
</div>
