<div class="container-modal" >
  <div class="container-title-modal">
    <h3>Leyenda: Avance Preliminar</h3>
  </div>

  <div class="container-form d-flex flex-column flex-wrap">
    <div class="d-flex align-items-center col-lg-14 mb-0">
      <div class="col-lg-14 mb-0">
        <div class="contenedor" >
          <img src="./assets/vida-inversion/Pre_green.svg" alt="" style="width: 30px; height: 30px;">
          <div class="superior">Día</div>
          <div class="centrado">1</div>
        </div>
        <div class="contenedor" style="padding-left: 7px;">
         <label>La cotización preliminar cuenta con 7 días para realizar la definitiva.</label>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center col-lg-14 mb-0">
      <div class="col-lg-14 mb-0">
        <div class="contenedor">
          <img src="./assets/vida-inversion/Pre_yellow.svg" alt="" style="width: 30px; height: 30px;">
          <div class="superior">Día</div>
          <div class="centrado">3</div>
        </div>
        <div class="contenedor" style="padding-left: 7px;">
          <label>La cotización preliminar cuenta con 5 días para realizar la definitiva.</label>
        </div>
      </div>

    </div>
    <div class="d-flex align-items-center col-lg-14 mb-0">
      <div class="col-lg-14 mb-0">
        <div class="contenedor">
          <img src="./assets/vida-inversion/Pre_red.svg" alt="" style="width: 30px; height: 30px;">
          <div class="superior">Día</div>
          <div class="centrado">6</div>
        </div>
        <div class="contenedor" style="padding-left: 7px;">
          <label>La cotización preliminar cuenta con 2 días para realizar la definitiva.</label>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center col-lg-14 mb-0">
      <div class="col-lg-14 mb-1 " >
        <div class="contenedor">
          <img src="./assets/vida-inversion/check_circle_green.svg" alt="" style="width: 30px; height: 25px;padding-left: 10px;">
        </div>
        <div class="contenedor" style="padding-left: 7px;">
          <label>Se realizó la oficialización de la cotización preliminar.</label>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center col-lg-14 mb-0">
      <div class="col-lg-14 mb-1" >
         <div class="contenedor">
              <img src="./assets/vida-inversion/check_cancel_red.svg" alt="" style="width: 30px; height: 25px;padding-left: 10px;">
         </div>
          <div class="contenedor" style="padding-left: 7px;">
              <label>Ya no se encuentra vigente la cotización preliminar.</label>
          </div>
      </div>
    </div>

    <div class="d-flex align-items-end col-lg-8 mt-3">
        <form-button label="Cerrar" btnClass="btn-primary-VI" (click)="closeModals()"></form-button>
      </div>
  </div>




</div>