<div class="container-fluid px-0 py-0 mx-0 my-0 pt-5">
  <div class="row mx-0 my-0 px-0 py-0">
    <div class="col-lg-6 mx-0 my-0 px-0 py-0 bc1"></div>
    <div class="col-lg-6 mx-0 my-0 px-0 py-0 d-flex align-item-center justify-content-start content-ifo-ap">
      <div class="info-ap">
        <img [src]="'assets/accidentes-personales/logo-ap.png'"
             alt="">
        <h3 class="title-ap">
          Seguros contra <br> Accidentes Personales
        </h3>
        <p class="desc-ap">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto ducimus itaque maxime.
        </p>
      </div>
    </div>
  </div>
  <div class="row mx-0 my-0 px-0 py-0 mx-wd">
    <div class="col-lg-12 mx-0 my-0 px-0 py-0">
      <span class="select-cat">
        Selecciona una <b>categoría</b><br>
        y <b>descubre los productos tenemos para ti</b>
      </span>
    </div>
  </div>
  <div class="row mx-0 my-0 px-0 py-4 mx-wd">
    <div class="col-lg-3 mx-0 my-0 px-0 py-0">
      <div class="product-ap">
        <svg width="120"
             class="img-product"
             height="121"
             viewBox="0 0 120 121"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M82.595 106.282C66.1037 114.007 45.9891 114.915 30.0396 107.36C5.49787 95.7096 -0.292426 59.5931 14.3755 38.4999C28.0474 18.8338 55.7988 4.96976 79.8687 9.18723C108.704 14.2319 119.108 50.4241 111.325 75.1057C106.857 89.3892 95.9056 100.038 82.595 106.282Z"
                fill="#E8E4ED" />
          <path d="M57.2901 12.1816C39.6862 12.1816 38.7076 22.8302 39.9425 35.7681C41.1775 48.7059 49.3211 59.3486 57.2901 59.3486C65.259 59.3486 73.3969 48.735 74.6435 35.7972C75.8901 22.8593 74.894 12.1816 57.2901 12.1816Z"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M62.4982 22.6318C62.4982 22.6318 60.6341 31.4862 47.1836 31.4862"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M60.9658 26.2207C65.1263 28.9243 69.6761 30.9752 74.4571 32.3023"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M54.5174 79.5684L52.0708 98.9722"
                stroke="#ED6E00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M60.063 79.5684L62.5096 98.9722"
                stroke="#ED6E00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M16.8921 98.9719L18.395 78.9505C19.8804 67.8826 26.5503 66.6651 26.5503 66.6651C26.5503 66.6651 33.7853 64.6204 41.4688 63.3389L48.1911 76.9408"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M97.6825 98.9719L96.1737 78.9505C94.6883 67.8826 88.0184 66.6651 88.0184 66.6651C88.0184 66.6651 80.7834 64.6204 73.0999 63.3389L66.4067 76.9408"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M57.3133 82.3063L50.2764 74.3548L57.2667 66.4092H57.3133L64.3094 74.3548L57.3133 82.3063Z"
                stroke="#ED6E00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>

        <span class="title-product">Seguros personales</span>
      </div>
    </div>
    <div class="col-lg-3 mx-0 my-0 px-0 py-0">
      <div class="product-ap">
        <svg width="112"
             height="113"
             class="img-product"
             viewBox="0 0 112 113"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M35.5997 111.38C19.4522 108.934 2.83273 96.9397 0.386126 79.3416C-2.6663 57.3222 17.6347 41.0639 30.3162 25.8484C39.3803 14.9669 48.8463 2.44259 63.4444 1.09113C83.4075 -0.761294 99.2871 13.994 107.39 31.0562C115.732 48.6135 112.435 72.4154 99.5376 88.3125C85.691 105.351 58.3298 114.823 35.5997 111.38Z"
                fill="#E8E4ED" />
          <path d="M2.44824 97.4697H108.019"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M10.0908 97.138V50.8623H21.2753"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M18.9395 74.3965V81.9518"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M18.9395 59.5713V67.1266"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M100.376 96.6429V50.8623H89.1919"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M91.5278 74.3965V81.9518"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M91.5278 59.5713V67.1266"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M35.5415 49.79H74.926"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M35.5415 67.3711H74.926"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M35.5415 58.5801H74.926"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M77.0405 25.8838H83.0172V97.2139"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M27.4502 97.2139V25.8838H33.0075"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M45.2056 97.4232V84.8174H65.2444V97.4349C65.2444 97.4349 45.2056 97.3883 45.2056 97.4232Z"
                stroke="#ED6E00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M55.2368 85.1729V96.8292"
                stroke="#ED6E00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M38.9316 27.8349V16.3184H71.5297V27.8349"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M45.188 22.3594L55.2307 28.3652L65.2792 22.3594"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>

        <span class="title-product">Seguros de empresas</span>
      </div>
    </div>
    <div class="col-lg-3 mx-0 my-0 px-0 py-0">
      <div class="product-ap">
        <svg width="120"
             height="103"
             viewBox="0 0 120 103"
             class="img-product"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M16.2391 100.291C7.18084 96.1143 0.510941 87.2657 0.149776 76.5764C-0.097142 73.0945 -0.0386733 69.5976 0.324526 66.1259C1.39055 55.5939 4.98472 44.9919 9.57501 35.8871C11.7142 31.7849 14.464 28.0314 17.7304 24.755C21.0063 21.5081 24.6256 18.6271 28.5245 16.1628C31.4045 13.8058 34.6973 12.0044 38.2352 10.8502C41.8707 9.66872 45.6522 8.99632 49.4721 8.85212C82.3381 7.59969 129.383 27.3007 117.831 65.2463C110.404 89.4735 83.4624 85.9201 63.2721 92.1356C60.4459 92.9769 57.7133 94.1051 55.1168 95.5026C48.2022 99.3007 38.1828 102.114 30.3537 102.784C25.5119 103.199 20.6459 102.339 16.2391 100.291Z"
                fill="#E8E4ED" />
          <path d="M66.8198 46.081C66.8198 47.9936 66.2527 49.8631 65.1901 51.4533C64.1276 53.0436 62.6174 54.283 60.8504 55.0149C59.0835 55.7468 57.1392 55.9383 55.2634 55.5651C53.3876 55.192 51.6646 54.2711 50.3122 52.9187C48.9599 51.5663 48.0389 49.8433 47.6658 47.9675C47.2927 46.0918 47.4842 44.1475 48.2161 42.3805C48.948 40.6136 50.1874 39.1033 51.7776 38.0408C53.3678 36.9783 55.2374 36.4111 57.1499 36.4111C58.4198 36.4111 59.6772 36.6612 60.8504 37.1472C62.0236 37.6332 63.0896 38.3454 63.9876 39.2434C64.8855 40.1413 65.5977 41.2073 66.0837 42.3805C66.5697 43.5537 66.8198 44.8112 66.8198 46.081Z"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M63.7208 11.2171L72.7266 7.57045L57.6101 1.59375V21.5627"
                stroke="#ED6E00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M63.6159 90.9701V73.7041H50.6431V90.9701"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M82.74 35.0187L57.5749 21.5391L31.5244 35.0187"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M39.3535 37V90.9709"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M19.0645 63.9355V90.9705"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M39.0448 57.9408H13.9438V48.3467H39.0448"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M28.8623 67.7744V74.8463"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M28.8623 79.7217V86.7935"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M75.0857 37.501V90.9709"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M75.2197 57.9408H100.315V48.3467H75.2197"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M85.3965 67.7744V74.8463"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M85.3965 79.7217V86.7935"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M95.2063 63.9355V90.9705"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M57.1265 42.1553V46.0815L59.9634 47.6834"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M12.8955 92.0654H101.684"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>

        <span class="title-product">Colegios</span>
      </div>
    </div>
    <div class="col-lg-3 mx-0 my-0 px-0 py-0">
      <div class="product-ap">
        <svg width="119"
             height="103"
             viewBox="0 0 119 103"
             class="img-product"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M51.7143 3.62115C67.524 -0.922535 83.7531 -1.38273 95.3686 3.4231C101.468 5.94543 107.602 10.326 111.196 16.2911C141.283 66.3182 71.3104 118.332 28.3026 98.1066C16.0347 92.3396 7.291 82.058 2.5376 68.9804C-8.94978 37.4309 20.5143 12.5804 51.7143 3.62115Z"
                fill="#E8E4ED" />
          <path d="M51.2134 33.0264V73.2671"
                stroke="#ED6E00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M67.9377 33.0264V73.2671"
                stroke="#ED6E00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M84.6677 33.0264V73.2671"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M115.262 84.2305H3.88916"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M26.0601 32.4792H93.126V25.2268L59.6076 9.27148L26.0601 25.2035V32.4792Z"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M109.361 74.957H9.78418"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M17.7708 55.1973V73.2672"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M27.5397 45.8828H11.4736V54.4401H27.5397"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M34.4834 33.0264V73.2671"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M101.404 55.1973V73.2672"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
          <path d="M91.6057 45.8828H107.678V54.4401H91.6057"
                stroke="#2B0D61"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>

        <span class="title-product">Administración pública</span>
      </div>
    </div>
  </div>
  <!--
    IMAGENES PARA PRODUCTOS DE CATEGORIA

    *RUTA: 'assets/accidentes-personales/'

    individual => p-individual.svg
    familiar => p-familiar.svg
    viajes => p-viajes.svg
    estudiantil => p-estudiantil.svg
    accidentes laborales => ac-laborales.svg
    aforo => a-aforo.svg
  -->
  <div class="row mx-0 my-0 px-0 py-0 sub-products mx-wd">
    <h4 class="title-sub-products">Productos</h4>
    <div class="cont-sb-prod">
      <div class="csp-chld">
        <div class="content-sub-product">
          <img [src]="'assets/accidentes-personales/p-individual.svg'"
               alt="">
          <span class="title-sub-product">Individual</span>
          <button class="btn-action-sub-product">Cotizar</button>
          <a href=""
             class="more-info">Más información</a>
        </div>
        <input type="checkbox"
               class="chk"
               id="chk1"
               hidden>
        <label for="chk1"
               class="chk-style">¿Asegura a todos sus trabajadores
          cuando viajan por motivos de trabajo?</label>
      </div>
      <div class="csp-chld">
        <div class="content-sub-product">
          <img [src]="'assets/accidentes-personales/p-familiar.svg'"
               alt="">
          <span class="title-sub-product">Familiar</span>
          <button class="btn-action-sub-product">Cotizar</button>
          <a href=""
             class="more-info">Más información</a>
        </div>
        <input type="checkbox"
               class="chk"
               id="chk1"
               hidden>
        <label for="chk1"
               class="chk-style">¿Asegura a todos sus trabajadores
          cuando viajan por motivos de trabajo?</label>
      </div>
      <div class="csp-chld">
        <div class="content-sub-product">
          <img [src]="'assets/accidentes-personales/p-viajes.svg'"
               alt="">
          <span class="title-sub-product">Viajes</span>
          <button class="btn-action-sub-product">Cotizar</button>
          <a href=""
             class="more-info">Más información</a>
        </div>
        <input type="checkbox"
               class="chk"
               id="chk1"
               hidden>
        <label for="chk1"
               class="chk-style">¿Asegura a todos sus trabajadores
          cuando viajan por motivos de trabajo?</label>
      </div>
      <div class="csp-chld">
        <div class="content-sub-product">
          <img [src]="'assets/accidentes-personales/p-estudiantil.svg'"
               alt="">
          <span class="title-sub-product">Estudiantil</span>
          <button class="btn-action-sub-product">Cotizar</button>
          <a href=""
             class="more-info">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>
