<div class="container soat-container" *ngIf="!moreInfo">
  <div class="soat-navigation space">
    <i class="fa fa-caret-left arrow"></i>
    <a routerLink="/sctr/step-1" class="soat-link">Regresar al paso 1</a>
  </div>

  <div class="soat-header space">
    <h2 class="title">
      4. Cotización Vida Ley
    </h2>
  </div>

  <div class="soat-error-message-container">
    <p class="fwb bf bf-lh">
      Hola! tu solicitud ha sido <br />recepcionada por un asesor de <br />
      Protecta Security, pronto nos <br />estaremos comunicando contigo.
    </p>
    <p>
      Contáctanos en:<br />
      Correo Electrónico: <b class="fwb strong">clientes@protectasecurity.pe</b
      ><br />
      Línea telefónica directa: <b class="fwb strong">(01) 391 3000</b><br />
      Estamos a tu disposición de lunes a viernes de
      <b class="fwb strong">9:00 a.m.</b> a <b class="fwb strong">6:00 p.m.</b>
    </p>
  </div>
</div>

<div class="container soat-container" *ngIf="moreInfo">
  <div class="soat-navigation space">
    <i class="fa fa-caret-left arrow"></i>
    <a routerLink="/sctr/step-1" class="soat-link">Realizar otra compra</a>
  </div>

  <div class="soat-error-message-container">
    <p class="fwb bf bf-lh">
      Hola! tu solicitud ha sido <br />recepcionada por un asesor de <br />
      Protecta Security, pronto nos <br />estaremos comunicando contigo.
    </p>
    <p>
      Contáctanos en:<br />
      Correo Electrónico: <b class="fwb strong">clientes@protectasecurity.pe</b
      ><br />
      Línea telefónica directa: <b class="fwb strong">(01) 391 3000</b><br />
      Estamos a tu disposición de lunes a viernes de
      <b class="fwb strong">9:00 a.m.</b> a <b class="fwb strong">6:00 p.m.</b>
    </p>
  </div>
</div>
