<div class="container">
  <div class="row">
    <div class="col title-container">
      <h1>¿Qué producto deseas comprar?</h1>
      <p>Elige el producto que vas a comprar</p>
    </div>
  </div>
  <div class="row product-container">
    <div class="col">
      <div class="product-card"
           (click)="onProductClick('soat')">
        <img src="assets/shop/SOAT.png"
             alt="SOAT" />
        <span>SOAT</span>
      </div>
    </div>
    <!-- <div class="col">
      <div class="product-card"
           (click)="onProductClick('sctr')">
        <img src="assets/shop/SCTR.png"
             alt="SCTR" />
        <span>SCTR</span>
      </div>
    </div> -->
    <div class="col">
      <div class="product-card"
           (click)="onProductClick('vidaley')">
        <img src="assets/shop/VIDA LEY.png"
             alt="VIDA LEY" />
        <span>VIDA LEY</span>
      </div>
    </div>
  </div>
</div>
