<div class="padding-modal">
  <div class="modal-header border-none">
    <h4 class="modal-title title-re" id="modal-basic-title">
      Envío de Comentario
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="formModalReference.dismiss()"
      value="&times;"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-one-section">
      <div class="container-multi-select">
        <div *ngIf="POPUPDATA == 3" class="content-multi-select">
          <label for="multi-select">DESTINATARIOS</label>
          <input
            class="input-multi-select"
            type="text"
            [value]="selectedOptionsValue()"
            readonly
            (click)="toggleSelectVisibility()"
            [disabled]="listActions.DESTINATARIOS_M == 'TRUE' ? false : true"
            [class.warning]="P_NCODE == 2"
          />
          <select
            class="multi-select"
            *ngIf="isSelectVisible"
            id="multi-select"
            multiple
            (change)="onSelectChange($event)"
            [disabled]="listActions.DESTINATARIOS_M == 'TRUE' ? false : true"
            [class.warning]="P_NCODE == 2"
          >
            <option
              *ngFor="let option of opcionesDestinatarios"
              [value]="option.code"
            >
              {{ option.value }}
            </option>
          </select>
          <span *ngIf="P_NCODE == 1" [class.errorText]="P_NCODE == 1">
            <ng-container *ngFor="let part of P_SMESSAGE">
              * {{ part }}<br />
            </ng-container>
          </span>
          <span *ngIf="P_NCODE == 2" [class.warningText]="P_NCODE == 2">
            <ng-container *ngFor="let part of P_SMESSAGE">
              * {{ part }}<br />
            </ng-container>
          </span>
        </div>
      </div>

      <form-input-select-re
        label="Tipo de comentario"
        [items]="opcionesTipoComentario"
        [itemsArray]="true"
        fieldCodigo="codigo"
        fieldValor="valor"
        [firstSelect]="true"
        [disabled]="listActions.TIPO_COMENTARIO_M == 'TRUE' ? false : true"
        [(value)]="inputs.NCOMMUNICATION_TYPE"
      ></form-input-select-re>
      <!-- <form-input-text-re
        *ngIf="POPUPDATA == 3"
        label="Asunto"
        [disabled]="listActions.ASUNTO_M == 'TRUE' ? false : true"
        [defaultValue]="mailSubject"
        [(value)]="inputs.SEMAIL_SUBJECT"
      >
      </form-input-text-re> -->
      <form-input-textarea-re
        label="Mensaje"
        [rows]="8"
        [disabled]="listActions.MENSAJE_M == 'TRUE' ? false : true"
        [(value)]="inputs.SEMAIL_MESSAGE"
      >
      </form-input-textarea-re>
    </div>
    <div *ngIf="POPUPDATA == 3" class="collapse-panel-table">
      <div class="table-responsive">
        <table class="table mb-none">
          <thead class="t-head">
            <tr class="grid-title">
              <th class="grid-title-item">Documento</th>
              <th class="grid-title-item">Tamaño</th>
              <th class="grid-title-item">Adjuntar</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let doc of listAdj">
              <tr class="grid-title row-item">
                <td class="grid-item">{{ doc.SNAME }}</td>
                <td class="grid-item">{{ doc.SSIZE }}</td>
                <td class="grid-item">
                  <input
                    [disabled]="listActions.ADJUNTAR_M == 'TRUE' ? false : true"
                    [checked]="doc.NATTACHEMAIL== 1"
                    type="checkbox"
                    (change)="
                      updAttachmentAdj(doc.NID, $event.target.checked ? 1 : 2)
                    "
                  />
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-footer border-none">
    
    <button
      *ngIf="POPUPDATA == 3"
      [style.background]="
      listActions?.ADJUNTAR_ARCHIVO == 'TRUE' ? '#686565' : '#8385B4'
    "
    [disabled]="listActions.ADJUNTAR_ARCHIVO == 'TRUE' ? false : true"
      class="button-adjuntar"
      (click)="ModalAdjuntar()"
    >
      <span>Adjuntar</span>
    </button>
    <button
      [style.background]="
        listActions?.CANCELAR_M == 'TRUE' ? '#fff' : '#8385B4'
      "
      [disabled]="listActions.CANCELAR_M == 'TRUE' ? false : true"
      class="button-cancelar"
      (click)="formModalReference.dismiss()"
    >
      <span>Cancelar</span>
    </button>
    <button
      [style.background]="
        listActions?.ENVIAR_M == 'TRUE' ? '#79CB33' : '#8385B4'
      "
      [disabled]="listActions.ENVIAR_M == 'TRUE' ? false : true"
      class="button-Guardar"
      (click)="validateForm()"
    >
      <span>Enviar</span>
    </button>
  </div>
</div>
