<!--**********************************************************************************************/
/*  NOMBRE              :   Devoluciones.component.html                                          */
/*  DESCRIPCION         :   Capa components                                                      */
/*  AUTOR               :   MATERIAGRIS - JORGE LUIS BEDON GONZALES                              */
/*  FECHA               :   02-06-2022                                                           */
/*  VERSION             :   1.0 - Devoluciones                                                   */
/************************************************************************************************-->

<title></title>
    <!-- Ignite UI for jQuery Required Combined CSS Files -->
    <link href="http://cdn-na.infragistics.com/igniteui/2021.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2021.2/latest/css/structure/infragistics.css" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!-- Ignite UI for jQuery Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2021.2/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2021.2/latest/js/infragistics.lob.js"></script>

    <div class="row">
      <div class="col-lg-3">
        <app-nav-menuprod></app-nav-menuprod>
      </div>
      <div class="col-lg-9">

        <div class="card">
          <div class="row m-2" [formGroup]="filterForm">

                  <div class="col-sm-3">
                      <span>NC/ABONO A DEVOLVER</span><!-- Listamos los RAMOS -->
                      <select formControlName="nabonodev"
                      class="minimal" [ngClass]="{'error-validate': submitted && (!filterForm.controls.nabonodev.valid || filterForm.hasError('required'))}">
                        <!-- (change)="SelectBranch()" -->
                        <option value="null" disabled>SELECCIONE</option>
                        <option *ngFor="let item of filtroDevolucion" value="{{item.ntipdev}}">
                            {{item.des_tipdev}}</option>
                    </select>
                    <ng-container [ngSwitch]="true" *ngIf="submitted && (!filterForm.controls.nabonodev.valid) && !filterForm.valid">
                      <span *ngSwitchCase="filterForm.get('nabonodev').hasError('required')" class="mensaje-error-control">
                        Seleccione un NC/Abono a Devolver.
                      </span>
                      </ng-container>
                  </div>
                  <div class="col-sm-3">
                      <span>REALIZAR PAGOS</span><!-- Listamos los RAMOS -->
                      <select formControlName="ntipodev"
                        class="minimal" [ngClass]="{'error-validate': submitted && (!filterForm.controls.ntipodev.valid || filterForm.hasError('required'))}">
                        <!-- (change)="SelectBranch()" -->
                        <option value="null" disabled>SELECCIONE</option>
                        <option *ngFor="let item of filtroTipoDevolucion" value="{{item.nvalue}}">
                            {{item.svalue}}</option>
                    </select>
                    <ng-container [ngSwitch]="true" *ngIf="submitted && (!filterForm.controls.ntipodev.valid) && !filterForm.valid">
                      <span *ngSwitchCase="filterForm.get('ntipodev').hasError('required')" class="mensaje-error-control">
                        Seleccione un Tipo de Pago.
                      </span>
                      </ng-container>
                  </div>
                   <!--Filtro de fechas-->
                   <div class="col-sm-3">
                    <span>FECHA DE INICIO</span>
                    <!-- <input type="text" formControlName="dfechaini" #dp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker  readonly [ngClass]="{'error-validate': submitted && (!filterForm.controls.dfechaini.valid || filterForm.hasError('datesNotSortedCorrectly'))}" > -->
                      <input class="form-control" type="date" formControlName="dfechaini" max="{{ diaActual.toString() | date:'yyyy-MM-dd' }}"
                        [ngClass]="{'error-validate': submitted && (!filterForm.controls.dfechaini.valid || filterForm.hasError('datesNotSortedCorrectly'))}">
                    <ng-container [ngSwitch]="true" *ngIf="submitted && (!filterForm.controls.dfechaini.valid || filterForm.hasError('datesNotSortedCorrectly')) && !filterForm.valid">
                      <span *ngSwitchCase="filterForm.get('dfechaini').hasError('required')" class="mensaje-error-control">
                          La fecha inicial es requerida.
                      </span>
                      <span *ngSwitchCase="!filterForm.controls.dfechaini.valid && !filterForm.get('dfechaini').hasError('required')" class="mensaje-error-control">
                          La fecha inicial no es válida.
                      </span>
                      <span *ngSwitchCase="filterForm.hasError('datesNotSortedCorrectly')" class="mensaje-error-control">
                          La fecha inicial debe ser menor a la fecha final.
                      </span>
                  </ng-container>
                  </div>
                  <div class="col-sm-3">
                    <span>FECHA DE FIN</span>
                    <!-- <input type="text" formControlName="dfechafin" #dp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker readonly [ngClass]="{'error-validate': submitted && (!filterForm.controls.dfechafin.valid || filterForm.hasError('datesNotSortedCorrectly'))}"> -->
                     <input class="form-control" type="date" formControlName="dfechafin" max="{{ diaActual.toString() | date:'yyyy-MM-dd' }}"
                        [ngClass]="{'error-validate': submitted && (!filterForm.controls.dfechafin.valid || filterForm.hasError('datesNotSortedCorrectly'))}">
                     <ng-container [ngSwitch]="true" *ngIf="submitted && (!filterForm.controls.dfechafin.valid || filterForm.hasError('datesNotSortedCorrectly')) && !filterForm.valid">
                      <span *ngSwitchCase="filterForm.get('dfechafin').hasError('required')" class="mensaje-error-control">
                          La fecha final es requerida.
                      </span>
                      <span *ngSwitchCase="!filterForm.controls.dfechafin.valid && !filterForm.get('dfechafin').hasError('required')" class="mensaje-error-control">
                          La fecha final no es válida.
                      </span>
                      <span *ngSwitchCase="filterForm.hasError('datesNotSortedCorrectly')" class="mensaje-error-control">
                          La fecha final debe ser mayor a la fecha inicial.
                      </span>
                  </ng-container>
                  </div>
                  <!--Visualizar-->
                  <div class="col-sm-3">
                    <span>&nbsp;</span>
                    <button class="full-color"  (click)="visualizar()"  [disabled]="" >
                      <span>VISUALIZAR</span>
                    </button>
                  </div>
                  <div class="col-sm-9">

                  </div>

           </div>

              <div class="row m-2">
                  <div class="col-sm-12 ">
                          <div class="grid form-group">
                            <div class="table-responsive">
                              <table id="table1" class="table">
                                <thead>
                                  <tr class="grid-title">
                                    <td style="display:none;"></td>
                                    <td class="grid-title-item">FECHA</td>
                                    <td class="grid-title-item">USUARIO</td>
                                    <td class="grid-title-item">N° CERTIFICADO</td>
                                    <td class="grid-title-item">N° TRANSACCIÓN</td>
                                    <td class="grid-title-item">MOTIVO DEVOLUCIÓN</td>
                                    <td class="grid-title-item">PRODUCTO</td>
                                    <td class="grid-title-item">CLIENTE</td>
                                    <td class="grid-title-item">FACTURA</td>
                                    <td class="grid-title-item">NOTA DE CRÉDITO</td>
                                    <td class="grid-title-item">TIPO DE MONEDA</td>
                                    <td>
                                      <input type="checkbox" [checked]="seleccionarTodos" (value)="seleccionarTodos"  (click)="onRowClick1();"/>
                                    </td>
                                  </tr>
                                </thead>
                                <ng-container
                                  *ngIf="listVisualizarResults.length ==0; then hideGrid else showGrid">
                                </ng-container>

                              </table>
                              <ng-template #hideGrid>
                                <tbody>
                                  <tr>
                                    <td class="text-center" colspan="10">No se encontraron registros.</td>
                                  </tr>
                                </tbody>
                              </ng-template>
                              <ng-template #showGrid>

                                <tbody *ngFor="let gri1 of listToShow; let indice=index"
                                 style="cursor: pointer;">
                                  <tr>
                                    <td style="display:none;">{{gri1.NIDDEV}}</td>
                                    <td class="data-table-tr-td" >{{gri1.DFECHADEV | date:'dd/MM/yyyy'}}</td>
                                    <td class="data-table-tr-td">{{gri1.SUSUARIO}}</td>
                                    <td class="data-table-tr-td">{{gri1.NRO_CERTIFICADO}}</td>
                                    <td class="data-table-tr-td">{{gri1.NRO_TRANSACCION}}</td>
                                    <td class="data-table-tr-td">{{gri1.MOTIVO_DEVOLUCION}}</td>
                                    <td class="data-table-tr-td">{{gri1.SPRODUCTO}}</td>
                                    <td class="data-table-tr-td">{{gri1.SCLIENTE}}</td><!--Estado del comprobante-->
                                    <td class="data-table-tr-td">{{gri1.FACTURA}}</td>
                                    <td class="data-table-tr-td">{{gri1.NOTA_CREDITO }}</td>
                                    <td class="data-table-tr-td">{{gri1.S_MONEDA}}</td>
                                    <td>

                                        <input type="checkbox" [checked]="gri1.IS_SELECT" (value)="gri1.IS_SELECT"  (click)="onRowClick(indice,gri1);"/>
                                    </td>
                                  </tr>
                                </tbody>



                                  <div class="row mt-4">
                                      <div class="col-sm-12">
                                          <ngb-pagination  [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
                                              (pageChange)="pageChanged(currentPage)">
                                              <ng-template ngbPaginationPrevious>ANTERIOR</ng-template>
                                              <ng-template ngbPaginationNext>SIGUIENTE</ng-template>
                                          </ngb-pagination>
                                      </div>
                                  </div>

                              </ng-template>


                            </div>
                          </div>



                  </div>



                  <div class="col-sm-1">
                      Elegir cuenta origen:
                  </div>
                  <div class="col-sm-2">
                    <span>NC/ABONO A DEVOLVER</span><!-- Listamos los RAMOS -->
                    <select  [(ngModel)]="EnviarExactus.bancoProtecta" class="minimal">
                      <!-- (change)="SelectBranch()" -->
                      <option value="0" selected class="d-none">SELECCIONE</option>
                      <option *ngFor="let item of filtroBancoCaja" value="{{item.id_entidad}}">
                          {{item.vc_nombre}}</option>
                  </select>
                  </div>
                  <div class="col-sm-2">

                      <span>NÚMERO DE CUENTA</span>
                      <!-- <input   [(ngModel)]="EnviarExactus.numeroCuentaProtecta" (keypress)="soloNumeros($event)"  type="text" name="poliza" value="000003486"  maxlength="20"/> -->
                      <input   [(ngModel)]="EnviarExactus.numeroCuentaProtecta" (keypress)="soloNumeros($event)"  type="text" name="poliza" maxlength="20"/>


                  </div>
                  <div class="col-sm-7">
                  </div>

                  <div class="col-sm-3">
                    <span>&nbsp;</span>
                    <button class="full-color"  (click)="enviarExactus()"  >
                      <span>GENERAR ARCHIVO EXACTUS</span>
                    </button>
                  </div>



                </div>

       </div>

    </div>
  </div>
<script type="text/javascript">
  function metchec(nom){
    alert(nom);
        nom.checked = checked;

  }
</script>
