<div class="content-modal-u">
  <div class="modal-u mt">
    <div class="modal__header">
      <h6 class="modal__header--title">TÉRMINOS Y CONDICIONES</h6>
      <button class="modal__header--close" (click)="closeModal()">
        &times;
      </button>
    </div>
    <div class="modal__body">
      <!-- Descripción -->
      <div class="mt__group">
        <p class="mt__group--desc">
          Mediante el uso de este Portal el usuario acepta los Términos y
          Condiciones, y declara bajo juramento tener 18 años de edad o más. El
          uso de este Portal implica la aceptación incondicional e irrevocable
          de que toda la información y actividad realizada mediante este portal
          se encuentran regidas por estos Términos y Condiciones. Asimismo,
          Protecta S.A. Compañía de Seguros, con RUC N° 20517207331, y con
          domicilio en Avenida Domingo Orué N° 165, Piso 8, Surquillo – Lima (en
          adelante “PROTECTA SECURITY”); es titular de la Plataforma Web.
        </p>
      </div>

      <!-- Información sobre el Seguro de Accidentes Personales  -->
      <h6 class="mt__subtitle">
        I. Información sobre el Seguro de Vida Crédito Fácil
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El Seguro de Vida Crédito Fácil cubre el riesgo de Muerte Natural,
          Muerte Accidental, Invalidez Total y Permanente por Accidente o
          Enfermedad del asegurado conforme a lo detallado en la póliza de
          seguro.
        </p>
      </div>

      <!-- Características del Seguro: -->
      <h6 class="mt__subtitle">II. Características del Seguro:</h6>

      <!-- Personas Asegurables:  -->
      <div class="mt__group">
        <ul class="mt__group--list">
          <li class="mt__group--list-item has-weight">
            1. Personas Asegurables y requisitos de aseguramiento:
          </li>
        </ul>
        <p class="mt__group--desc">
          Podrán asegurarse bajo la presente póliza cualquier persona natural,
          considerando una edad referencial entre los 18 años y 60 años; y demás
          consideraciones que son señaladas en la póliza del seguro.
        </p>
        <p class="mt__group--desc">
          Las edades declaradas por el Contratante y/o Asegurado deben
          comprobarse con documento oficial en los casos que así lo juzgue
          necesario PROTECTA SECURITY, después de producido el Siniestro.
        </p>
        <p class="mt__group--desc">
          PROTECTA SECURITY con el fin de evaluar el otorgamiento de la Póliza,
          exige la presentación de la Declaración de Riesgo contenida en la
          correspondiente Solicitud de Seguro en todos los casos. De estimarlo
          necesario PROTECTA SECURITY podrá adicionalmente solicitar la
          suscripción de la Declaración Personal de Salud (DPS), la cual debe
          ser llenada por el Asegurado solicitante del seguro. Asimismo, podrá
          requerir información adicional al titular del crédito (tales como
          informes médicos, cuestionarios, entre otros) o el sometimiento a
          exámenes médicos.
        </p>
      </div>

      <!-- Obligaciones del contratante y asegurado -->
      <div class="mt__group">
        <ul class="mt__group--list">
          <li class="mt__group--list-item has-weight">
            2. Obligaciones del contratante y asegurado
          </li>
        </ul>
        <p class="mt__group--desc">
          El Contratante se compromete a pagar la prima que PROTECTA SECURITY
          cobra por la prestación. Asimismo, el Contratante y/o Asegurado se
          obliga a llenar y completar debidamente la Solicitud del Seguro y/o
          Declaración Personal de Salud con información veraz y exacta.
        </p>
      </div>

      <!-- Riesgos cubiertos  -->
      <div class="mt__group">
        <ul class="mt__group--list">
          <li class="mt__group--list-item has-weight">3. Riesgos cubiertos</li>
        </ul>
        <p class="mt__group--desc">
          Para efectos de este seguro, se otorga las siguientes coberturas
          principales:
        </p>

        <ol class="mt__group--list" type="a">
          <li class="mt__group--list-item">
            Muerte Natural: Esto supone que PROTECTA SECURITY indemnizará a
            los Beneficiarios de tu seguro por la Suma Asegurada, después de
            acreditar el fallecimiento del Asegurado como consecuencia de su
            muerte natural.
          </li>
          <li class="mt__group--list-item">
            Muerte Accidental: Esto supone que PROTECTA SECURITY indemnizará
            a los Beneficiarios de tu seguro por la Suma Asegurada, después de
            acreditar el fallecimiento del Asegurado como consecuencia de un
            accidente.
          </li>
          <li class="mt__group--list-item">
            Invalidez Total y Permanente por Accidente o Enfermedad: Esto
            supone que PROTECTA SECURITY indemnizará a los Beneficiarios por la
            Suma Asegurada, si a causa de un accidente o una enfermedad el
            Asegurado sufre una Invalidez Total y Permanente declarada por un
            profesional médico colegiado.
          </li>
        </ol>
        <p class="mt__group--desc">
          El beneficio será indemnizado siempre y cuando la invalidez total y
          permanente antes indicada ocurra durante la vigencia de tu seguro, de
          acuerdo a los términos y condiciones pactadas en ella.
        </p>
      </div>

      <!-- Exclusiones  -->
      <div class="mt__group">
        <h6 class="mt__subtitle">III. Principales Exclusiones</h6>
        <p class="mt__group--desc">
          El presente Contrato de Seguro no otorga cobertura a los Siniestros
          ocurridos como consecuencia de, en relación a, o como producto de:
        </p>
        <ol class="mt__group--list" type="a">
          <li class="mt__group--list-item">Auto mutilación o auto lesión.</li>
          <li class="mt__group--list-item">
            Pena de muerte o participación en cualquier acto delictivo o en
            actos violatorios de leyes o reglamentos; duelo concertado; servicio
            militar; así como en huelgas, motín, conmoción civil, daño
            malicioso, vandalismo y terrorismo.
          </li>
          <li class="mt__group--list-item">
            Por acto delictivo cometido por el Beneficiario o heredero contra el
            Asegurado o contra alguno de los Beneficiarios declarados en la
            Póliza, en calidad del autor o cómplice, dejando a salvo el derecho
            a recibir el monto de suma asegurada a los restantes Beneficiarios o
            herederos, si los hubiere, así como su derecho acrecer.
          </li>
          <li class="mt__group--list-item">
            Guerra, invasión u operaciones bélicas (al margen de que exista o no
            declaración de guerra), actos hostiles de entidades soberanas o del
            gobierno, guerra civil, rebelión, revolución, insurrección,
            conmoción civil que adquiera las proporciones de un levantamiento,
            poder militar o usurpado, ley marcial o confiscación por orden de un
            Gobierno o autoridad pública.
          </li>
          <li class="mt__group--list-item">
            Detonación nuclear, reacción nuclear, radiación nuclear o
            contaminación radioactiva; independientemente de la forma en que se
            haya ocasionado.
          </li>
          <li class="mt__group--list-item">
            Viajes o vuelo en vehículo aéreo de cualquier clase, excepto como
            pasajero en uno operado por una empresa de transporte aéreo
            comercial, sobre una ruta establecida oficialmente para el
            transporte de pasajeros y sujeta a itinerario.
          </li>
          <li class="mt__group--list-item">
            Participación como conductor o acompañante en carreras de
            automóviles, motocicletas, lanchas a motor o avionetas, incluyendo
            carreras de entrenamiento.
          </li>
          <li class="mt__group--list-item">
            Realización de actividades riesgosas y/o deportes riesgosos:
            escalamiento, alpinismo, andinismo, montañismo, paracaidismo,
            parapente, ala delta, aeronaves ultraligeras, salto desde puentes o
            puntos elevados al vacío, buceo profesional o de recreo, inmersión o
            caza submarina, canotaje, surf, windsurf, barranquismo, sandboard,
            snowboard, esquí, ciclismo de montaña, kayak extremo, rafting,
            rápel, parkour.
          </li>
          <li class="mt__group--list-item">
            Cuando el Asegurado se encuentre bajo la influencia de alcohol (0,5
            g/l o más) o mientras se encuentre bajo la influencia de drogas.
            Esta exclusión es aplicable para cualquier tipo de accidente, y el
            estado del Asegurado se determinará con los análisis toxicológicos
            con resultado de alcoholemia y toxinas. Para efectos de esta
            exclusión, y solo en el caso de accidente de tránsito y siempre que
            el Asegurado haya conducido el vehículo, se presumirá que el
            Asegurado se encontraba bajo los efectos del alcohol o drogas, si
            éste o sus familiares, según sea el caso, se negara(n) a que se le
            practique el examen de alcoholemia, toxicológico o dosaje etílico,
            según corresponda.
          </li>
          <li class="mt__group--list-item">
            Eventos catastróficos ocasionados por fenómenos de la naturaleza:
            Terremoto, temblor, erupción volcánica, fuego subterráneo, tifón,
            huracán, tornado, ciclón u otra convulsión de la naturaleza o
            perturbación atmosférica.
          </li>
          <li class="mt__group--list-item">
            Enfermedades preexistentes, entendiéndose como aquellas enfermedades
            o alteraciones del estado de salud que se le hayan diagnosticado por
            un profesional médico colegiado al Asegurado con anterioridad a la
            contratación del seguro, conocida por este y no resuelta en el
            momento previo a la presentación de la declaración de salud.
          </li>
          <li class="mt__group--list-item">
            Síndrome de Inmuno Deficiencia Adquirida (SIDA).
          </li>
          <li class="mt__group--list-item">
            Suicidio, incluyendo homicidio al Asegurado por terceros con su
            consentimiento. No obstante, PROTECTA SECURITY pagará la
            indemnización correspondiente a los Beneficiarios, si el
            fallecimiento ocurriera como consecuencia de suicidio, siempre que
            hubieran transcurrido dos (2) años completos e ininterrumpidos desde
            la fecha de contratación del seguro.
          </li>
          <li class="mt__group--list-item">
            Todos los tipos de parto o aborto y complicaciones médicas de los
            mismos.
          </li>
          <li class="mt__group--list-item">
            Ejecución de labores de riesgo: miembros de las fuerzas armadas,
            bomberos, buzos, salvavidas, rescatistas, personal de seguridad y
            vigilancia, personal que labora en minas o con explosivos, no
            estarán cubiertos bajo esta póliza si su fallecimiento se origina
            durante o a consecuencia del desempeño de dichas actividades.
          </li>
          <li class="mt__group--list-item">
            Envenenamiento o inhalación de un gas venenoso.
          </li>
          <li class="mt__group--list-item">Desórdenes nerviosos o mentales.</li>
          <li class="mt__group--list-item">
            Tratamientos médicos, fisioterapéuticos, quirúrgicos, anestésicos o
            similares.
          </li>
        </ol>
        <p class="mt__group--desc">
          PROTECTA SECURITY puede establecer exclusiones adicionales en las
          Cláusulas Adicionales que forman parte integrante de la Póliza, las
          cuales únicamente serán consideradas para la cobertura respectiva.
        </p>
      </div>

      <!-- Vigencia de cobertura -->
      <h6 class="mt__subtitle">IV. Vigencia de cobertura</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          La vigencia es única por el plazo que haya elegido el contratante y/o
          asegurado; y es no renovable.
        </p>
      </div>

      <!-- Costo de Prima -->
      <h6 class="mt__subtitle">V. Costo total de la Prima</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El costo de la prima varía de acuerdo a la periodicidad de pago
          elegida por el contratante y/o asegurado y demás información brindada
          por este; y se detallará en las condiciones particulares de la póliza.
        </p>
      </div>

      <!-- Costo de Prima -->
      <h6 class="mt__subtitle">VI. Forma de pago de la prima</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El pago de la prima total estará a cargo del Contratante y la forma de
          pago podrá ser un pago único (un solo pago por toda la vigencia del
          seguro), mensual, bimensual, anual, etc.
        </p>
      </div>

      <!-- Vigencia del Seguro y Validez -->
      <h6 class="mt__subtitle">
        VII. Fecha de Promoción del seguro y Periodo de validez
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El plazo de vigencia de la cotización del seguro de Vida Crédito Fácil
          es de 30 días contados desde la entrega de la cotización.
        </p>
      </div>

      <!-- Beneficiarios -->
      <h6 class="mt__subtitle">VIII. Beneficiarios</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El Beneficiario de tu Seguro puede ser una Persona Natural o Persona
          Jurídica que se encuentre debidamente registrada en la Solicitud o, y
          en caso tu Póliza se encuentre endosada el Beneficiario resultaría ser
          la Entidad Financiera.
        </p>
      </div>

      <!-- Aviso de Siniestro y solicitud de cobertura -->
      <div class="mt__group">
        <h6 class="mt__subtitle">
          IX. Aviso de Siniestro y solicitud de cobertura
        </h6>
        <p class="mt__group--desc">
          Cuando ocurra el evento o siniestro que es protegido por este seguro,
          el Contratante, Asegurado o Beneficiario, según corresponda, deberá
          realizar lo siguiente:
        </p>
        <p class="mt__group--desc">
          Informar sobre el referido evento o siniestro a PROTECTA SECURITY
          dentro de los siete (7) días siguientes a la fecha en que se tenga
          conocimiento de la ocurrencia del mismo o del beneficio del seguro.
        </p>
        <p class="mt__group--desc">
          - En caso de Muerte Natural, deberá presentarse la siguiente
          información a PROTECTA SECURITY y/o el Comercializador, en caso
          corresponda, en original o copia certificada o copia con certificación
          de reproducción notarial (antes copia legalizada):
        </p>
        <ol class="mt__group--list" type="a">
          <li class="mt__group--list-item">
            Acta de defunción del asegurado emitido por RENIEC
          </li>
          <li class="mt__group--list-item">
            Certificado de defunción del Asegurado emitido por el médico
            tratante o establecimiento de salud.
          </li>
          <li class="mt__group--list-item">
            Copia Fedateada y Foliada de la Historia Clínica completa del
            Asegurado emitida por el establecimiento de salud correspondiente,
            si lo hubiere.
          </li>
          <li class="mt__group--list-item">
            Estado de cuenta del préstamo a la fecha del siniestro, en caso esta
            Póliza de Seguro haya sido endosada a favor de una Entidad
            Financiera (original).
          </li>
          <li class="mt__group--list-item">
            En caso no se haya designado Beneficiario en la Solicitud de Seguro,
            se requiere la Copia Certificada u original de la Partida Registral
            donde conste inscrito el Acta de Sucesión Intestada o el testamento
            del Asegurado, o la Resolución Judicial de Declaración de Herederos
            del Asegurado; emitido por las oficinas de Registros Públicos del
            país o ante un Juzgado de Familia o Paz Letrado, respectivamente.
          </li>
        </ol>
        <p class="mt__group--desc">
          - En caso de Muerte Accidental, deberá presentarse la siguiente
          información en original o copia certificada o copia con certificación
          de reproducción notarial (antes copia legalizada):
        </p>
        <ol class="mt__group--list" type="a">
          <li class="mt__group--list-item">
            copia certificada o copia con certificación de reproducción notarial
            (antes copia legalizada):
          </li>
          <li class="mt__group--list-item">
            Certificado de defunción del Asegurado emitido por el médico
            tratante o establecimiento de salud.
          </li>
          <li class="mt__group--list-item">
            Copia del Documento de Identidad o Partida de Nacimiento de los
            Beneficiarios, emitido por RENIEC.
          </li>
          <li class="mt__group--list-item">
            Atestado o Parte Policial, emitido por la Policía Nacional del Perú,
            si lo hubiere.
          </li>
          <li class="mt__group--list-item">
            Protocolo de Necropsia del Asegurado, emitido por el Instituto de
            Medicina Legal, si lo hubiere.
          </li>
          <li class="mt__group--list-item">
            Resultado del dosaje etílico y toxicológico. del Asegurado, emitido
            por el Instituto de Medicina Legal o la Policía Nacional del Perú,
            si lo hubiere.
          </li>
        </ol>
        <p class="mt__group--desc">
          - En caso de Invalidez Total y Permanente por Accidente o Enfermedad,
          deberá presentarse la siguiente información en original o copia
          certificada o copia con certificación de reproducción notarial (antes
          copia legalizada):
        </p>
        <ol class="mt__group--list" type="a">
          <li class="mt__group--list-item">
            Documento de Identidad del Asegurado.
          </li>
          <li class="mt__group--list-item">
            Informe médico indicando el diagnóstico y pronóstico que determinen
            la causa y las circunstancias del siniestro, emitido por el Médico
            Tratante que atendió al asegurado al momento del siniestro o por el
            Establecimiento de Salud donde se atendió al asegurado al momento
            del siniestro.
          </li>
          <li class="mt__group--list-item">
            Atestado Policial, emitido por la Policía Nacional del Perú, si lo
            hubiere.
          </li>
          <li class="mt__group--list-item">
            Resultado de dosaje etílico del Asegurado, emitido por el Instituto
            de Medicina Legal o la Policía Nacional del Perú, si lo hubiere.
          </li>
          <li class="mt__group--list-item">
            Resultado de dosaje toxicológico del Asegurado, emitido por el
            Instituto de Medicina Legal o la Policía Nacional del Perú, si lo
            hubiere.
          </li>
          <li class="mt__group--list-item">
            Dictamen de Invalidez Total y Permanente expedido por el Ministerio
            de Salud o por la Comisión Médica Evaluadora de Incapacidades de
            ESSALUD, por el Instituto Nacional de Rehabilitación o los Servicios
            de Seguridad Social o la COMAFP (Comité médico de las AFP) y/o COMEC
            (Comité médico de la SBS) o el dictamen emitido por las Fuerzas
            Armadas (en caso corresponda a este régimen).
          </li>
        </ol>
        <p class="mt__group--desc">
          Luego de que se acredite la presentación de los documentos, PROTECTA
          SECURITY, en un plazo máximo de treinta (30) días, procederá a
          evaluarlos con el fin de determinar si aprueba o rechaza el siniestro.
        </p>
        <p class="mt__group--desc">
          Si PROTECTA SECURITY requiere aclaraciones o precisiones adicionales
          respecto de la documentación e información presentada, deberá
          solicitarlas dentro de los primeros veinte (20) días del plazo
          otorgado para la evaluación del siniestro; lo que suspenderá dicho
          plazo hasta que se presente la documentación e información
          correspondiente.
        </p>
        <p class="mt__group--desc">
          En caso que PROTECTA SECURITY no se pronuncie dentro de los treinta
          (30) días para aprobar o rechazar el siniestro, se entenderá que éste
          ha quedado consentido, salvo que se haya solicitado una prórroga al
          asegurado o los beneficiarios, o en su defecto, a la Superintendencia
          de Banca, Seguros y AFP en caso el asegurado o los beneficiarios no
          hayan aprobado dicha solicitud.
        </p>
        <p class="mt__group--desc">
          Una vez consentido o aprobado el siniestro, PROTECTA SECURITY
          procederá a pagar la indemnización o beneficio correspondiente dentro
          de los treinta (30) días siguientes de producido el consentimiento o
          la aprobación.
        </p>
        <p class="mt__group--desc">
          Los reclamos y las acciones fundadas en esta Póliza prescriben en el
          plazo de diez (10) años desde la ocurrencia del siniestro, con
          excepción de los reclamos y acciones relativos a las coberturas por
          fallecimiento las que prescribirán en el plazo de diez (10) años desde
          que el Beneficiario toma conocimiento de la existencia del beneficio.
        </p>
        <p class="mt__group--desc">
          Cumplido el plazo de prescripción, sin que el Contratante, Asegurado o
          Beneficiario hubiera solicitado el beneficio o la indemnización,
          PROTECTA SECURITY quedará liberada de la obligación de pagar el
          siniestro.
        </p>
      </div>

      <!-- Canales de orientación disponibles para consultas, reclamos y avisos de siniestro  -->
      <div class="mt__group">
        <h6 class="mt__subtitle">
          X. Canales de orientación disponibles para consultas, reclamos y
          avisos de siniestro
        </h6>
        <p class="mt__group--desc">
          Las consultas, reclamos y/o avisos de siniestro que quieran presentar
          el Contratante y/o Asegurado y/o Beneficiario, deberán ser realizados
          a la Plataforma de Atención al Cliente de Protecta Security y/o a los
          medios habilitados por el Comercializador, en caso hubiese.
        </p>
        <p class="mt__group--desc">
          Los medios a través de los cuales podrá presentar alguna consulta o
          reclamo a Protecta Security son los siguientes:
        </p>
        <ul class="mt__group--list list-disc">
          <li class="mt__group--list-item">
            Atención Telefónica: Lima 391-3000 I Provincias 0-801-1-1278
          </li>
          <li class="mt__group--list-item">
            E-mail:
            <a href="mailto:clientes@protectasecurity.pe"
            >clientes@protectasecurity.pe</a
            >
          </li>
          <li class="mt__group--list-item">
            Página Web:
            <a href="www.protectasecurity.pe" target="_blank"
            >www.protectasecurity.pe</a
            >
          </li>
          <li class="mt__group--list-item">
            Atención Presencial: Av. Domingo Orué N° 165, piso 8, Surquillo,
            Lima – Perú
          </li>
        </ul>
        <p class="mt__group--desc">
          Horario de Atención: De Lunes a Viernes, de 9 am a 6 pm.
        </p>
        <p class="mt__group--desc">
          En caso no estuviera conforme con la respuesta emitida por PROTECTA
          SECURITY, el Contratante y/o Asegurado también podrá realizar
          cualquier reclamo sobre los alcances de este seguro en la Defensoría
          del Asegurado al 421-0614, o en Calle Amador Merino Reyna 307 - Piso 9
          – San Isidro, Lima - Perú o en www.defaseg.com.pe, así como en la
          Superintendencia de Banca, Seguros y AFP (SBS) en caso únicamente de
          denuncias y/o en el Instituto de Defensa de la Competencia y de la
          Protección de la Propiedad Intelectual (INDECOPI).
        </p>
      </div>

      <!-- Plazo de entrega-->
      <h6 class="mt__subtitle">
        XI. Plazo y forma de entrega de la póliza de seguro o del certificado de
        seguro
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          La Póliza y demás documentación que componen el contrato de seguro
          será entregada por medios electrónicos, siendo enviada al correo
          electrónico consignado en la presente solicitud de seguro, dentro del
          plazo de quince (15) días después de recibida la Solicitud de seguro.
        </p>
      </div>

      <!-- Aceptación del seguro-->
      <h6 class="mt__subtitle">XII. Forma de aceptación del seguro.</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El contratante brinda la aceptación del seguro por medio de la firma
          electrónica de la Solicitud de Seguro a través de la autenticación
          biométrica y/o clave OTP enviada al cliente al momento de generar la
          solicitud. De no mediar rechazo a la solicitud de seguro, PROTECTA
          SECURITY entregará y/o pondrá a disposición la Póliza de seguro al
          Contratante y/o Asegurado dentro del plazo de quince (15) días después
          de recibida la Solicitud de Seguro.
        </p>
      </div>

      <!-- Políticas de uso-->
      <h6 class="mt__subtitle">
        XIII. Políticas sobre el uso del Ecommerce y/o Plataforma de Ventas
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Declaro y acepto que no usaré el e-commerce de manera inadecuada
          contraviniendo los principios de la buena fe en la contratación.
          Asimismo, acepto y reconozco que la presente plataforma está diseñada
          para la contratación de la póliza electrónica a través de medios
          electrónicos, por lo que, solo podré utilizarla en calidad de
          Contratante del producto objeto de adquisición y no por actos de
          terceras personas y/o con fines diferentes a la contratación de una
          Póliza de Seguro. De la misma manera, acepto que no interferiré ni
          alteraré el servicio que brinda Protecta Security, incluyendo la
          comercialización de los productos por este canal, ni intentaré acceder
          a ellos usando un método distinto a las instrucciones proporcionadas
          por Protecta Security. Acepto que solo podré usar la plataforma en la
          medida en que la ley lo permita, por lo que, declaro bajo juramento,
          en mi calidad de Contratante, ser mayor de edad y contar con interés
          asegurable para la adquisición de la póliza de Vida Crédito Fácil
          electrónica. Asimismo, acepto expresamente que Protecta Security está
          plenamente facultada para suspender o cancelar el uso de esta
          plataforma, por ende, la contratación de la Póliza Electrónica,
          siempre que mi persona no haya cumplido con las políticas aquí
          expuestas o si Protecta Security considera que mi conducta puede ser
          de mala fe en la contratación. Declaro conocer que el uso de la
          plataforma no me convierte en titular de ninguno de los derechos de
          propiedad intelectual, ni del contenido al que acceda, ni me otorga el
          derecho a usar las marcas ni los logotipos utilizados por Protecta
          Security, por lo cual, reconozco expresamente que el titular de
          aquellos derechos es y será Protecta Security. Finalmente, me obligo a
          no eliminar, ocultar ni alterar los avisos legales que se muestren en
          la plataforma de ventas por medios electrónicos de Protecta Security.
          Asimismo, con esta aceptación confirmo la exactitud y veracidad de mis
          declaraciones expresadas en la presente plataforma, indicando que
          cualquier declaración inexacta y/o reticente donde medie dolo o culpa
          inexcusable, respecto de circunstancias conocidas por mi persona, y
          que hubiesen impedido la emisión de esta Póliza Electrónica o
          modificado sus condiciones si Protecta Security hubiese sido informada
          del verdadero estado del riesgo, hará que se proceda a la nulidad del
          mismo, o a repetir contra el Contratante, el gasto incurrido por
          Protecta Security como consecuencia del otorgamiento de las coberturas
          de la Póliza Electrónica, en caso de siniestro.
        </p>
      </div>

      <!-- Envío de la póliza -->
      <h6 class="mt__subtitle">XIV. Envío de la póliza vía electrónica</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Para el envío de la Póliza Electrónica, como usuario declaro conocer y
          manifiesto mi consentimiento para que se remitan al correo electrónico
          que indique en la presente página web; mi Póliza Electrónica y/o
          renovaciones. Para ello, declaro conocer y aceptar que el envío
          electrónico de la Póliza Electrónica que suscriba con Protecta
          Security posee las siguientes características:
        </p>
        <p class="mt__group--desc">
          - Ventajas: Rapidez para obtenerla; de fácil acceso; siempre
          disponible; y contribuye al cuidado del medio ambiente.
        </p>
        <p class="mt__group--desc">
          - Procedimiento: Mi Póliza Electrónica será remitida al correo
          electrónico que brinde, en el plazo de veinticuatro (24) horas de
          ingresada esta solicitud. En caso observe su contenido o desee
          desistir, seguiré los pasos que me indiquen en el correo enviado.
        </p>
        <p class="mt__group--desc">
          - Medidas de seguridad la información se enviará cifrada a las
          pasarelas de pago.
        </p>
        <p class="mt__group--desc">
          - Posibles riesgos: El acceso al contenido y la capacidad de
          almacenamiento de mi cuenta de correo electrónico es de mi
          responsabilidad, por lo que debo mantener mi cuenta de correo
          habilitada y operativa, así como contar con las medidas de seguridad
          necesarias para evitar usos indebidos por parte de terceros; para la
          recepción de mi póliza de seguros. Asimismo, manifiesto que cualquier
          modificación del correo electrónico debe ser comunicada a Protecta
          Security, al correo clientes@protectasecurity.pe Finalmente, declaro
          conocer que se remitirá la Póliza Electrónica a la dirección ingresada
          en los campos de datos, una vez se haya confirmado el pago en la
          pasarela de pagos Niubiz a través del ecommerce de Vida Crédito Fácil
          y en un tiempo no mayor a veinticuatro (24) horas. De no recibir el
          documento adjunto (póliza electrónica), podré solicitarlo en la
          Central de Servicio al Cliente 391-3000 (Lima) / 0801-1-1278
          (Provincias), asimismo, podrá escribirnos a nuestra dirección de
          correo electrónico clientes@protectasecurity.pe o visitarnos en Av.
          Domingo Orué 165 Piso 8 - Surquillo, quienes se encargarán de
          enviármelo.
        </p>
      </div>

      <!-- Derecho de Arrepentimiento  -->
      <div class="mt__group">
        <h6 class="mt__subtitle">
          XV. En caso aplique, plazo y forma para ejercer el Derecho de
          Arrepentimiento
        </h6>
        <p class="mt__group--desc">
          Cuando la oferta de la presente Póliza se haya efectuado por
          Comercializadores, Bancaseguros o en caso PROTECTA SECURITY utilice
          sistemas de comercialización a distancia, el Derecho de
          Arrepentimiento puede ser ejercido por el Asegurado, en caso de
          seguros grupales o por el Contratante, para los seguros individuales.
          Para esto, según sea el caso, el Asegurado podrá resolver el
          Certificado de Seguro y el Contratante la Póliza de Seguro, sin
          expresión de causa ni penalidad alguna, dentro de los quince (15) días
          calendario siguientes a la fecha en que reciben el Certificado de
          Seguro o la Póliza de Seguro, respectivamente, o la Nota de Cobertura
          Provisional, siempre y cuando no haya hecho uso de las coberturas
          contenidas en la misma.
        </p>
        <p class="mt__group--desc">
          En caso el Asegurado o Contratante hagan uso de su Derecho de
          Arrepentimiento luego de haber pagado la prima del seguro, PROTECTA
          SECURITY, conforme al Art.25.2 del Reglamento de Gestión de Conducta
          de Mercado, procederá a la devolución total del importe pagado en el
          plazo de treinta (30) días, contados desde la fecha que se presentó la
          solicitud de uso del Derecho de Arrepentimiento. Para estos fines el
          Asegurado o Contratante podrán utilizar los mismos mecanismos de
          forma, lugar y medios que usó para la contratación del seguro.
        </p>
        <p class="mt__group--desc">
          Asimismo, cuando la oferta de la presente Póliza se haya efectuado por
          Corredores y éstos hayan utilizado sistemas de comercialización a
          distancia, resultará aplicable el Derecho de Arrepentimiento, conforme
          a lo establecido en el artículo 31 de la Resolución SBS N° 809-2019.
        </p>
      </div>

      <!-- Consideraciones Adicionales  -->
      <div class="mt__group">
        <h6 class="mt__subtitle">XVI. Consideraciones Adicionales</h6>
        <p class="mt__group--desc">
          Adicionalmente, PROTECTA SECURITY pone de conocimiento del Asegurado,
          lo siguiente:
        </p>
        <ul class="mt__group--list list-disc">
          <li class="mt__group--list-item">
            En caso la Póliza se origine como consecuencia de una propuesta u
            oferta realizada por PROTECTA SECURITY y el contenido de aquella
            difiera de dicha propuesta, la diferencia se considerará tácitamente
            aceptada por el Contratante si éste no efectúa el reclamo
            correspondiente dentro de los treinta (30) días de haber recibido la
            Póliza. La aceptación tácita sólo se presumirá cuando PROTECTA
            SECURITY hubiere comunicado al Contratante en forma detallada y
            mediante documento adicional y distinto a la Póliza, la existencia
            de diferencias, otorgándole además un plazo de treinta (30) días
            para rechazarlas. De omitir PROTECTA SECURITY la referida
            comunicación, las diferencias se entenderán como no escritas, salvo
            que éstas resulten más beneficiosas para el Asegurado.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
