<div class="padding-modal">
  <div class="modal-body content-modal">
    <img class="img-help" [src]="icon" alt="img-help" />
    <h4 class="title-re" id="modal-basic-title">
      {{ mensaje ? mensaje[1] : "Cargando..." }}
    </h4>
  </div>
  <div>
    <p class="text-re">{{ mensaje ? mensaje[2] : "Cargando..." }}</p>
  </div>
  <div class="modal-footer border-none">
    
    <button
     *ngIf="!error"
      [style.background]="
        listActions?.NO_CONFIRMAR == 'TRUE' ? '#fff' : '#8385B4'
      "
      [disabled]="listActions.NO_CONFIRMAR == 'TRUE' ? false : true"
      class="button-cancelar"
      (click)="formModalReference.dismiss()"
    >
      <span>No</span>
    </button>
    <button
    *ngIf="!error"
      [style.background]="
        listActions?.SI_CONFIRMAR == 'TRUE' ? '#79CB33' : '#8385B4'
      "
      [disabled]="listActions.SI_CONFIRMAR == 'TRUE' ? false : true"
      class="button-Guardar"
      (click)="select()"
    >
      <span>Si</span>
    </button>
    <button
    *ngIf="error"
      class="button-Guardar"
      (click)="select()"
    >
      <span>OK</span>
    </button>
  </div>
</div>
