.listado {
  border: 1px solid #e6e7ff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.column-button {
  background: #8385b4 0% 0% no-repeat padding-box;
  border-radius: 15px;
  border: none;
  font: normal normal normal 14px/16px 'Bliss Pro', sans-serif;
  color: #ffffff;
  height: 30px;
  min-width: 100px;
  padding: 0 10px 0 10px;
}

.title-re {
  text-align: left;
  font: normal normal normal 24px/29px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  opacity: 1;
}

.subtitle-re {
  font: normal normal normal 18px/21px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #8385b4;
}

.border-none {
  border: none !important;
}

.button-cancelar {
  border: 1px solid #27246d;
  border-radius: 5px;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  text-align: center;
  width: 135px;
  height: 45px;
  background-color: transparent;
}

.button-Guardar {
  background: #79cb33 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  width: 135px;
  height: 45px;
  border: none;
}

.container-visble {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;

  padding: 20px 0 20px 0;
  font: normal normal normal 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #707070;
}
.container-two-section {
  border-top: 1px solid #e6e7ff;
  border-bottom: 1px solid #e6e7ff;
  padding: 10px 0;
}

.padding-modal {
  padding: 0 10px;
}

.label-input {
  font: normal normal normal 18px/21px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #707070;
}

.label-input label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #ff7b00;
  background-color: transparent;
}

.label-input input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #ff7b00;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #ff7b00;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #ff7b00;
}

.filter-container {
  display: grid;
  gap: 10px;
  width: 70%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.container-one-section {
  width: 100%;
  margin-bottom: 20px;
}

.button-re {
  border: none;
  background: #27246d 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  width: 135px;
  height: 45px;
}

.t-head {
  background: #f4f4fa 0% 0% no-repeat padding-box;
}

.accent-orange {
  accent-color: #ff7b00;
}
