.content-input {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.lbl-in {
  display: block;
  width: 100%;
  color: #2b0d61;
  font-size: 14px;
  font-family: "Bliss Pro";
  margin: 0;
}
.in-action {
  border-radius: 2px;
  padding: 7px 5px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #aa9ec0;
  color: #aa9ec0;
  height: 45px;
  font-weight: 300;
  padding-left: 12px;
  outline: none;
}
:host >>> ng-select .ng-option-label {
  color: #aa9ec0 !important;
  font-weight: normal !important;
  font-size: 16px;
}
:host >>> ng-select {
  margin: 0;
}
:host >>> ng-select .ng-select-container {
  box-shadow: none !important;
}
:host >>> ng-select .ng-value-label {
  font-size: 16px;
  color: #aa9ec0 !important;
}
:host >>> ng-select .ng-option-disabled {
  font-size: 16px;
}
.title-option {
  color: #aa9ec0;
}
