@import "variables";
@import "standard";

.group1 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.title {
  color: $purple;
  font-size: 32px;
  font-weight: bold;
  line-height: 31px;
  display: block;
  margin-top: 8px;
  margin-right: 18px;
}

.container-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: grid;
  /*crear div con class de contenedor para fijar*/
  grid-template-columns: 5fr 3fr 0fr;
  grid-gap: 5px;
}

.body-qr {
  padding-left: 40px !important;
}

.full-color {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: $purple;
  color: #fff;
  padding: 8px 5px;
  max-width: 210px;
  height: 45px;
  outline: none;
  min-width: 175px;
}

.full-color span {
  color: #fff;
  margin-left: 10px;
}

.btn-new {
  border: 1px solid #553d81;
  display: block;
  padding: 7px 9px;
  border-radius: 2px;
  background: #553d81;
  color: #fff;
  outline: none;
  width: 190px;
  max-width: 190px;
  margin-left: 65% !important;
  -webkit-border-radius: 2px;
}

.group2 {
  border-top: 1px solid rgb(84, 61, 129);
  width: 100%;
  margin-top: 10px;
  display: flex;
  /* ESTO PARA ABAJO ES PARA QUE PERMANEZCAN LOS BUTTON EN SU SITIO*/
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}

.inputs {
  display: flex;
  grid-template-columns: 5fr 6fr 5fr;
  grid-gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.conten-input {
  flex-direction: column;
  margin-top: 10px;
}

.placeholder-u {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;

  &::before {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 5px;
    width: 100%;
    max-width: 100%;
    content: attr(aria-placeholder);
    display: block;
    color: #2b0d61;
    font-size: 16px;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  &.inside {
    &::before {
      position: absolute;
      top: 12px;
      left: 10px;
      font-size: 16px;
      margin: 0;
    }
  }
}

.input1 {
  width: 14%;
}

.input2 {
  width: 16%;
}

.input3 {
  width: 26%;
}

.grid table .grid-title td,
.thead {
  background: #553d81;
  color: #fff !important;
}



.grid table {

  .grid-title,
  .grid-body {
    td {
      color: $purple_input;
      padding: 5px;
      cursor: default;
      font-size: 13px;
      padding: 8px !important;
      white-space: nowrap;
      text-align: center;
    }
  }

  .grid-title {
    td {
      background: $purple;
      color: #fff;
    }
  }
}

.grid table .grid-body {
  cursor: pointer;
}

.table-responsive {
  height: 100%;
  overflow-y: auto;
}

.table-responsive {
  padding-right: 0rem;
}

.table {
  margin: 0 0rem;
}

.table-resumen .table thead .grid-title .grid-title-item:nth-child(2),
.table-resumen .table thead .grid-title .grid-title-item:nth-child(3) {
  width: 200px;
}

@media (max-width: 1496px) {
  .btn_buscar {
    margin-left: -33px;
  }
}

@media (max-width: 1120px) {
  .content-buttons-add {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1479px) {
  .inputs {
    width: 100%;
  }

  .btn_buscar {
    margin-left: -7px;
  }
}

@media (max-width: 1478px) {
  .btn_uno {
    margin-left: -40px;
  }

  .btn_dos {
    margin-left: -35px;
  }
}

@media (max-width: 1112px) {
  .container-btn {
    width: 65%;
  }
}

@media (max-width: 1055px) {
  .container-btn {
    width: 62%;
  }

  .container-btn {
    grid-gap: 75px !important;
  }
}

@media (max-width: 1000px) {
  .inputs {
    width: 97%;
  }
}

@media (max-width: 480px) {
  #EjecutivoComercialLabel{
    width: 100% !important;
  }
  .content-calendar {
    flex-direction: column;
  }

  .maxbutton {
    margin-top: 10px;
    transform: translateX(60px);
  }

  .maxbutton2 {
    margin-left: 50% !important;
    margin-top: 15px;
  }

  .table {
    margin-left: 15px;
  }

  .btn_buscar {
    margin-left: 0px;
  }
}

.placeholder-u::before {
  font-size: 14px;
}

.pag-ban {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-tableban {
  margin-top: 20px;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.content-sales {
  padding: 2rem;
  overflow: auto;
}

.form.ff {
  display: grid;
  grid-gap: 1rem;
  align-items: flex-end;
}

.form-actions {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  button {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .content {
    display: grid;
    grid-template-columns: 0.31fr 1fr;
  }
}

@media (min-width: 520px) and (max-width: 719px) {
  .form.ff {
    grid-template-columns: repeat(2, 1fr);

    .form-actions {
      grid-row: 8;
      flex-direction: row;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

@media (min-width: 720px) and (max-width: 939px) {
  .form.ff {
    grid-template-columns: repeat(3, 1fr);

    .form-actions {
      grid-row: 6;
      grid-column-start: 2;
      grid-column-end: 4;
      flex-direction: row;
    }
  }
}
@media (max-width: 600px) {

  #EjecutivoComercialLabel{
    width: 100% !important;
  }
}

@media (min-width: 940px) {
  .form.ff {
    grid-template-columns: repeat(4, 1fr);

    .form-actions {
      grid-row: 4;
      grid-column-start: 3;
      grid-column-end: 5;
      justify-content: flex-end;
      flex-direction: row;

      button {
        width: fit-content;
      }
    }
  }
}

@media (min-width: 1400px) {
  /* .form.ff {
    grid-template-columns: repeat(5, 1fr);

    .btn-primary-u {
      grid-column: 5;
      max-width: 160px;
      margin-left: auto;
    }
  } */
}
.TableMargin{
  min-height: 200px;
}
