@import "variables";
@import "modal";
@import "standard";
@import "global";
@import "ngselect";


.TableMargin {
  min-height: 200px;
}

.tooltiptext {
  visibility: hidden;
  font-size: 12px;
  width: 750px;
  background-color: rgb(255, 255, 255);
  text-align: start;
  border-radius: 6px;

  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  position: absolute;
  z-index: 1;
  left: 18%;
  opacity: 1;
  transition: opacity 0.3s;
  transform: translateY(-8px);
}


#hovert {
  &:hover {
    .tooltiptext {
      visibility: visible;
      color: #553d81;
      opacity: 1;
    }
  }
}

.body {
  padding: 2rem;
  padding-left: 40px !important;
}

.datosbasicos {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.dropdown-u {
  z-index: 1000;
}

.sub-container1 {
  max-width: 500px;
  padding: 1.5rem;
  background-color: #f7f6ff;
  border-radius: 15px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.sub-title {
  color: $purple;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.question {
  color: $purple_low;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.label {
  color: $purple_low;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.item {
  white-space: nowrap;
  color: $purple_low;
}

.content-namesake {
  margin-top: 0.25rem;
}

.content-inputs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  align-items: flex-end;
}

/* ICONO INFORMACION */

.icon-info {
  outline: none;
  background-color: transparent;
  border: none;
  color: #ed6e00;
  width: 40;
  height: 20;
  font-size: 12px;

  align-items: center;

  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translateY(-22px);
  margin-right: 0rem;
}

.icon-info svg {
  fill: #ed6e00;
  transform: rotateY(180deg);
}

.content-chk-obligaciones input[type="radio"]:checked+.style-chk-ob::before {
  border: 1px solid #ed6e00;
  background-color: #ed6e00;
  content: "✔";
  color: #fff;
}

.content-chk-obligaciones input[type="radio"][disabled]:checked+.style-chk-ob::before {
  border: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.25);
  content: "✔";
  color: #fff;
  cursor: default;
}

.content-checkbox-u .checkbox-u[disabled]:checked+.checkbox-label-u.orange::before {
  border: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.25);
  cursor: default;
}

.style-chk-ob {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.style-chk-ob::before {
  content: "";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 18px;
  height: 18px;
  margin-right: 0.25rem;
  font-size: 12px;
  background-color: #fff;
  border-radius: 50%;
}

.content-chk-obligaciones input[type="radio"][disabled]+.style-chk-ob::before {
  cursor: default;
}

.chk {
  border: 1px solid #ed6e00;
  background-color: #ed6e00;
  content: "✔";
  color: #fff;
}

/* TABLA */
.grid-title-item {
  cursor: default;
  font-size: 16px !important;
  padding: 0.45rem !important;
}

.table-responsive {
  height: 100%;
  overflow-y: auto;
}

.table-responsive {
  padding-right: 0rem;
  background-color: #fff;
}

.table {
  margin: 0 0rem;
}

.full-color {
  display: flex;
  justify-content: center;
  border: 1px solid #ed6e00;
  border-radius: 2px;
  margin: 0 5px;
  background: #ed6e00;
  color: #fff;
  padding: 8px 10px;
  height: 45px;
  outline: none;
}

.full-color span {
  color: #fff;
  margin-left: 10px;
}

.full-color2 {
  display: flex;
  justify-content: center;
  border: 1px solid $purple;
  border-radius: 2px;
  margin: 0 5px;
  background: $purple;
  color: #fff;
  padding: 8px 10px;
  height: 45px;
  outline: none;
}

.full-color2 span {
  color: #fff;
  margin-left: 10px;
}

/* modal */

.modal__header {
  margin: 0;
}

.modal__header--title {
  margin: 0;
  text-align: left;
}

.modal__header {
  margin-bottom: 1rem;
}

.span-modal {
  color: #2b0d61;
  font-size: 23px;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}

/* DECLARACIÓN */
.content__dps {
  padding-top: 10px;
  max-height: 500px;
  overflow-y: auto;
  text-align: initial;
  /* padding: 2rem; */
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;

  &::-webkit-scrollbar {
    width: 18px;
  }

  &::-webkit-scrollbar-thumb {
    border: 6px solid #fff;
    background-color: $orange;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

.content__title,
.content__extra {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.dps__item--inputs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.dbps__item--res {
  margin-top: 1rem;
}

.content_check:not(:last-child),
.content_input-u:not(:last-child) {
  margin-right: 1rem;
}

.content_check {
  position: relative;
}

.lbl-chk::before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

ol li {
  margin-top: 1rem;
}

#talla,
#peso {
  max-width: 120px;
}

#cantidadCigarros,
#diasHospitalizacionCovid {
  max-width: 80px;
}

.dps__item--quest {
  font-weight: bold;
}

.content__title,
.content__extra,
.dps__item--quest {
  color: #553d81;
}

.input_submit-u {
  margin: 1.5rem auto 0 auto;
}

.acept_terms {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.in-dj {
  color: #aa9ec0;
  padding: 0px 0px;
  height: 20px;
  border: #f8f8f8;
  background-color: #f8f8f8;
}

/* TABS */
.tabs {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.tabs label:not(.mark-u) {
  color: #aa9ec0;
  font-weight: bold;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: #fff;
  transition: background ease 0.3s;

  .fa-lg {
    color: #aa9ec0;
  }
}

.tabs .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}

.tabs input[type="radio"]:checked+label:not(.mark-u) {
  border-bottom: 5px solid #553d81;
  color: #553d81 !important;

  .fa-lg {
    color: #553d81;
  }
}

.fa-lg {
  margin-right: 0.5rem;
}

.tabs input[type="radio"]:checked+label+.tab {
  display: block;
}

@media (max-width: 465px) {

  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}

body {
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
}

.tab {
  border-radius: 25px;
}

.button-new {
  order: 1;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-width: 61%;
  margin-right: 0rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  grid-gap: 0px;
}

.label-one {
  width: 18%;
}

.label-two {
  width: 20%;
}

.titulo-content {
  font-weight: bold;
  padding: 10px;
}

.group-button {
  display: flex;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  grid-gap: 20px;
  margin: auto;
}

.content-titulo {
  width: 50%;
}

.group-div {
  display: flex;
}

.paginador {
  display: flex;
  justify-content: center;
}

.content-titulo2 {
  width: 100%;
}

.titulo-content2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  font-weight: bold;
}

.icon {
  margin-right: 0rem;
}

.porctj {
  width: 15%;
}

.encabz {
  padding: 15px !important;
}

.encabzone {
  padding-top: 15px !important;
}

.porctjone {
  width: 10%;
  padding-top: 5px !important;
}

.acc {
  padding-top: 5px !important;
}

@media (max-width: 1602px) {
  .tabs input[type="radio"]:checked+label+.tab {
    width: 90%;
  }
}

/* RESUMEN DE COTIZACION */
.datos-product__title,
.title-of-datos,
.title-step {
  color: #2b0d61;
  // font-weight: bold;
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.datos-product {
  padding: 1.5rem 0 !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.detail-product .fila {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 0.5rem;
}

.detail-product .fila span:first-child {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.detail-product .fila span:last-child {
  font-size: 15px;
  color: #2b0d61;
  // font-weight: bold;
}

.content-grid2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.data_cuota {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.data_cuota span:first-child {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.6);
  // font-weight: bold;
  display: block;
}

.data_cuota span:last-child {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}

.title-re {
  // font-weight: bold;
  font-size: 25px;
  margin-bottom: 0rem;
  color: #2b0d61;
}

.modal-button {
  border: 1px solid #81769d;
  background: #553d81;
  color: #fff;
  width: 150px;
}

@media (max-width: 600px) {
  .content-inputs {
    display: grid !important;
  }

  .icon-info {
    transform: translateY(-5px);
  }

  .button-new {
    min-width: 60%;
  }
}

@media (max-width: 1000px) {
  .group-button {
    display: grid;
  }
}

.date-input {
  background-color: white;
}

.grid-title-item input[type="radio"]:after {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.grid-title-item input[type="radio"]:checked:after {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  top: -7px;
  left: -1px;
  position: relative;
  background-color: #ed6e00;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #ed6e00;
  content: "✔";
  padding: 0px;
  padding-left: 4px;
  cursor: pointer;
  color: white;
  font-size: 10px;
}

.title-a {
  text-align: center;
}

.body_a {
  margin-top: 2rem;
  display: contents;
}

.grid-title-item input[type="checkbox"]:after {
  width: 16px;
  height: 16px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.grid-title-item input[type="checkbox"]:checked:after {
  width: 16px;
  height: 16px;
  top: -7px;
  left: -1px;
  position: relative;
  background-color: #ed6e00;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #ed6e00;
  content: "✔";
  padding: 0px;
  padding-left: 4px;
  cursor: pointer;
  color: white;
  font-size: 9px;
}

.select-a {
  border: 1px solid #aa9ec0;
  color: #aa9ec0;
  outline: none;
  padding-top: 3px;
  height: 45px;
  margin-top: 0.5rem;
}

.sub-title-a {
  padding-top: 1rem;
}

.btn-asesor {
  width: 180px;
  height: 48px;
  margin-top: 1.5rem;
}

.pag-ban {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.asesor-img {
  margin-right: 10px;
  height: 15px;
  filter: invert(1);
}

.document-data {
  .label {
    display: block;
    padding: 0;
    margin: 0;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.mm {
  width: 100%;
  max-width: 420px;

  .modal__header--title,
  .paragraph {
    text-align: center;
  }
}

.btn-action {
  background-color: transparent;
  border: none;
  outline: none;
}

.form-contractor {
  display: grid;
  grid-gap: 1rem;
  align-items: flex-end;
}

.section {
  &.basic {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__info {
    &.contractor {
      width: 100%;
      display: grid;
      grid-gap: 1rem;
      align-items: flex-end;
      margin-bottom: 1rem;
      max-width: 660px;
    }
  }
}

@media (min-width: 560px) {
  div.section__info.contractor {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-contractor {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 640px) {
  div.section__info.contractor {
    grid-template-columns: repeat(3, 1fr);
  }

  .form-contractor {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1120px) {
  .form-contractor {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .section.basic {
    flex-direction: row;
  }

  div.section__info.contractor {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.subtitle-action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 15px;
  }

  .actions {
    display: flex;
    flex-direction: row;

    .button.primary {
      margin: 0;
    }
  }
}

.modalCreateRequest {
  max-width: fit-content;
}

.so-container {
  display: flex;
  align-items: center;
  flex-direction: row;

  .btn-condition-info {
    margin-top: 30px;
    margin-left: 0.5rem;
    position: relative;
    right: 0;
    background-color: #fff;

    svg {
      fill: $orange;
    }
  }
}

.btn-continue {
  width: fit-content;
  min-width: auto !important;
  border-radius: 10px;
  height: 30px;
  margin: auto;

  i {
    margin-right: 0;
    font-size: 12px;
    margin-left: 10px !important;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.subtitle-complements {
  margin-top: 0 !important;
}

.quotation-status {
  display: block;
  margin: auto;
  min-width: 75px;
  width: fit-content;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 10px;

  &.generated,
  &.definitive,
  &.expired {
    color: #fff;
  }

  &.generated {
    background-color: #2962ff;
  }

  &.definitive {
    background-color: #66bb6a;
  }

  &.expired {
    background-color: #f44336;
  }
}

.content-talla {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-row-gap: 0px;
}

.dps__item--quest {
  display: block;
}

.comments {
  width: 100%;

  &__item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &--user {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;

      .comment__info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        margin-right: 1rem;

        .comment__user-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin-right: 1.5rem;
          white-space: nowrap;
          width: fit-content;
        }
      }

      .fa-user {
        font-size: 28px;
        border: 2px solid $purple;
        border-radius: 50%;
        text-align: center;
        min-width: 50px;
        width: 50px;
        min-height: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
      }

      &-name {
        font-weight: 600;
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-name,
      &-time {
        font-size: 18px;
      }

      &-comment {
        text-align: justify;
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    max-width: 460px;
    margin: 2rem 0;
    margin-top: 1rem;

    .input-comment {
      border-radius: 10px;
      height: 55px;
      padding-right: 7.5rem;
    }

    .button {
      position: absolute;
      right: 10px;
      height: 35px !important;
      top: 10px;
      border-radius: 10px;
      max-width: 131px;
      min-width: 100px;
    }
  }

  .list-comments {
    max-height: 500px;
    overflow: auto;
  }
}

.support-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button:not(:last-child) {
    margin-right: 1rem;
  }
}

.contractor-name {
  text-transform: capitalize;
}

.mcp {

  .modal__header--title,
  .paragraph {
    text-align: center;
  }
}

.btn-reject {
  color: red;

  i {
    color: red;
  }
}

.content-action-state {
  display: flex;
  align-items: center;
}

.input-has-error {
  border: 1px solid red;
}

.prospect-state {
  background: $purplebc;
  padding: 8px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  &::before {
    content: "";
    width: 15px;
    min-width: 15px;
    height: 15px;
    min-height: 15px;
    display: block;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #ccc;
  }

  &.success {
    &::before {
      background-color: #8BC34A;
    }
  }

  &.pending {
    &::before {
      background-color: $orange;
    }
  }
}

.mdps {
  .list {
    margin-top: 1.5rem;

    &__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &::before {
        content: "";
        display: block;
        width: 5px;
        min-width: 5px;
        height: 5px;
        min-height: 5px;
        background-color: #ccc;
        margin-right: 10px;
        border-radius: 50%;
      }
    }
  }
}

.adver-msg {
  margin-top: 41px;
  font-size: 13px;
}

.msg-alert {
  font-size: 24px;
  color: #553d81;
  font-weight: bold;
}

.section.basic {
  .input-u {
    display: flex;
    align-items: center;
  }
}
.editBtn{
  padding: 10px;
  width: 100px;
  margin-right: 5px;
  height: 39px;
}
.form-beneficiary {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.has-error {
  color: red;
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.beneficiary-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &>.content-button {
    margin-top: 0;
  }
}

.small-info {
  font-size: 18px;
  display: block;
  color: red;
  margin-left: 1rem;
  white-space: nowrap;
}
.fb-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  align-items: flex-end;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &.fb-document {
    grid-template-columns: 0.4fr 1fr;
  }

  &.fb-family,
  &.fb-lastnames {
    grid-template-columns: 1fr 1fr;
  }
}

.mfb-btn {
  max-width: 120px;
}

.mfb {
  width: 100%;
  max-width: 720px;
}

.content-button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  max-width: 300px;
}
.colorRedExp{
  color:red !important;
}

.captcha {
    width: 305px;
    margin: auto;
    top: 5%;
    position: fixed;
    z-index: 9;
}
