.head-title,
.content-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.btn-download {
  width: fit-content !important;
  min-width: 177px !important;
}
.content-page{
  margin: 1rem 0;
  padding: 0 1rem;
}
.r1-head{
  border-bottom: 1px solid #2b0d61;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
}
.r2-head{
  border-bottom: 1px solid #2b0d61;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
}
.head-title{
  padding: 0;
}
.title{
  color: #553d81;
  font-size: 32px;
  font-weight: bold;
  line-height: 31px;
  display: block;
  margin-top: 8px;
  margin-right: 18px;
  font-family: 'Bliss Pro';
}
.full-color{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: #553d81;
  color: #fff;
  padding: 8px 8px;
  min-width: 177px;
  height: 45px;
  outline: none;
}
.btn-with-icon{
  background-color: #fff;
  border: 1px solid #553d81;
  color: #553d81;
}
.full-color img,
.full-color i{
  margin-right: .65rem;
}
.full-color:last-child{
  margin-right: 0;
}
.full-color:first-child{
  margin-left: 0;
}
.cont-btn-generar{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 1rem;
}
.content-actions,
.cont-btn-generar{
  padding: 0;
}
.content-input{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.content-input:last-child{
  margin: 0;
}
.lbl-in{
  display: block;
  width: 100%;
  color: #2b0d61;
  font-size: 14px;
  font-family: 'Bliss Pro';
  margin: 0 !important;
}
.in-action{
  border-radius: 2px;
  padding: 7px 5px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #aa9ec0;
  color: #aa9ec0;
  height: 45px;
  font-weight: 300;
  padding-left: 12px;
  outline: none;
}
.in-action[disabled]{
  background-color: rgba(0,0,0,.025);
  cursor: not-allowed;
  border: 1px solid rgba(0,0,0,.035);;
}
.table-head{
  background-color: #553d81;
}
.table-head .grid-title-item{
  color: #fff;
  font-family: "Bliss Pro";
  text-align: center;
  font-size: 14px;
  padding: 5px;
}
.table-body-item{
  font-family: "Bliss Pro";
  text-align: center;
  font-size: 14px;
  padding: 5px;
}
.table-body-item-actions a{
  display: inline-block;
}
.table-body-item-actions a i{
  color: #2b0d61;
}
.form-group{
  margin: 0 .05rem;
  padding: 0;
}
.fa {
  color: #2b0d61;
}
/* MODAL */

.modal-title{
  color: #553d81;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1px;
}
.modal-body{
  display: grid;
  grid-gap: 1rem;
}
.modal-body{
  font-family: "Bliss Pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #aa9ec0;
  font-weight: 300;
}
.modal-body .row:last-child{
  margin-top: .5rem;
}
.lbl-modal-form{
  margin-left: .5rem;
}
.modal-question{
  display: block;
  margin-top: .5rem;
  width: 100%;
  text-align: left;
}
.btn-close-modal,
.btn-aceptar-modal{
  border: none !important;
  box-shadow: none !important;
}
.btn-aceptar-modal{
  background: #553d81;
}
.btn-close-modal{
  border: 1px solid #553d81 !important;
  background: #fff !important;
  color: #553d81 !important;
}
.modal-footer-actions-in-body{
  margin: 0;
  padding: 0;
  border: none;
}
.modal-footer{
  display: flex;
  justify-content: center;
}
@media (max-width: 1220px){
  .content-actions{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 1024px){
  .content-actions{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .r2-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  .content-input,
  .content-actions{
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .cont-btn-generar{
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .full-color{
    display: block;
    margin: 1rem 0;
    width: 100%;
    min-width: 100%;
  }
}
