<div class="modal-header">
  <h4 class="modal-title pull-left">
    TÉRMINOS Y CONDICIONES
  </h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="terminos-texto right-privacy">
    <div>
      <p>Mediante el uso de este portal el usuario acepta los Términos y Condiciones, y declara bajo juramento tener 18
        años de edad o más. El portal de compra del producto Vida con Devolución (www.soatdigital.protectasecurity.pe)
        está destinado exclusivamente a personas naturales que desean adquirir este producto. El uso de este portal
        implica la aceptación incondicional e irrevocable de que toda la información y actividades realizadas mediante
        este portal se encuentran regidas por estos Términos y Condiciones.</p>
      <p><b><u>INFORMACIÓN SOBRE EL SEGURO VIDA CON DEVOLUCIÓN</u></b></p>
      <p><strong>1. CARACTERÍSTICAS DEL SEGURO:</strong></p>
      <p>El presente seguro de vida cubre el riesgo de fallecimiento del Asegurado durante la vigencia de la Póliza.</p>

      <p><strong>2. PERIODO DE COBERTURA:</strong></p>
      <p>La Póliza de Vida con Devolución tiene una vigencia de hasta 12 años, durante los cuales anualmente se
        realizará el cobro de la prima de seguro.</p>


      <p><strong>3. COBERTURAS:</strong></p>
      <p>Las coberturas se otorgan conforme al siguiente detalle: Cobertura de Fallecimiento Natural, Cobertura de
        Fallecimiento Accidental y Cobertura de Devolución de Capital.</p>


      <p><strong>4. OBLIGACIONES DEL CONTRATANTE Y/O ASEGURADO:</strong></p>

      <p>Son obligaciones del contratante y/o asegurado las siguientes: 4.1. Pagar la prima convenida con Protecta
        Security. 4.2. Completar con información pertinente la Solicitud de Seguro y Declaración Personal de Salud que
        le suministre Protecta Security, para la debida evaluación del riesgo. 4.3. Leer y conocer todos los documentos
        que conforman la Póliza. 4.4. Notificar a Protecta Security los hechos o circunstancias de agravación del riesgo
        apenas conozca de su ocurrencia. 4.5. Facilitar a Protecta Security el acceso a la información complementaria
        que pudiera ser necesaria para los efectos de validar la autenticidad y veracidad de cualquier información que
        pudiera resultar necesaria que requiera Protecta Security.</p>

      <p><strong>5. EXCLUSIONES:</strong></p>
      <p>Esta Póliza no cubre el riesgo de muerte, si el fallecimiento del ASEGURADO se produce en alguno de los eventos
        excluidos que se detallan a continuación: 5.1. Suicidio, automutilación o auto lesión, salvo que hubiesen
        transcurrido al menos dos (2) años completos e interrumpidos desde la fecha de contratación del seguro. 5.2.
        Pena de muerte o participación en cualquier acto delictivo o en actos violatorios de leyes o reglamentos. 5.3.
        Por acto delictivo cometido por el beneficiario o heredero contra el Asegurado o contra alguno de los
        Beneficiarios declarados en la Póliza, en calidad del autor o cómplice. 5.4. Guerra, invasión u operaciones
        bélicas (al margen de que exista o no declaración de guerra), actos hostiles de entidades soberanas o del
        gobierno, guerra civil, rebelión, revolución, insurrección, conmoción civil que adquiera las proporciones de un
        levantamiento, poder militar o usurpado, ley marcial o confiscación por orden de un Gobierno o autoridad
        pública. 5.5. Detonación nuclear, reacción nuclear, radiación nuclear o contaminación radioactiva;
        independientemente de la forma en que se haya ocasionado. 5.6. Participación como conductor, copiloto o
        acompañante, en carreras o entrenamiento para carreras, de automóviles, bicicletas, motocicletas, motonetas,
        trimotos, cuatrimotos, motocicletas náuticas, lancha a motor, avionetas y de caballos. 5.7. Realización de
        actividades y/o deportes riesgosos. Ejemplos: escalamiento, alpinismo, andinismo, montañismo, paracaidismo,
        parapente, ala delta, aeronaves ultraligeras, salto desde puentes o puntos elevados al vacío, buceo profesional
        o de recreo, inmersión o caza submarina, canotaje, surf, boxeo, caza de fieras, windsurf, barranquismo,
        sandboard, snowboard, esquí, ciclismo de montaña, kayak extremo, rafting, rápel, parkour. 5.8. Cuando el
        Asegurado se encuentre bajo la influencia de alcohol (0,5 g/l o más) o mientras se encuentre bajo la influencia
        de drogas. Esta exclusión es aplicable para cualquier tipo de accidente, y el estado del Asegurado se
        determinará con los análisis toxicológicos con resultado de alcoholemia y toxinas. Para efectos de esta
        exclusión, y solo en el caso de accidente de tránsito y siempre que el Asegurado haya conducido el vehículo, se
        presumirá que el Asegurado se encontraba bajo los efectos del alcohol o drogas, si éste o sus familiares, según
        sea el caso, se negara(n) a que se le practique el examen de alcoholemia, toxicológico o dosaje etílico, según
        corresponda. 5.9. Eventos catastróficos ocasionados por fenómenos de la naturaleza tales como: Terremoto,
        temblor, erupción volcánica, fuego subterráneo, tifón, huracán, tornado, ciclón u otra convulsión de la
        naturaleza o perturbación atmosférica. 5.10. Enfermedades preexistentes.</p>


      <p><strong>6. AVISO DE SINIESTRO:</strong></p>
      <p>En caso de ocurrencia del siniestro objeto de la cobertura, el Contratante, Asegurado o Beneficiario deberá dar
        aviso de siniestro a PROTECTA SECURITY dentro de los siete (7) días siguientes a la fecha en que se tenga
        conocimiento de la ocurrencia del mismo o del beneficio del seguro. Posteriormente al aviso del siniestro, el
        Contratante, Asegurado o Beneficiario deberá solicitar la cobertura, y presentar los siguientes documentos en
        PROTECTA SECURITY o al comercializador, en caso corresponda, en original o copia con certificación de
        reproducción notarial (antes copia legalizada) salvo que en las Cláusulas Adicionales que forman parte
        integrante de este Contrato de Seguro se especifiquen documentos adicionales para la solicitud de cobertura:
        a)
        Acta o Certificado de Defunción del Asegurado. b) Copia del Documento de Identidad o Partida de Nacimiento
        de
        los Beneficiarios.</p>
      <p>Para mayor información referirse a las Condiciones Generales del seguro.</p>

      <p><strong>7. OTRAS CONSIDERACIONES:</strong></p>
      <p>La Póliza podrá quedar resuelta, perdiendo el Contratante y/o Asegurado todo derecho emanado de la Póliza, a
        partir de la fecha indicada en la comunicación correspondiente informando de la configuración de alguna de las
        siguientes causales: 7.1. El Contrato de Seguro podrá quedar resuelto por decisión unilateral y sin expresión de
        causa de parte del Contratante. 7.2. En caso de declaración inexacta o reticente del Contratante y/o Asegurado.
        7.3. Por falta de pago de la prima. 7.4. La póliza podrá quedar resuelta por la presentación de la Solicitud de
        Cobertura fraudulenta por parte del Contratante, Asegurado, Beneficiarios, herederos o terceras personas que
        actúen en su representación. 7.5. e. Por Agravación del Riesgo comunicada por escrito a PROTECTA SECURITY por el
        Contratante y/o el Asegurado, lo cual deben realizar apenas producida la agravación.</p>


      <p><strong>8. DERECHO DE ARREPENTIMIENTO:</strong></p>
      <p>Cuando la oferta de la póliza se haya efectuado por Comercializadores, Bancaseguros o en caso PROTECTA SECURITY
        utilice sistemas de comercialización a distancia, el Contratante tiene derecho de arrepentirse de la
        contratación de la Póliza. Para esto, el Contratante podrá resolver el Contrato de Seguro, sin expresión de
        causa ni penalidad alguna, dentro de los quince (15) días calendario siguientes a la fecha en que el Contratante
        recibe la Póliza o la nota de cobertura provisional, siempre y cuando no haya hecho uso de las coberturas
        contenidas en la misma.
        En caso el Contratante haga uso de su Derecho de Arrepentimiento luego de haber pagado la prima del seguro,
        PROTECTA SECURITY procederá a la devolución total del importe pagado dentro de los treinta (30) días siguientes
        a la solicitud de aplicación de este derecho. Para estos fines el Contratante podrá utilizar los mismos
        mecanismos de forma, lugar y medios que usó para la contratación del seguro.
        En caso de seguros individuales, el derecho de arrepentimiento corresponde al Contratante, quien podrá resolver
        el Contrato de Seguro, sin expresión de causa ni penalidad alguna, dentro de los quince (15) días siguientes a
        la fecha en que recibe la Póliza, siempre y cuando no haya hecho uso de las coberturas contenidas en la
        misma.Cuando la oferta de la presente Póliza se haya efectuado por Corredores y éstos hayan utilizado sistemas
        de comercialización a distancia, resultará aplicable el Derecho de Arrepentimiento, conforme a lo establecido en
        el artículo 31 de la Resolución SBS N° 809-2019.
      </p>

      <p><strong>9. POLITICA DE PRIVACIDAD</strong></p>
      <table border="1">
        <tbody>
          <tr>
            <td class="left-privacy">
              Identidad y domicilio
            </td>
            <td class="right-privacy">
              PROTECTA S.A. COMPA&Ntilde;&Iacute;A DE SEGUROS (en adelante PROTECTA
              SECURITY), ubicado en Av. Domingo Oru&eacute; 165, Piso 8, Surquillo-Lima.
            </td>
          </tr>
          <tr>
            <td class="left-privacy">
              Finalidad
            </td>
            <td class="right-privacy">
              PROTECTA SECURITY tratará sus datos personales para enviarle a través de cualquier medio de comunicación
              proporcionado por usted la información requerida sobre el producto SOAT.
              Adicionalmente, en caso lo haya autorizado usted, PROTECTA SECURITY podrá usar sus datos personales para
              enviarle comunicaciones referentes a encuestas, comunicaciones comerciales de sus productos y publicidad.
              En caso no acepte el tratamiento adicional de sus datos personales antes descrito, esto no afectará la
              prestación del seguro solicitado.
            </td>
          </tr>
          <tr>
            <td class="left-privacy">
              Datos personales obligatorios
            </td>
            <td class="right-privacy">
              Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos
              proporcione los siguientes datos personales: nombre y apellidos, placa de su vehículo, dirección de correo
              electrónico y número de celular.
              No utilizaremos datos sensibles.
            </td>
          </tr>
          <tr>
            <td class="left-privacy">
              Consecuencias de proporcionar los datos o su negativa a hacerlo
            </td>
            <td class="right-privacy">
              De no proporcionar los datos obligatorios mencionados en el recuadro anterior, no se le podrá brindar el
              seguro solicitado.
            </td>
          </tr>
          <tr>
            <td class="left-privacy">
              Destinatarios
            </td>
            <td class="right-privacy">
              Su información será compartida con los siguientes destinatarios: <br>
              <ul>
                <li>Inversiones Security Perú S.A.C., (empresa del Grupo Empresarial)</li>
                <li>Travex S.A., (empresa del Grupo Empresarial)</li>
                <li>Viajes Security S.A.C., (empresa del Grupo Empresarial)</li>
                <li>Sistemas Alternativos de Beneficios S.A.</li>
                <li>Terceriza Peru S.R.L</li>
                <li>Fundación Generación Empresarial</li>
                <li>VRweb</li>
                <li>Amazon Web Services.</li>
                <li>American Assist International Perú S.A.C.</li>
                <li>VDR Asistencias Eirl</li>
              </ul>
              Asimismo, se podrá compartir con la Administración Pública en los
              casos que así se requiera de acuerdo con la legislación vigente.
            </td>
          </tr>
          <tr>
            <td class="left-privacy">
              <b>Transferencia</b>
            </td>
            <td class="right-privacy">
              Se transfieren los datos personales a Amazon Technologies Inc.
              Ubicado North Seattle, Washington, Estados Unidos de América.
            </td>
          </tr>
          <tr>
            <td class="left-privacy">
              Banco de datos
            </td>
            <td class="right-privacy">
              Los datos serán conservados mientras dure la relación contractual, posteriormente a la misma,
              posteriormente a la misma, se conservarán los datos para acciones promocionales si usted lo ha autorizado.
              Asimismo, se conservarán los datos para cumplir con requerimientos legales. Salvo usted solicite la
              revocación de sus datos.
            </td>
          </tr>
          <tr>
            <td class="left-privacy">
              Tiempo
            </td>
            <td class="right-privacy">
              Los datos serán conservados mientras dure la relación contractual, posteriormente a la misma,
              posteriormente a la misma, se conservarán los datos para acciones promocionales si usted lo ha autorizado.
              Asimismo, se conservarán los datos para cumplir con requerimientos legales. Salvo usted solicite la
              revocación de sus datos.
            </td>
          </tr>
          <tr>
            <td class="left-privacy">
              Ejercicio de los derechos arco
            </td>
            <td class="right-privacy">
              Puede ejercer los derechos de acceso, rectificación, cancelación y oposición, así como revocar su
              consentimiento para las finalidades no necesarias para la ejecución previa y durante la relación
              contractual, en nuestras oficinas ubicadas en la dirección señalada líneas arriba o a través del siguiente
              correo electrónico: <a href="mailto:clientes@protectasecurity.pe">clientes@protectasecurity.pe</a>.
              <br> De considerar que no ha sido atendido en el ejercicio de sus derechos puede presentar una reclamación
              ante la Autoridad Nacional de Protección de
              Datos Personales, dirigiéndose a la Mesa de Partes del Ministerio de Justicia y Derechos Humanos: Calle
              Scipion Llona 350, Miraflores, Lima, Perú llenando el formulario publicado en el siguiente enlace
              <a target="_blank"
                 href="https://www.minjus.gob.pe/wp-content/uploads/2018/12/FORMULARIO-DE-PROCEDIMIENTO-TRILATERAL-DE-TUTELA.pdf">
                https://www.minjus.gob.pe/wp-content/uploads/2018/12/FORMULARIO-DE-PROCEDIMIENTO-TRILATERAL-DE-TUTELA.pdf</a>
            </td>
          </tr>
          <tr>
            <td class="left-privacy">
              Informaci&oacute;n adicional
            </td>
            <td class="right-privacy">
              De tener alguna inquietud, puede comunicarse con nosotros v&iacute;a correo electr&oacute;nico a <a
                 href="mailto:clientes@protectasecurity.pe">clientes@protectasecurity.pe</a>
              o llamando al (01) 390-3000 o al 0-801-11278.
            </td>
          </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>

      <p><strong>10. POLITICAS SOBRE USO DE PLATAFORMA DE VENTAS:</strong></p>
      <p>Declaro y acepto que no usaré esta plataforma de manera inadecuada contraviniendo los principios de la buena fe
        en la contratación. Asimismo, acepto y reconozco que la presente plataforma está diseñada para la contratación
        del Certificado SOAT Electrónico a través de medios electrónicos, por lo que, solo podré utilizarla en calidad
        de Contratante del producto objeto de adquisición y no por actos de terceras personas y/o con fines diferentes a
        la contratación de una Póliza de Seguro. De la misma manera, acepto que no interferiré ni alteraré el servicio
        que brinda Protecta Security, incluyendo la comercialización de los productos por este canal, ni intentaré
        acceder a ellos usando un método distinto a las instrucciones proporcionadas por Protecta Security. Acepto que
        solo podré usar la plataforma en la medida en que la ley lo permita, por lo que, declaro bajo juramento, en mi
        calidad de Contratante, ser mayor de edad y contar con interés asegurable para la adquisición del Certificado
        SOAT Electrónico. Asimismo, acepto expresamente que Protecta Security está plenamente facultada para suspender o
        cancelar el uso de esta plataforma, por ende, la contratación del Certificado SOAT Electrónico, siempre que mi
        persona no haya cumplido con las políticas aquí expuestas o si Protecta Security considera que mi conducta puede
        ser de mala fe en la contratación. Declaro conocer que el uso de la plataforma no me convierte en titular de
        ninguno de los derechos de propiedad intelectual, ni del contenido al que acceda, ni me otorga el derecho a usar
        las marcas ni los logotipos utilizados por Protecta Security, por lo cual, reconozco expresamente que el titular
        de aquellos derechos es y será Protecta Security. Finalmente, me obligo a no eliminar, ocultar ni alterar los
        avisos legales que se muestren en la plataforma de ventas por medios electrónicos de Protecta Security.
        Asimismo, con esta aceptación confirmo la exactitud y veracidad de mis declaraciones expresadas en la presente
        plataforma, indicando que cualquier declaración inexacta y/o reticente donde medie dolo o culpa inexcusable,
        respecto de circunstancias conocidas por mi persona, y que hubiesen impedido la emisión de este Certificado SOAT
        Electrónico o modificado sus condiciones si Protecta Security hubiese sido informada del verdadero estado del
        riesgo, hará que se proceda a la nulidad del mismo, o a repetir contra el Contratante, el gasto incurrido por
        Protecta Security como consecuencia del otorgamiento de las coberturas del Certificado SOAT Electrónico, en caso
        de siniestro.</p>
      <p><strong>11. ENVIO DEL CERTIFICADO SOAT VÍA ELECTRÓNICA:</strong></p>
      <p>Para el envío del Certificado SOAT Electrónico, como usuario declaro conocer y manifiesto mi consentimiento
        para que se remitan al correo electrónico que indique en la presente página web; mi Certificado SOAT Electrónico
        y/o renovaciones. Para ello, declaro conocer y aceptar que el envío electrónico del Certificado SOAT Electrónico
        que suscriba con Protecta Security posee las siguientes características: - Ventajas: Rapidez para obtenerla; de
        fácil acceso; siempre disponible; y contribuye al cuidado del medio ambiente. - Procedimiento: Mi Certificado
        SOAT Electrónico será remitida al correo electrónico que brinde, en el plazo de veinticuatro (24) horas de
        ingresada esta solicitud. En caso observe su contenido o desee desistir, seguiré los pasos que me indiquen en el
        correo enviado. - Medidas de seguridad la información se enviará cifrada a los sistemas de Protecta Security y a
        las pasarelas de pago. - Posibles riesgos: El acceso al contenido y la capacidad de almacenamiento de mi cuenta
        de correo electrónico es de mi responsabilidad, por lo que debo mantener mi cuenta de correo habilitada y
        operativa, así como contar con las medidas de seguridad necesarias para evitar usos indebidos por parte de
        terceros; para la recepción de mi póliza de seguros. Asimismo, manifiesto que cualquier modificación del correo
        electrónico debe ser comunicada a Protecta Security, al correo clientes@protectasecurity.pe Finalmente, declaro
        conocer que se remitirá el Certificado SOAT Electrónico a la dirección ingresada en los campos de datos, una vez
        se haya confirmado el pago en la pasarela de pagos Visa o haber realizado el pago en las entidades financieras
        (presencial o web) mediante el cupón de pago efectivo y en un tiempo no mayor a veinticuatro (24) horas. De no
        recibir el documento adjunto (póliza electrónica), podré solicitarlo en la Central de Servicio al Cliente
        391-3000 (Lima) / 0801-1-1278 (Provincias), asimismo, podrá escribirnos a nuestra dirección de correo
        electrónico clientes@protectasecurity.pe o visitarnos en Av. Domingo Orué 165 Piso 8 - Surquillo, quienes se
        encargarán de enviármelo. 12. DUDAS O CONSULTAS Para cualquier duda o consulta ponemos a su disposición nuestra
        Central de Servicio al Cliente: 391-3000 (Lima) / 0801-1-1278 (Provincias), asimismo, podrá escribirnos a
        nuestra dirección de correo electrónico clientes@protectasecurity.pe o visitarnos en Av. Domingo Orué 165 Piso 8
        - Surquillo. La presente promoción inicia el día de hoy y se mantendrá vigente hasta que el usuario cierre la
        sesión.</p>
    </div>
  </div>
</div>
