.listado {
  border: 1px solid #e6e7ff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.column-button {
  background: #8385b4 0% 0% no-repeat padding-box;
  border-radius: 15px;
  border: none;
  font: normal normal normal 14px/16px 'Bliss Pro', sans-serif;
  color: #ffffff;
  height: 30px;
  min-width: 100px;
  padding: 0 10px 0 10px;
}

.title-re {
  text-align: left;
  font: normal normal normal 24px/29px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  opacity: 1;
}

.subtitle-re {
  font: normal normal normal 18px/21px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #8385b4;
}

.border-none {
  border: none !important;
}

.button-cancelar {
  border: 1px solid #27246d;
  border-radius: 5px;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  text-align: center;
  width: 135px;
  height: 45px;
  background-color: transparent;
}

.button-Guardar {
  background: #79cb33 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  width: 135px;
  height: 45px;
  border: none;
}

.container-visble {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #e6e7ff;
  padding: 20px 0 20px 0;
  font: normal normal normal 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #707070;
}

.visible {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: #8385b4 0% 0% no-repeat padding-box;
}

.padding-modal {
  padding: 0 10px;
}

.invisible-re {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: #c1c2d9 0% 0% no-repeat padding-box;
}
