input[type="radio"] {
    display: none;
}

.nav-menu-prospects {
    padding: 0px;
    margin: 5px 0;
}

td .dropdown {
    width: 24px;
    height: 24px;
}

td .dropdown>a {
    width: 58px;
    height: 58px;
    border-radius: .25rem;
}

td .dropdown .dropdown-toggle {
    white-space: nowrap;
    width: 24px;
    height: 24px;
    background: #a99dbf;
    margin: 0;
    text-align: center;
}

td .dropdown-toggle span {
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
}

.dropdown-u {
    list-style: none;
    margin: 0px;
    width: 220px;
    background-color: #fff;
    // box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px #7c7373;
    padding: 0px 0px;
    border-radius: 7px;
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;

}

.btn-dropdown-u {
    display: block;
    margin: auto;
    background-color: transparent;
    border: none;
    outline: none;
    width: 25px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.1);
    }

    i {
        text-align: center;
        width: 20px;
        font-size: 18px;
    }
}

.dropdown-item-btn-u {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    // background-color: transparent;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    outline: none;
    padding: 7px 10px;
    color: #553d81;

    i {
        text-align: center;
        width: 20px;
        font-size: 18px;
        margin-right: 0.5rem;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.07);
    }
}

.tableButton span {
    font-size: 24px;
    color: #a99dbf
}

.dropdown-toggle::after {
    position: absolute;
    top: 12px;
    right: -12px;
}

.subtitle {
    margin-right: 22px;
    color: #553d81;
}

.subtitle-checkbox {
    margin-left: 16px;
  }
  
  .content-radio-u-2 {
    margin: 0 18px;
  }
  
.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 1rem; */
}

.container-form2 {
    width: 100%;
  
  }
  
  .container-subtitle {
    padding: 4px 0;
    background-color: #a99dbf;
    border: 1px solid #a99dbf;
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
  }
  
  .container-form2-container-select {
    color: #553d81;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 12px;
    // max-width: 400px;
  }

  .container-subtitle span {
    padding: 2px 14px;
    color: #fff;
  }
  

.subtitle-perfil {
    text-align: right;
    /* color: rgb(146, 138, 163); */
    color: rgb(84, 61, 129);
}


// Check Desmarcado
input[type="radio"].mark-u {
    &+label {
      &::before {
        content: "";
        border: 1px solid #553d81;
        color: #553d81;
        width: 20px;
        height: 19px;
        border-radius: 50px;
        top: 5px;
        left: 1px;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        padding-left: 3px;
        padding-bottom: -18px;
        font-size: 12px;
        cursor: pointer;
      }
    }
  
    &.fit+label {
      width: fit-content;
    }

    &:disabled+label {
        opacity: 0.5;
        pointer-events: none;
    }
  }
  
  // Check Marcado
  input[type="radio"].mark-u:checked {
    &+label {
      &::before {
        content: "✓";
        width: 20px;
        height: 19px;
        border-radius: 10px;
        top: 0px;
        left: -1px;
        position: relative;
        display: inline-block;
        border: 1px solid #553d81;
        margin-right: 10px;
        margin-top: -0.5px;
        padding-left: 5.5px;
        padding-top: 1px;
        color: #553d81;
        font-size: 12px;
        cursor: pointer;
      }
    }
  
    &.fit+label {
      width: fit-content;
    }
  
    &.orange {
      &+label {
        &::before {
          content: "✓";
          border: 1px solid #ed6e00;
          color: #ed6e00;
          width: 20px;
          height: 19px;
          border-radius: 10px;
          top: 0px;
          left: -1px;
          position: relative;
          display: inline-block;
          margin-right: 10px;
          margin-top: -0.5px;
          padding-left: 5.5px;
          padding-top: 1px;
          font-size: 12px;
          cursor: pointer;
  
        }
      }
    }
        &.orange:disabled+label::before {
        opacity: 0.5;
        pointer-events: none;
    }
  }
  
  
  input[type="radio"].mark-u-perfilamiento {
    &+label {
      &::before {
        content: "";
        border: 1px solid #a99dbf;
        color: #a99dbf;
        width: 20px;
        height: 19px;
        border-radius: 50px;
        top: 5px;
        left: 1px;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        padding-left: 3px;
        padding-bottom: -18px;
        font-size: 12px;
        cursor: pointer;
      }
    }
  
    &.fit+label {
      width: fit-content;
    }
  }
  
  // Check Marcado
  input[type="radio"].mark-u-perfilamiento:checked {
    &+label {
      &::before {
        content: "";
        border: 1px solid #a99dbf;
        background-color: #a99dbf;
        color: #a99dbf;
        width: 20px;
        height: 19px;
        border-radius: 50px;
        top: 5px;
        left: 1px;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        padding-left: 3px;
        padding-bottom: -18px;
        font-size: 12px;
        cursor: pointer;
      }
    }
  
    &.fit+label {
      width: fit-content;
    }
  }




.form-filters {
    display: grid;
    grid-gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: 1fr;
}


.content-checkbox-u .checkbox-u[disabled]:checked+.checkbox-label-u.orange::before {
    border: rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.25);
    cursor: default;
}



// Check Desmarcado
input[type="radio"].mark-u {
    &+label {
        &::before {
            content: "";
            border: 1px solid rgb(84, 61, 129);
            color: rgb(84, 61, 129);
            width: 20px;
            height: 19px;
            border-radius: 50px;
            top: 5px;
            left: -1px;
            position: relative;
            display: inline-block;
            margin-top: 0px;
            padding-left: 4.5px;
            padding-bottom: -18px;
            font-size: 12px;
            cursor: pointer;
        }
    }

    &.fit+label {
        width: fit-content;
    }

    &.orange {
        &+label {
            &::before {
                content: "";
                border: 1px solid #ed6e00;
                color: #ed6e00;
                width: 20px;
                height: 19px;
                border-radius: 50px;
                top: 5px;
                left: -1px;
                position: relative;
                display: inline-block;
                margin-top: 0;
                padding-left: 4.5px;
                padding-bottom: -18px;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
}

// // Check Marcado
// input[type="radio"].mark-u:checked {
//     &+label {
//         &::before {
//             content: "✓";
//             width: 20px;
//             height: 19px;
//             border-radius: 10px;
//             top: 0px;
//             left: -1px;
//             position: relative;
//             display: inline-block;
//             // background-color: #ed6e00;
//             border: 1px solid rgb(84, 61, 129);
//             margin-top: -0.5px;
//             padding-left: 2.5px;
//             padding-top: -1px;
//             color: rgb(84, 61, 129);
//             font-size: 12px;
//             cursor: pointer;
//         }
//     }

//     &.fit+label {
//         width: fit-content;
//     }

//     &:disabled {
//         opacity: 0.5;
//         pointer-events: none;
//     }

//     &.orange {
//         &+label {
//             &::before {
//                 border: 1px solid #ed6e00;
//                 content: "✓";
//                 width: 20px;
//                 height: 19px;
//                 border-radius: 50px;
//                 top: 1px;
//                 left: -1px;
//                 position: relative;
//                 display: inline-block;
//                 margin-top: 0;
//                 padding-left: 3.8px;
//                 padding-bottom: -18px;
//                 color: #ed6e00;
//                 font-size: 12px;
//                 cursor: pointer;

//             }
//         }
//     }
// }


input[type="radio"].check_box_quote {
    &+label {
        &::before {
            content: "";
            border: 1px solid rgb(84, 61, 129);
            color: rgb(84, 61, 129);
            width: 20px;
            height: 19px;
            border-radius: 50px;
            top: 5px;
            left: -1px;
            position: relative;
            display: inline-block;
            margin-top: 0px;
            padding-left: 4.5px;
            padding-bottom: -18px;
            font-size: 12px;
            cursor: pointer;
        }
    }

    &.fit+label {
        width: fit-content;
    }
}

input[type="radio"].check_box_quote:checked {
    &+label {
        &::before {
            border: 1px solid rgb(84, 61, 129);
            width: 20px;
            height: 19px;
            border-radius: 50px;
            top: 5px;
            left: -1px;
            position: relative;
            display: inline-block;
            margin-top: 0px;
            padding-left: 4.5px;
            padding-bottom: -18px;
        }
    }

    &.fit+label {
        width: fit-content;
    }
}


.container-subtittle-panel {
    text-transform: uppercase;
    background-color: #553d81;
    margin-bottom: 18px;
}

.subtittle-panel {
    padding-left: 20px;
    color: #fff;
}


.return-link {
    color: #ed6e00;
}

.g-1 {
    grid-gap: 0.25rem;
}

.g-2 {
    grid-gap: 0.5rem;
}

.g-3 {
    grid-gap: 1rem;
}

.g-4 {
    grid-gap: 1.5rem;
}


.container_button_next {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
    justify-content: space-between;
}


.sub-container1 {
    // max-width: 350px;
    padding: 1rem;
    background-color: #f7f6ff;
    border-radius: 15px;
    display: flex;
    gap: 1.125rem;
    height: max-content;
    padding-left: 20px;
    flex-direction: column;
}

.item {
    white-space: nowrap;
    color: #aa9ec0;
}

.item-response {
    white-space: nowrap;
    color: #aa9ec0;
    margin-right: 28px;
}

.sub-title {
    color: #553d81;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.sub-title-a {
    padding-top: 1rem;
}


.label {
    color: rgb(84, 61, 129);
    // display: grid;
    // grid-column-gap: 1rem;
    // grid-row-gap: 0.25rem;
    // grid-template-columns: 1fr 1fr;
    // align-items: flex-start;
    display: flex;
    justify-content: space-between;
}


// INI Para Checkbox select Contratante Asegurado
/* TABS */
.tabs {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    font-weight: normal;
    font-size: 1rem;
}

.tabs label:not(.mark-u) {
    color: #553d81;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0rem;
    cursor: pointer;
    border: 1px solid #553d81;
    border-bottom: none;
    transition: background ease-in-out 0.1s;
}

.tab-disabled {
    background-color: #f9f9f9 !important;
    opacity: 1 !important;
    cursor: not-allowed !important;
}

.tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.tab-disabled {
    background-color: rgb(235, 235, 228);
    opacity: 1 !important;
    cursor: not-allowed !important;
}

.tabs input[type="radio"]:checked+label:not(.mark-u) {
    background-color: #553d81;
    color: #fff !important;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}


// Tabs 2

/* TABS */


.tabs2 {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.tabs2 label:not(.mark-u) {
    color: #aa9ec0;
    font-weight: bold;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.125rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: #fff;
    transition: background ease 0.3s;

    .fa-lg {
        color: #aa9ec0;
    }
}

.tabs2 .tab2 {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.tabs2 input[type="radio"]:checked+label:not(.mark-u) {
    border-bottom: 5px solid #553d81;
    color: #553d81 !important;

    .fa-lg {
        color: #553d81;
    }
}


.tabs2 input[type="radio"]:checked+label+.tab2 {
    display: block;
}


@media (max-width: 1602px) {
    .tabs2 input[type="radio"]:checked+label+.tab2 {
        width: 90%;
    }
}

@media (max-width: 465px) {

    .tabs2 .tab2,
    .tabs2 label {
        order: initial;
    }

    .tabs2 label {
        width: 100%;
        margin-left: 50px;
    }
}

// Fin Tabs 2



.vanilla_radio {
    border-bottom: none;
}

.tab-label {
    width: 14%;
}

.tab-label-one {
    width: 18%;
}



.group-div {
    display: flex;
}

.content-titulo {
    width: 50%;
}

.titulo-content {
    font-weight: bold;
    color: #553d81;
    padding: 10px;
}

.titulo-content2 {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 3rem;
    font-weight: bold;
    color: #553d81;
}

.visibility__hidden {
    visibility: hidden;
    display: none !important;
}

.group-button {
    display: flex;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    // margin-top: 0px;
    margin-top: -30px;
    margin-bottom: 6px;
    gap: 14px;
}

// Inicio Tabla
.table-responsive {
    height: 100%;
    overflow-y: auto;
}

.table-responsive {
    padding-right: 0rem;
    background-color: #fff;
}

.table {
    margin: 0 0rem;
}

.full-color {
    display: flex;
    justify-content: center;
    border: 1px solid #ed6e00;
    border-radius: 2px;
    margin: 0 5px;
    background: #ed6e00;
    color: #fff;
    padding: 8px 10px;
    height: 45px;
    outline: none;
}

.full-color span {
    color: #fff;
    margin-left: 10px;
}

.TableMargin {
    min-height: 175px;
}

.TableMargin_short {
    min-height: 104px;
}

.table,
.table-u {
    width: 100%;

    thead {
        background-color: #553d81;
        position: sticky;
        top: 0;
        left: 0;

        tr {
            th {
                color: #fff;
                background-color: transparent;

                &::selection {
                    background-color: #fff;
                    color: #553d81;
                }
            }
        }
    }

    thead,
    tbody,
    tfoot {
        tr {

            th,
            td {
                padding: 0px;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 14px;
                font-weight: normal;
                max-width: 340px;
                vertical-align: middle;
            }
        }
    }

    tbody:not(.no-hover) {
        tr {
            &:hover {
                background-color: rgba(0, 0, 0, 0.035);
            }
        }
    }

    tbody td.actions {
        padding: 0 !important;
        overflow: visible !important;
    }
}


.grid-title {
    background: #553d81;
    background-color: #553d81;
    color: #fff !important;
    text-align: center;
    height: 46px;
}

.grid table .grid-title td,
.thead {
    background: #553d81;
    color: #fff !important;
}

.grid table .grid-title td,
.grid table .grid-body,
.table-info-soat {
    font-family: "Bliss Pro";
    text-align: center;
    font-size: 14px;
}


// FIN Tabla

.quotation-status {
    display: block;
    margin: auto;
    min-width: 75px;
    width: fit-content;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 4px 10px;

    &.generated,
    &.definitive,
    &.expired {
        color: #fff;
    }

    &.generated {
        background-color: #2962ff;
    }

    &.definitive {
        background-color: #66bb6a;
    }

    &.expired {
        background-color: #f44336;
    }
}


@media (max-width: 1602px) {
    .tabs input[type="radio"]:checked+label+.tab {
        width: 90%;
    }
}

@media (max-width: 465px) {

    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-left: 50px;
    }
}

// FIN Para Checkbox select Contratante Asegurado
@media (min-width: 480px) {
    .form-filters {
        grid-template-columns: repeat(2, 1fr);

        .form-actions {
            grid-row: 7;
            grid-column-start: 1;
            grid-column-end: 3;
            flex-direction: row;
        }
    }
}

@media (min-width: 640px) {
    .form-filters {
        grid-template-columns: repeat(3, 1fr);

        .form-actions {
            grid-row: 5;
            grid-column-start: 1;
            grid-column-end: 3;
            flex-direction: row;
        }
    }
}

@media (min-width: 1080px) {
    .form-filters {
        grid-template-columns: repeat(3, 1fr);

        .form-actions {
            grid-row: 4;
            grid-column-start: 1;
            grid-column-end: 5;
            flex-direction: row;
            justify-content: space-between;

            button {
                width: fit-content;
            }
        }
    }
}

@media (min-width: 1800px) {
    .form-filters {
        grid-template-columns: repeat(4, 1fr); // view desktop-L with 3 inputs

        .form-actions {
            grid-row: 3;
            grid-column-start: 4;
            grid-column-end: 6;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    .sub-container1 {
        max-width: 550px;
        padding: 1rem;
        background-color: #f7f6ff;
        border-radius: 15px;
        display: flex;
        gap: 1.5rem;
        height: max-content;
        margin: 0 auto;
        font-size: 16px;
    }
}

.btn-orange {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 0px 17px;
    padding-top: 8px;
    padding-bottom: 12px;
    border-radius: 6px;
    background-color: #ed6e00;
    border: none;
    cursor: pointer;
}

.box {
  all: unset;
}

.marg {
    // margin-left: 68%;
    margin-left: 42px;
}