.container {
  width: 100%;
  padding: 30px 30px;
}

.btn-warning {
  background-color: #ed6e00;
  border-color: #f0ad4e;
  color: white;
}
.btn-warning:hover {
  background-color: #ed6e00;
  border-color: #f0ad4e;
  color: white;
}
.btn.disabled,
.btn:disabled {
  opacity: 1;
}

.title-principal {
  height: auto;
  width: 100%;
  color: #2b0d61;
  font-family: "Bliss Pro";
  font-size: 30px;
  font-weight: 800;
  line-height: 0px;
  text-align: center;
  margin-bottom: 30px;
}

.text-descripcion {
  height: auto;
  width: 100%;
  color: #553d81;
  font-family: "Bliss Pro";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0px;
}

.title-principal-client {
  height: auto;
  width: 100%;
  color: #2b0d61;
  font-family: "Bliss Pro";
  font-size: 44px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
}

.text-forget-align {
  text-align: right;
}

.text-forget {
  height: auto;
  width: 100%;
  color: #2b0d61;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
}

input {
  padding: 15px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 0px;
}

.captcha {
  width: 305px;
  margin: auto;
  position: absolute;
  z-index: 9;
}

.modal {
  margin-top: 10rem;
}

.modal-content {
  width: 450px;
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  color: #2b0d61  
}


.modal-footer {
  border-top: none;
}

.btn-orange {
  text-decoration: none;
  color: #ffffff;
  font-family: "Bliss Pro";
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  border-radius: 6px;
  background-color: #ed6e00;
  cursor: pointer;
  width: 120px;
  float: right;
}


@media (max-width: 768px) {
  .title-principal {
    height: auto;
    width: 100%;
    color: #2b0d61;
    font-family: "Bliss Pro";
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  .text-descripcion {
    height: auto;
    width: 100%;
    color: #553d81;
    font-family: "Bliss Pro";
    font-size: 24px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 22px;
  }
  .title-principal-client {
    height: auto;
    width: 100%;
    color: #2b0d61;
    font-family: "Bliss Pro";
    font-size: 30px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
  }
}

/* NEW STYLES */
.login {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr;
}
.login__container {
  margin: auto;
  max-width: 450px;
  width: 100%;
  background: #fff;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}
.frmlogin {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.frmlogin__inputs--in {
  width: 100%;
  height: 50px;
  padding: 10px 50px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.frmlogin__inputs--in[disabled] {
  opacity: 0.5;
}
.login__item {
  text-align: center;
}

.frmlogin__inputs--submit {
  background-color: #ed6e00;
  color: #fff;
}
label {
  margin: 0;
}
label.placeholder {
  position: relative;
}
label.placeholder::after {
  content: attr(aria-placeholder);
  display: block;
  position: absolute;
  font-size: 16px;
  top: 14px;
  left: 50px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
label.placeholder-active::after {
  top: 5px;
  font-size: 13px;
}
input.placeholder-active {
  padding-top: 22px;
}
.login__item--forget {
  display: block;
  text-align: right;
  width: fit-content;
  margin: 0 10px 0 auto;
  text-decoration: none !important;
  color: #2b0d61 !important;
  font-weight: bold;
}
.login__item--subtitle {
  font-size: 16px;
}
.login__item--desc {
  font-weight: bold;
  font-size: 31px;
  margin-top: 1rem;
}
.welcome_login {
  margin-bottom: 2rem;
  color: #2b0d61;
}
.hasError {
  text-align: left;
  display: block;
  margin-top: 0.5rem;
  font-weight: 100;
  margin-left: 10px;
}
.icon-right {
  position: absolute;
  top: 14px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  left: 20px;
}
.alert-danger {
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
}
