<div class="row">
    <div class="col-md-3">
        <app-nav-menuprod></app-nav-menuprod>
    </div>
    <div class="col-md-9">
        <div class="container-fluid">
            <div class="containt-item">
                <div class="header-content">
                    <div class="header-item">
                        <span class="title">AJUSTES DE PARÁMETROS</span>
                    </div>
                </div>
           </div>
           <div class="filter">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <span>RAMO(*)</span>
                                <select class="minimal" [(ngModel)]="filters.NBRANCH" (change)="getProductListByBranch()">
                                    <option value="0">SELECCIONAR</option>
                                    <option *ngFor="let branch of branchList" value="{{branch.NBRANCH}}">{{branch.SDESCRIPT}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <span>PRODUCTO (*)</span>
                                <select class="minimal" [(ngModel)]="filters.NPRODUCT" (change)="getTransactionsByProduct()">
                                    <option value="0">SELECCIONAR</option>
                                    <option *ngFor="let product of productList" value="{{product.COD_PRODUCT}}">{{product.DES_PRODUCT}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <span>PERFIL</span>
                                <select class="minimal" [(ngModel)]="filters.NPERFIL">
                                    <option value="0" *ngIf="profileId == 8">TODOS</option>
                                    <option *ngFor="let param of profileList" value="{{param.NPERFIL}}">{{param.SDESCRIPT}}</option>
                                </select>
                            </div>
                       </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span>TIPO DE TRANSACCIÓN (*)</span>
                                <select class="minimal" [(ngModel)]="filters.NTYPE_TRANSAC"
                                    (change)="getComboParametersByTransaction()">
                                    <option value="0">TODOS</option>
                                    <option *ngFor="let trans of transactionList" value="{{trans.NTYPE_TRANSAC}}">{{trans.SDESCRIPT}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <span>PARÁMETROS</span>
                                <select class="minimal" [(ngModel)]="filters.NPARAM" (change)="changeParameter()">
                                    <option value="0">SELECCIONAR</option>
                                    <option *ngFor="let param of parameterList" value="{{param.NPARAM}}">{{param.SDESCRIPT}}</option>
                                </select>
                            </div>
                            <div *ngIf="showCta" class="col-sm-3">
                                <span>TIPO DE CUENTA</span>
                                <select class="minimal" [(ngModel)]="filters.P_SISCLIENT_GBD">
                                  <option value="0">TODOS</option>
                                  <option value="1">GOBIERNO</option>
                                  <option value="2">PRIVADO</option>
                                </select>
                              </div>
                       </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="full-color pull-right" (click)="search()"><span>Buscar</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid form-group">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="grid-title">
                                    <td class="grid-title-item">Ramo</td>
                                    <td class="grid-title-item">Producto</td>
                                    <td class="grid-title-item">Tipo de Transacción</td>
                                    <td class="grid-title-item">Parámetro</td>
                                    <td class="grid-title-item">Perfil</td>
                                    <td class="grid-title-item">Tipo de Cuenta</td>
                                    <td class="grid-title-item">Opciones</td>
                                </tr>
                            </thead>
                            <tbody *ngIf="parameterListToShow.length == 0">
                                <tr>
                                    <td colspan="11">No se encontraron registros</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="parameterListToShow.length != 0">
                                <tr *ngFor="let param of parameterListToShow">
                                    <td>{{param.SDESCRIPT_BRANCH}}</td>
                                    <td>{{param.SDESCRIPT_PRODUCT}}</td>
                                    <td>{{param.SDESCRIPT_TRANSAC}}</td>
                                    <td>{{param.SDESCRIPT}}</td>
                                    <td>{{param.SDESCRIPT_PERFIL}}</td>
                                    <td>
                                        <span *ngIf="param.P_SISCLIENT_GBD == '1'" class="mt-0">GOBIERNO</span>
                                        <span *ngIf="param.P_SISCLIENT_GBD == '2'" class="mt-0">PRIVADO</span>
                                        <span *ngIf="param.P_SISCLIENT_GBD == '0'" class="mt-0">TODOS</span>
                                    </td>
                                    <td>
                                        <a (click)="openParam(this.param)">
                                            <img src="assets/icons/see.svg" alt=""
                                                style="cursor: pointer;height: 24px;margin-left: 10px">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div *ngIf="foundResults!=null && foundResults.length>0" class="row" style="display:flex">
                            <div class="col-sm-10">
                                <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
                                    [maxSize]="maxSize" (pageChange)="pageChanged(currentPage)">
                                    <ng-template ngbPaginationPrevious>ANTERIOR</ng-template>
                                    <ng-template ngbPaginationNext>SIGUIENTE</ng-template>
                                </ngb-pagination>
                            </div>
                            <div class="col-sm-2">
                                <span style="display: inline-block;">Mostrar: </span>
                                <select [(ngModel)]="itemsPerPage" name="LimitPerPage" class="minimal" (change)="mostrarMas()"
                                    style="display: inline-block; width: 50%; float: right; position: relative; top: -10px;">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
                             
        
           <div class="row mt-2">
               
    </div>
</div>
