$purple: #553d81;
$purple_low: #aa9ec0;
$purple_70: #e9e7fa;
$purplebc: #f7f6ff;

$orange: #ff5100;
$orange-30: #ffded2;
$orangebc: #eb6d000f;

$success-color: #8bc34a;
$error-color: #e53935;

$purple_input: #75688b;

$font-family: "Bliss Pro";
