@import "variables";
.content {
  position: relative;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
  overflow: auto;
}
.content__close {
  position: absolute;
  top: 2rem;
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  .fa {
    margin-right: 7px;
    color: $orange;
    font-size: 22px;
  }
  span {
    color: $orange;
    font-size: 16px;
  }
}
.header {
  margin: 0;
  display: flex;
  grid-template-columns: 1.3fr 1fr;
  grid-gap: 3rem;
  // align-items: center;
  justify-content: center;
  margin-top: 5rem;
  overflow: visible;
  min-height: 35vw;
}
.background {
  // background-position: top;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height: 35vw;
  // max-height: 500px;
}
.header__product {
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 220px;
}
.product {
  text-align: center;
}
.product img {
  width: 175px;
}
.header__product--title {
  font-weight: bold;
  font-size: 32px;
  max-width: 170px;
  text-align: center;
  color: $purple;
  margin-top: 0.5rem;
}
.quests {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2rem 1rem;
  &::after {
    content: "";
    display: none;
    min-width: 320px;
    min-height: 360px;
    background-image: url(../../../../../assets/accidentes-personales/what.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5rem;
  }
}
.quests__item {
  max-width: 510px;
  text-align: left;
}
.quests__item--list {
  list-style: none;
  padding: 0;
}
.quests__item--list-item {
  font-weight: bold;
  color: $purple;
  font-size: 18px;
}
.quests__item--subtitle {
  color: $orange;
  font-weight: bold;
}
.quests__item--actions-button {
  padding: 5px 20px;
  border: none;
  background-color: #fff;
  height: 45px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.quests__item--actions-button:not(:first-child) {
  margin-left: 1rem;
}
.quests__item--actions {
  margin-top: 2rem;
}
.actions__btn--secondary {
  border: 1px solid $orange;
  color: $orange;
  &:hover {
    background-color: $orangebc;
  }
}
.actions__btn--primary {
  background-color: $orange;
  color: #fff;
  &:hover {
    filter: brightness(95%);
    -webkit-filter: brightness(95%);
  }
}
.services__list--item {
  background: #f7f6ff;
  max-width: 225px;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}
.services__list--item img {
  width: 100%;
}
.services__list--item-title {
  padding: 1rem;
  font-size: 18px;
}
.services__list--item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0.5rem 1rem;
}
.services__list--item-footer img {
  max-width: 50px;
}
.services__list--item-footer a {
  font-weight: bold;
}
.services__list {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 1.5rem;
}

@media (min-width: 640px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 860px;
    margin: auto;
  }
}
@media (min-width: 740px) {
  .quests::after {
    display: block;
  }
}
@media (min-width: 880px) {
  .services__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1000px) {
  .background {
    display: block;
  }
  .header {
    display: grid;
    margin-top: 0;
  }
}
::ng-deep .app-quest .modal {
  background: rgba(0, 0, 0, 0.5);
}
