<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 no-left">
            <app-nav-menuprod></app-nav-menuprod>
        </div>
        <div class="col-md-9">
            <div class="container-fluid">
                <div class="header-content pb-2">
                    <div class="containt-item">
                        <div class="header-item">
                            <span class="title">Cambio Fecha Siniestro</span>
                        </div>
                    </div>
                </div>
                <div class="filter mt-3">
                    <div class="form-group row filter-row d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start flex-row align-items-center">
                                <span style="font-size: medium;width: 300px;">Consultar Siniestro:</span>

                                <input *ngIf="alwaystrue"
                                       class="form-input-text"
                                       placeholder="Número de Siniestro"
                                       [class.only-input]="onlyInput"
                                       matInput
                                       type="text"
                                       inputmode="numeric"
                                       pattern="\d+"
                                       [disabled] = "ValidarModal()"
                                       [(ngModel)]="nroSiniestro"
                                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); this.value = this.value.replace(/[^0-9]/g, '');"
                                       maxlength="10" />

                            </div>
                            <div class="d-flex justify-content-start flex-row align-items-center">
                                <div class="filter-row-cell w-ft pr-0">
                                    <button type="button"
                                            [disabled]="!nroSiniestro"
                                            class="searchForAdmin"
                                            (click)="RealizarBusquedaInicio()">Buscar</button>
                                </div>
                                <div class="filter-row-cell w-ft pl-0">
                                    <button type="button"
                                            class="searchForAdmin mr-0"
                                            (click)="limpiarCampos()">Limpiar</button>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="grid form-group">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="grid-title">
                                <td class="grid-title-item">Nro. Siniestro</td>
                                <td class="grid-title-item">Ramo</td>
                                <td class="grid-title-item">Póliza / Certificado.</td>
                                <td class="grid-title-item">Estado Siniestro</td>
                                <td class="grid-title-item">Fecha Ocurrencia</td>
                                <td class="grid-title-item">Fecha Denuncia</td>
                                <td class="grid-title-item">Fecha Documentación Completa</td>
                                <td class="grid-title-item">Fecha Aprobación</td>
                                <td class="grid-title-item">Acción</td>

                            </tr>
                        </thead>
                        <div *ngIf="mostrarData; then ocultarGrilla; else mostrarGrilla"></div>
                    </table>
                    <ng-template #mostrarGrilla>
                        <tbody>
                            <tr>
                                <td colspan="13">No se encontró información</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <ng-template #ocultarGrilla>
                        <tbody *ngFor="let row of dataRecuperada  | paginate: { itemsPerPage: 20, currentPage: p }">
                            <tr>
                                <td>{{ row.V_NRO_SINIESTRO }}</td>
                                <td>{{ row.V_RAMO }}</td>
                                <td>{{ row.V_POLIZA }} - {{ row.V_CERTIFICADO }}</td>
                                <td>{{ row.V_ESTADO_SINIESTRO}} </td>
                                <td>{{ row.V_FECHA_OCURRENCIA }} </td>
                                <td>{{ row.V_FECHA_DENUNCIA }}</td>
                                <td>{{ row.V_FECHA_DOC_COMPLETA }}</td>
                                <td>{{ row.V_FECHA_APROBACION}}</td>
                                <td class="justify-content-center">
                                    <button [disabled]="false"
                                            style="background-color:  rgb(85, 61, 129);"
                                            type="button"
                                            class="button_update w-100"
                                            (click)="AbrirModal()">Modificar</button>
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <pagination-controls *ngIf="mostrarData"
                                         class="my-pagination"
                                         (pageChange)="p = $event"
                                         autoHide="true"
                                         responsive="true"
                                         previousLabel="Anterior"
                                         nextLabel="Siguiente"
                                         screenReaderPaginationLabel="Paginación"
                                         screenReaderPageLabel="pagina"
                                         screenReaderCurrentLabel="Estás en la pagina"></pagination-controls>
                </div>
            </div>
        </div>
    </div>


    <div bsModal
         #childModalMensaje="bs-modal"
         class="modal fade w-75 p-3 align-items-center justify-content-center"
         style="margin-left: 25%;">
        <div class=" w-75 p-3">
            <div class="modal-content d-flex align-items-center justify-content-center w-100 p-3">
                <div class="w-100 d-flex align-items-center justify-content-between pl-4">
                    <h4 id="
           dialog-child-name"
                        class="modal-title pull-left titlemensajeinfo">
                        Modificar Datos Siniestros: {{SiniestroRecuperado}}
                    </h4>
                    <button type="button"
                            class="close close-button"
                            data-dismiss="modal"
                            aria-label="Close"
                            (click)="closeModalMensaje()">
                        <span aria-hidden="true">
                            <img alt=""
                                 src="assets/icons/close_modal.png" />
                        </span>
                    </button>
                </div>
                <div class="w-100 d-flex flex-row align-item-center justify-content-center">
                    <div class="px-5 w-100 d-flex flex-column">
                        <div class="fechas-modal">
                            <span>FECHA OCURRENCIA:</span>
                            <input type="text"
                                   class="form-control input-search w-50"
                                   #dp="bsDatepicker"
                                   [bsConfig]="bsConfig"
                                   bsDatepicker
                                   [formControl]="FechaOcurrencia"
                                   readonly
                                   style="background-color: white" />
                        </div>
                        <div  class="fechas-modal">
                            <span>FECHA DENUNCIA:</span>
                            <input type="text"
                                   class="form-control input-search w-50"
                                   #dp="bsDatepicker"
                                   [bsConfig]="bsConfig"
                                   bsDatepicker
                                   [formControl]="FechaDenuncia"
                                   readonly
                                   style="background-color: white" />
                        </div>
                        <div class="fechas-modal">
                            <span>FECHA DOCUMENTACIÓN COMPLETA:</span>
                            <input type="text"
                                   class="form-control input-search w-50"
                                   #dp="bsDatepicker"
                                   [bsConfig]="bsConfig"
                                   bsDatepicker
                                   [formControl]="FechaDocumentoCompleto"
                                   readonly
                                   style="background-color: white" />
                        </div>
                        <div class="fechas-modal">
                            <span>FECHA APROBACIÓN:</span>
                            <input type="text"
                                   class="form-control input-search w-50"
                                   #dp="bsDatepicker"
                                   [bsConfig]="bsConfig"
                                   bsDatepicker
                                   [formControl]="FechaAprobacion"
                                   readonly
                                   style="background-color: white" />
                        </div>

                    </div>
                </div>
                <div class="mt-4 d-flex flex-row justify-content-center gap-4 w-100">
                    <div class="d-flex flex-row  align-items-center px-5 w-50">
                        <button type="button"
                                class="button-close button-center"
                                (click)="closeModalMensaje()">
                            <span>Salir</span>
                        </button>
                        <button type="button"
                                class="button-close button-center"
                                (click)="validarCampos()">
                            <span>Grabar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>