
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
::placeholder {
    color: rgb(146, 138, 163);
}

.filter {
    width: 100%;
    margin: 0px auto;
}

.filter .filter-row {
    display: flex;
}

:host ::ng-deep .filter select,
:host ::ng-deep select#ChannelSalesSelect {
    height: 36px;
}

.filter .filter-row .filter-row-cell span {
    width: 100%;
    color: #2b0d61;
    display: block;
    font-size: 13px;
    font-weight: 300;
    height: 24px;
    line-height: 24px;
}

.filter .filter-row .filter-row-cell select {
    border: 1px solid #aa9ec0;
}

.filter .filter-row .filter-row-cell input[type="text"],
.filter .filter-row .filter-row-cell input[type="number"] {
    border: none;
    padding: 7px 5px;
    margin-top: 5px;
    border: 1px solid rgb(146, 138, 163);
    color: rgb(146, 138, 163);
    font-size: 14px;
    width: 100%;
    border: 1px solid #aa9ec0;
    color: #aa9ec0;
    height: 36px;
    font-weight: 300;
    padding-left: 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.filter .filter-row .filter-row-cell input[type="date"] {
    border: none;
    border-radius: 2px;
    padding: 6px 5px;
    margin-top: 5px;
    border: 1px solid rgb(146, 138, 163);
    color: rgb(146, 138, 163);
    width: 100%;
    font-size: 14px;
    border: 1px solid #aa9ec0;
    color: #aa9ec0;
    height: 45px;
    font-weight: 300;
    padding-left: 12px;
}

.grid {
    width: 100%;
    margin: 20px auto;
    font-size: 12px;
    font-weight: 300;
}

.grid table {
    width: 100%;
    border-collapse: collapse;
}

.grid table tr td {
    padding: 5px 5px;
    text-align: center;
    color: #2b0d61 !important;
}

.col-sm-12 {
    padding-right: 0px;
}

.grid table tr:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.grid table .grid-title td {
    font-family: "Bliss Pro";
    text-align: center;
    font-size: 12px;
    background: #553d81;
    color: #fff !important;
}

.grid table tr td button {
    border: none;
    display: block;
    padding: 7px 9px;
    border-radius: 2px;
    background: rgb(169, 157, 192);
    color: #fff;
    margin: 0 2px;
    height: 30px;
    width: 25px;
    font-family: "Bliss Pro";
}

.grid table tr .flex {
    display: flex;
    justify-content: center;
}

.header-content {
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid rgb(109, 99, 129);
    display: flex;
    justify-content: space-between;
}

.header-content .containt-item {
    display: flex;
    justify-content: space-between;
}

.header-content .header-item {
    display: block;
    padding: 5px 0;
}

.header-content .header-item .title {
    color: #553d81;
    font-size: 32px;
    font-weight: bold;
    line-height: 31px;
    display: block;
    margin-top: 8px;
    margin-right: 18px;
}

.header-content .header-item button {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(129, 118, 157);
    border-radius: 2px;
    margin: 0 5px;
    background: #fff;
    padding: 8px 5px;
    min-width: 170px;
    height: 45px;
}

.header-content .header-item button:hover {
    cursor: pointer;
}

.header-content .header-item button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.header-content .header-item button span {
    display: block;
    margin-left: 10px;
    font-weight: 600;
    color: rgb(83, 66, 121);
}

.header-content .header-item .purple {
    background: #553d81;
}

.header-content .header-item .purple span {
    color: #fff;
}

.header-content .rigth-item {
    float: right;
}

.header-content .rigth-item {
    float: right;
}

.rigth-item button img {
    display: table-cell;
    margin-top: auto;
    margin-bottom: auto;
}

.full-color {
    background: #553d81 !important;
}

.full-color span {
    color: #fff !important;
}

.errormail {
    border: 1px solid #e60d2e;
    color: #e60d2e;
}

.header-content .header-item .full-color button {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(129, 118, 157);
    border-radius: 2px;
    margin: 0 5px;
    background: #553d81;
    color: #fff;
    padding: 8px 5px;
    min-width: 177px;
    height: 45px;
    outline: none;
}

.input-date {
    height: 45px;
    width: fit-content;
    display: inline-block;
    border: 1px solid #aa9ec0;
    border-radius: 2px;
}

.div-date {
    display: inline-block;

    margin-top: 5px;
}

.float-right {
    margin-top: 10px;
}

button {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(129, 118, 157);
    border-radius: 2px;
    margin: 0 5px;
    background: #fff;
    padding: 8px 5px;
    min-width: 200px;
    height: 45px;
    outline: none;
    font-family: "Bliss Pro";
    font-size: 16px;
}

.button-search {
    padding: 5px 0px;
    height: 37px;
    min-width: 130px;
}

button:hover {
    cursor: pointer;
}

button span {
    display: block;
    margin-left: 10px;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: rgb(83, 66, 121);
}

.close-button {
    min-width: initial;
    font-size: initial;
    border-radius: 50%;
    border: none !important;
}

.titlemensajeinfo {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 24px !important;
    color: #2b0d61 !important;
    font-weight: bold !important;
    line-height: 28px !important;
}

.inputerror {
    border: 1px solid #e60d2e;
    color: #e60d2e;
}

.error {
    color: red;
    font-size: 12px;
}

.close-button span {
    margin: auto;
}

.modal-header {
    background: white !important;
    padding: 15px !important;
    border-bottom: 1.5px solid #d5cfdf !important;
}

.full-color-modal {
    border-radius: 2px;
    background-color: #ed6e00;
    border: 1px solid #ed6e00;
}

.full-color-modal span {
    color: #ffffff;
    font-family: "Bliss Pro";
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    text-align: center;
}

.full-color-modal[disabled] {
    background-color: #eceeef;
    color: #aa9ec0;
    border: 1px solid #aa9ec0;
}

.full-color-modal[disabled] span {
    color: gray;
}

.error-message {
    font-size: 12px;
    color: #e60d2e;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* .full-color-modal span {
    height: 19px;
    width: 170px;
    color: #ffffff;
    font-family: "Bliss Pro";
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    text-align: center;
  } */

.message-approb {
    height: 250px;
}

.modal-hist {
    min-height: 400px !important;
}

.modalcontent-hist {
    min-width: 700px !important;
}

.centrar {
    display: table;
    margin: 0 auto;
}

.button-modal {
    border-top: 1.5px solid #d5cfdf !important;
    border-radius: 0 0 6px 6px !important;
    background-color: #ffffff !important;
    margin-top: 5px;
    padding-top: 15px;
    margin-bottom: 0 !important;
}

.button-center {
    margin: 0px auto;
}

:host ::ng-deep .paso {
    display: none !important;
}

.button-close {
    border: 1px solid #ed6e00 !important;
}

.button-close span {
    font-family: "Bliss Pro";
    font-size: 16px;
    color: #ed6e00 !important;
}

.bHideBody {
    display: none;
}

.bHideHeader {
    border: none !important;
}

.div-edicion {
    max-width: 900px !important;
}

.div-contratante {
    max-width: 900px !important;
}

.input-search {
    margin-top: 0px !important;
}

.pt-fc {
    padding-top: 5px;
}

textarea {
    resize: none;
}

.col-client {
    text-align: left !important;
}

.anchordisabled {
    opacity: 0.5;
}

.searchForAdmin {
    margin-left: 2%;
    height: 58%;
    margin-top: 5px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    background-color: #553d81;
    color: #fff;
    border: 1px solid #553d81;
}

.searchForAdmin:disabled {
    background-color: #553d81;
    color: lightgray;
    border: none;
    cursor: not-allowed;
    opacity: 0.5;
    height: 58%;
    margin-left: 2%;

}

/*  CORREO ENVIADO  */
.modal-emitido {
    text-align: center;
}

.icon-check {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
}

.btn-aceptar-modal {
    color: #fff;
}

button.close {
    border: none;
    min-width: 50px;
}

.modal-emitido h2 {
    color: #2b0d61;
}

.modal-emitido {
    color: #553d81;
}

.clearDataForm {
    border: 1px solid #553d81;
    background-color: #fff;
    color: #553d81;
}

.errorSearchForm {
    display: inline-block;
    color: red;
    font-size: 14px;
    padding-left: 15px;
}

.w-ft {
    width: fit-content !important;
    min-width: fit-content !important;
    max-width: fit-content !important;
}

.input-search[type="number"] {
    border: 1px solid #2b0d61;
}

.search-filters {
    justify-content: end;
}

.message-infoDate {
    color: #2b0d61;
    font-size: 14px;
    padding-left: 15px;
}

.content-lef {
    padding-left: 0 !important;
}

.form-input-text {
    border-radius: 2px !important;
    padding: 0px 10px 0 12px !important;
    margin-top: 5px;
    font-size: 14px !important;
    width: 100%;
    border: 1px solid #aa9ec0;
    color: #aa9ec0;
    height: 40px !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}

.form-input-text span {
    margin-top: 0.7em;
    display: block;
}

.form-input-text input.only-input {
    margin-top: 0 !important;
    text-align: center;
}
