.listado {
  border: 1px solid #e6e7ff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.column-button {
  background: #8385b4 0% 0% no-repeat padding-box;
  border-radius: 15px;
  border: none;
  font: normal normal normal 14px/16px 'Bliss Pro', sans-serif;
  color: #ffffff;
  height: 30px;
  min-width: 100px;
  padding: 0 10px 0 10px;
}

.title-re {
  text-align: left;
  font: normal normal normal 24px/29px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  opacity: 1;
}

.subtitle-re {
  font: normal normal normal 18px/21px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #8385b4;
}

.border-none {
  border: none !important;
}

.button-cancelar {
  border: 1px solid #27246d;
  border-radius: 5px;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  text-align: center;
  width: 135px;
  height: 45px;
  background-color: transparent;
}

.button-Guardar {
  background: #79cb33 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  width: 135px;
  height: 45px;
  border: none;
}

.new-document {
    background-color: #79cb33;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container-visble {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;

  padding: 20px 0 20px 0;
  font: normal normal normal 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #707070;
}
.container-two-section {
  border-top: 1px solid #e6e7ff;
  border-bottom: 1px solid #e6e7ff;
  padding: 10px 0;
}

.padding-modal {
  padding: 0 10px;
}

.label-input {
  font: normal normal normal 18px/21px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #707070;
}

.label-input label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #ff7b00;
  background-color: transparent;
}

.label-input input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #ff7b00;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #ff7b00;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #ff7b00;
}

.filter-container {
  display: grid;
  gap: 10px;
  width: 70%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.container-one-section {
  width: 100%;
  margin-bottom: 20px;
}

.button-re {
  border: none;
  background: #27246d 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  width: 135px;
  height: 45px;
}

.t-head {
  background: #f4f4fa 0% 0% no-repeat padding-box;
}

.accent-orange {
  accent-color: #ff7b00;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.container input:checked ~ .checkmark {
  background-color: #ff7b00;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.container .checkmark:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.container-multi-select {
  position: relative; /* Esto permite que los elementos hijos con position: absolute se posicionen en relación a este contenedor */
}

.multi-select-c{
    margin-top: 10px;
}

.content-multi-select {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.multi-select {
  width: 100%;
  display: block;
  line-height: 1.5em;
  padding: 4px 5px 0px 5px;
  color: rgb(146, 138, 163);
  font-family: 'Bliss Pro', sans-serif;
  font-size: 14px;
  padding-left: 12px;
  font-weight: 300;
  border: 1px solid #b4b5d9;
  border-radius: 5px;
  opacity: 1;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  margin-top: 82px;
  position: absolute;
  z-index: 1000;
  background-color: white;
}

.input-multi-select {
  height: 45px !important;
  padding: 0px 10px 0 12px;
  border-radius: 5px !important;
  font-size: 14px !important;
  border: 1px solid #aa9ec0;
  color: #aa9ec0;
  outline: none;
}

.warning {
  border: 1px solid rgb(241, 164, 63);
}

.warningText {
  border: 1px solid rgb(241, 164, 63);
  margin-top: 5px;
  color: rgb(241, 164, 63);
}

.errorText {
    border: 1px solid red;
    margin-top: 5px;
    color: red;
}

.content-multi-select label {
  margin: 0.7em 0 0.7em 0;
  display: block;
  text-align: left;
  font: normal normal normal 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #8385b4;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  
  input:disabled {
    background-color: rgb(222, 222, 222);
  }
  