<div class="form-group row">
    <div class="col-lg-3">
        <app-nav-menuprod></app-nav-menuprod>
    </div>
    <div class="col-lg-9">
        <div class="group1"
             style="border-bottom: 1px solid #553d81; padding-bottom: 8px;">
            <h2 class="title">
                CONSULTA SOLICITUDES DE COTIZACIÓN
            </h2>

            <div class="d-flex flex-column align-items-end">
                <span>PRODUCTO: {{SEARCH_PARAMS.product.valor}}</span>
                <span>FECHA ACTUAL: {{current_day.toLocaleDateString('es-ES')}}</span>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">
                <form-input-select text_label="PRODUCTO:"
                                   [(value)]="SEARCH_PARAMS.product"
                                   fieldCodigo="codigo"
                                   fieldValor="valor"
                                   [items]="PRODUCT"
                                   [large]="true"
                                   [disabled]="true"></form-input-select>
            </div>
            <div class="col-lg-3">
                <form-input-text text_label="NRO. COTIZACIÓN:"
                                 [onlyInput]="true"
                                 [(value)]="SEARCH_PARAMS.quotation_number"
                                 (keypress)="quotation_numberKeyPress($event)"
                                 (keypaste)="quotation_numberKeyPress($event)"
                                 (keyup)="quotation_numberKeyPress($event)"
                                 maxCaracter="10"
                                 [large]="true"
                                 [patternPrevent]="CONSTANTS.REGEX.NUMBER_"></form-input-text>
            </div>
            <div class="col-lg-3">
                <form-input-date text_label="FECHA COT. DEFINITIVA DESDE:"
                                 [(value)]="SEARCH_PARAMS.date_start"
                                 [maxDateInf]="date_max"
                                 [large]="true"
                                 [disabled]="SEARCH_PARAMS.date_start_disabled"></form-input-date>
            </div>
            <div class="col-lg-3">
                <form-input-date text_label="FECHA COT. DEFINITIVA HASTA:"
                                 [(value)]="SEARCH_PARAMS.date_end"
                                 [maxDateInf]="date_max"
                                 [large]="true"
                                 [disabled]="SEARCH_PARAMS.date_end_disabled"></form-input-date>
            </div>
            <div class="col-lg-3">
                <form-input-select text_label="TIPO DE CLIENTE:"
                                   [(value)]="SEARCH_PARAMS.client_type"
                                   [updateModelOnChange]="true"
                                   fieldCodigo="codigo"
                                   fieldValor="valor"
                                   [items]="TYPE_CLIENT"
                                   [large]="true"
                                   [disabled]="SEARCH_PARAMS.client_type_disabled"></form-input-select>
            </div>
            <div class="col-lg-3">
                <form-input-select text_label="TIPO DE DOCUMENTO:"
                                   [service]="clientInformationService"
                                   method="getDocumentTypeList"
                                   [updateModelOnChange]="true"
                                   (onSelect)="changeDocumentType()"
                                   [params]="codProducto"
                                   [(value)]="SEARCH_PARAMS.document_type"
                                   fieldCodigo="Id"
                                   fieldValor="Name"
                                   [firstSelect]="true"
                                   [large]="true"
                                   [disabled]="SEARCH_PARAMS.document_type_disabled"></form-input-select>
            </div>
            <div class="col-lg-3">
                <form-input-text text_label="NÚMERO DE DOCUMENTO:"
                                 [onlyInput]="true"
                                 [(value)]="SEARCH_PARAMS.document_number"
                                 [large]="true"
                                 [patternPrevent]="CONSTANTS.REGEX[SEARCH_PARAMS.document_type?.Id]"
                                 [disabled]="SEARCH_PARAMS.document_number_disabled"></form-input-text>
            </div>

            <div class="col-lg-3">
                <form-input-select text_label="ESTADO COTIZACIÓN:"
                                   [updateModelOnChange]="true"
                                   [(value)]="SEARCH_PARAMS.quotation_states"
                                   [items]="quotation_states_list"
                                   fieldCodigo="Id"
                                   fieldValor="Name"
                                   [firstSelect]="true"
                                   [large]="true"></form-input-select>
            </div>

            <div class="col-lg-3">
                <form-input-text text_label="NOMBRES:"
                                 [onlyInput]="true"
                                 [(value)]="SEARCH_PARAMS.names"
                                 maxCaracter="19"
                                 [large]="true"
                                 [patternPrevent]="CONSTANTS.REGEX.LETRAS"
                                 [disabled]="SEARCH_PARAMS.names_disabled"></form-input-text>
            </div>
            <div class="col-lg-3">
                <form-input-text text_label="APELLIDO 1:"
                                 [onlyInput]="true"
                                 [large]="true"
                                 [(value)]="SEARCH_PARAMS.last_name"
                                 maxCaracter="19"
                                 [patternPrevent]="CONSTANTS.REGEX.LETRAS"
                                 [disabled]="SEARCH_PARAMS.last_name_disabled"></form-input-text>
            </div>
            <div class="col-lg-3">
                <form-input-text text_label="APELLIDO 2:"
                                 [onlyInput]="true"
                                 [large]="true"
                                 [(value)]="SEARCH_PARAMS.last_name2"
                                 maxCaracter="19"
                                 [patternPrevent]="CONSTANTS.REGEX.LETRAS"
                                 [disabled]="SEARCH_PARAMS.last_name2_disabled"></form-input-text>
            </div>

            <div class="col-lg-3">
                <form-input-select text_label="ESTADO DEL FILE"
                                   [updateModelOnChange]="true"
                                   [(value)]="SEARCH_PARAMS.status_file"
                                   [items]="status_file_list"
                                   fieldCodigo="Ncode"
                                   fieldValor="Sdescripction"
                                   [firstSelect]="true"
                                   [large]="true"></form-input-select>

            </div>

        </div>

        <!-- <div class="col-lg-6 d-flex justify-content-end align-items-end mb-3"> -->
        <div class="d-flex flex-row-reverse mb-3">
            <!-- <form-button label="Limpiar"
                                         btnClass="btn-secondary-VI text-nowrap"
                                         [slim]="true"
                                         (click)="limpiar()"></form-button> -->
            <form-button label="Buscar"
                         class="ml-2"
                         btnClass="btn-primary-VI text-nowrap"
                         [slim]="false"
                         (click)="buscar()"></form-button>
        </div>

        <!-- TABLAA -->
        <div class="grid form-group"
             style="margin-top: 3px;">
            <div class="table-responsive div-tableban"
                 id="table-scroll">
                <table class="table-u">
                    <thead class="grid-title">
                        <th class="grid-title-item">Cotización</th>
                        <th class="grid-title-item">Póliza</th>
                        <th class="grid-title-item">Doc. Identidad Contratante</th>
                        <th class="grid-title-item">Nombre del Contratante</th>
                        <th class="grid-title-item">Doc. Identidad Asegurado</th>
                        <th class="grid-title-item">Nombre del Asegurado</th>
                        <th class="grid-title-item">Fecha cotización definitiva</th>
                        <th class="grid-title-item">Estado Cotización</th>
                        <th class="grid-title-item">Estado del File</th>
                        <th class="grid-title-item">Acciones</th>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="!quotation_def_list?.length">
                            <tr class="grid-body">
                                <td class="grid-body-item"
                                    colspan="10"
                                    style="text-align: center">
                                    No se encontraron registros.
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!!quotation_def_list?.length">
                            <tr class="grid-body"
                                *ngFor="let item of quotation_def_list let index = index"
                                [id]="'row' + index">
                                <td class="grid-title-item">{{ item.NCOTIZACION }}</td>
                                <td class="grid-title-item">{{ item.NPOLIZA }}</td>
                                <td class="grid-title-item">{{ item.SDOC_CON }}</td>
                                <td class="grid-title-item">{{ item.SNOMBRE_CONTRATANTE }}</td>
                                <td class="grid-title-item">{{ item.SDOC_ASE }}</td>
                                <td class="grid-title-item">{{ item.SNOMBRE_ASEGURADO }}</td>
                                <td class="grid-title-item">{{ item.DFECHA_COT_DEF }}</td>
                                <td class="grid-title-item">{{ item.SEST_COT }}</td>
                                <td class="grid-title-item">{{ item.SEST_FILE }}</td>
                                <td class="grid-title-item">
                                    <i title="Visualizar"
                                       style="cursor: pointer;"
                                       class="mt-3 fa fa-eye fa-lg"
                                       (click)="visualizar(item)"></i>
                                    <!-- <i title="Emitir"
                                       style="cursor: pointer;"
                                       class="mt-3 fa fa-send-o fa-lg ml-2"
                                       (click)="emitir(item)"></i> -->
                                       <i title="Emitir"
                                       style="cursor: pointer;"
                                       class="mt-3 fa fa-send-o fa-lg ml-2"
                                       *ngIf="item.SMODE == 'emitir'"
                                       (click)="emitir(item)"></i>
                                </td>

                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div *ngIf="quotation_def_list != null && quotation_def_list.length > 0"
                     style="display: flex">
                    <div class="col-sm-12">
                        <ngb-pagination [(page)]="currentPage"
                                        [pageSize]="itemsPerPage"
                                        [collectionSize]="totalItems"
                                        [maxSize]="maxSize"
                                        (pageChange)="pageChangedNV(currentPage)">
                            <ng-template ngbPaginationPrevious>ANTERIOR</ng-template>
                            <ng-template ngbPaginationNext>SIGUIENTE</ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="!isLoading"
             class="loadingScreen">
            <div style="display:flex;height: 100%;width:100%">
                <i style="margin:auto;font-size: 50px"
                   class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</div>