.listado {
  border: 1px solid #e6e7ff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.column-button {
  background: #8385b4 0% 0% no-repeat padding-box;
  border-radius: 15px;
  border: none;
  font: normal normal normal 14px/16px 'Bliss Pro', sans-serif;
  color: #ffffff;
  height: 30px;
  min-width: 100px;
  padding: 0 10px 0 10px;
}

.title-re {
  text-align: left;
  font: normal normal normal 24px/29px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  opacity: 1;
}

.subtitle-re {
  font: normal normal normal 18px/21px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #8385b4;
}

.border-none {
  border: none !important;
}

.button-cancelar {
  border: 1px solid #27246d;
  border-radius: 5px;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #27246d;
  text-align: center;
  width: 135px;
  height: 45px;
  background-color: transparent;
}

.button-Guardar {
  background: #79cb33 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  width: 135px;
  height: 45px;
  border: none;
}

.container-visble {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;

  padding: 20px 0 20px 0;
  font: normal normal normal 14px/16px 'Bliss Pro', sans-serif;
  letter-spacing: 0px;
  color: #707070;
}
.container-two-section {
  border-top: 1px solid #e6e7ff;
  border-bottom: 1px solid #e6e7ff;
}

.padding-modal {
  padding: 0 10px;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
  background-color: #ff7b00;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.filter-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.container-one-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.button-re {
  border: none;
  background: #27246d 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 14px/16px 'Bliss Pro', sans-serif;
  color: #ffffff;
  width: 135px;
  height: 45px;
}

.t-head {
  background: #f4f4fa 0% 0% no-repeat padding-box;
}

.accent-orange {
  accent-color: #ff7b00;
}

.search {
  border: 1px solid #b4b5d9;
  border-radius: 5px;
  width: 330px;
  height: 45px;
  outline: none;
  font: normal normal normal 18px/21px 'Bliss Pro', sans-serif;
  color: #b4b5d9;
  margin: 20px 0;
  padding-left: 24px; /* Ajusta este valor según sea necesario para que la imagen no se solape con el texto */
  background-image: url("assets/rentas/search_24dp_FILL0_wght400_GRAD0_opsz24.svg");
  background-size: 16px; /* Ajusta el tamaño de la imagen según sea necesario */
  background-repeat: no-repeat;
  background-position: 4px center; /* Ajusta la posición de la imagen */
}

.buttons-end {
  display: flex;
  align-items: end;
  gap: 10px;
}

.labelPagination {
  font: normal normal normal 12px/14px 'Bliss Pro', sans-serif;
  color: #707072;
}

.paginationInput {
  font: normal normal normal 12px / 14px 'Bliss Pro', sans-serif;
  color: #212121;
  width: 40px;
  border: none;
  border-bottom: 2px solid #e6e7ff;
  text-align: center;
  outline: none;
  margin: 0 6px;
}

.containerArrow {
  background-color: #27246d;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-pagination {
  display: flex;
  gap: 6px;
  justify-content: end;
}

.loadingScreen {
  opacity: 0.7;
  transition: opacity 0.8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 10000000000;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

input:disabled {
  background-color: rgb(222, 222, 222);
}
