<div class="form-group row">
    <div class="col-lg-3">
        <app-nav-menuprod></app-nav-menuprod>
    </div>
    <div class="col-lg-9">
        <div class="container-fluid p-0">
            <div class="header-content">
                <div class="containt-item">
                    <div class="header-item">
                        <span class="title">APROBACIÓN DE PROVISIONES AUTOMÁTICAS - DEVOLUCIONES</span>
                    </div>
                </div>
            </div>

            <div class="filter">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                                 <!--<div class="col-sm">
                                    <form-input-select-re
                                        [items]="opcionesProductos"
                                        [itemsArray]="true"
                                        fieldCodigo="codigo"
                                        fieldValor="valor"
                                        label="Producto"
                                        [(value)]="inputs.P_NPRODUCT"
                                        [firstSelect]="true"
                                    ></form-input-select-re>
                                 </div>-->

                             <div class="col-sm">
                                <span>PRODUCTO</span>
                                <select class="form-control" [(ngModel)]="inputs.P_NPRODUCT">
                                    <option value="0-0">
                                        TODOS
                                    </option>
                                    <option *ngFor="let item of origen" value="{{ item.NBRANCH }}-{{ item.NPRODUCT }}"> 
                                        {{ item.SPRODUCT }}  
                                    </option>
                                </select>
                            </div>       
                              <div class="col-sm">
                                <span>PERIODO</span>
                               <input class="form-control" style="height: 45px;margin-top: 5px;" type="month" [(ngModel)]="inputs.P_SPERIODO" [max]="maxPeriodo">
                            </div>
                            <!--<div class="col-sm">
                                <span>FECHA INICIO</span>
                                <input class="form-control" type="text" #dp="bsDatepicker" bsDatepicker DateDirective [bsConfig]="bsConfig" [(ngModel)]="inputs.P_DFECINI">
                            </div>

                            <div class="col-sm">
                                <span>FECHA FIN</span>
                                <input class="form-control" type="text" #dp="bsDatepicker" bsDatepicker DateDirective [bsConfig]="bsConfig" [(ngModel)]="inputs.P_DFECFIN">
                            </div>-->
                            <div class="col-sm">
                                <span>Nº PÓLIZA</span>
                                <input type="number" class="form-control" [(ngModel)]="inputs.P_SPOLIZA"   (input)="limitLength($event, 10)"  maxlength="10" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>
                            </div> 
                            
                            <div class="col-sm">
                                <span>ESTADO</span>
                                <select class="form-control" [(ngModel)]="inputs.P_SSTATUS">
                                    <option value="0">
                                        TODOS
                                    </option>
                                    <option *ngFor="let item of statusApro" value="{{ item.NCODE }}"> 
                                        {{ item.SDESCRIPT }}  
                                    </option>
                                </select>
                            </div>       

                            <div class="col-sm">
                                <span>&nbsp;</span>
                                <button class="full-color" (click)="search(1)" *ngIf="listActions.CONSULTAR_PA == 'TRUE' ? true : false">
                                    <span>CONSULTAR</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                         <div class="col-sm">
                                <span>&nbsp;</span>
                                <button class="full-colorN" (click)="downloadRes()"  *ngIf="listActions.DESCARGAR_PA == 'TRUE' ? true : false">
                                    <span>DESCARGAR REPORTE</span>
                                    <img class="icon-btn" src="./assets/icons/download2.png" />
                                </button>
                            </div>
                           <!-- <div class="col-sm">
                                <span *ngIf="mostrarMontos">MONTO TOTAL - SOLES</span>
                                <input *ngIf="mostrarMontos" class="form-control text-right" type="text" [(ngModel)]="montoSoles" disabled />
                            </div>
                            <div class="col-sm">
                                <span *ngIf="mostrarMontos">MONTO TOTAL - DÓLARES</span>
                                <input *ngIf="mostrarMontos" class="form-control text-right" type="text" [(ngModel)]="montoDolares" disabled />
                            </div>
                             <div class="col-sm"></div>
                              <div class="col-sm"></div>
                           <div class="col-sm">
                                <span *ngIf="mostrarFecha">FECHA APROBACIÓN</span>
                                <input *ngIf="mostrarFecha" class="form-control transparent" type="text" #dp="bsDatepicker" bsDatepicker [bsConfig]="bsConfigFechaAprobacion" [(ngModel)]="pago.P_DFEC_APROB" readonly>
                            </div>--->
                            <div class="col-sm"></div>
                            <div class="col-sm"></div>
                            <div class="col-sm"></div>
                            <div class="col-sm"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid form-group">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="grid-title">
                                <td class="grid-title-item text-center">
                                    <input type="checkbox" [(ngModel)]="checked" (change)="checkAllProc()" class="mr-2" />
                                    SEL.
                                </td>
                                <td class="grid-title-item text-center" >Producto</td>
                                <td class="grid-title-item text-center" >Nro. de Póliza</td>
                                <td class="grid-title-item text-center" >Tipo y N° de Documento del Contratante</td>
                                <!--<td class="grid-title-item text-center">NRO. DOCUMENTO CONTRATANTE</td>-->
                                <td class="grid-title-item text-left" >Nombre Completo del Contratante</td>
                                <td class="grid-title-item text-center">Moneda</td>
                                <td class="grid-title-item text-center">Monto de la Provisión</td>
                                <td class="grid-title-item text-center">Estado Póliza</td>
                                <td class="grid-title-item text-center">Fecha Fin de Vigencia</td>
                                <td class="grid-title-item text-center">Fecha de Aprobación</td>
                                <td class="grid-title-item text-center">Usuario Aprobador</td>
                                <td class="grid-title-item text-center">Estado Provisión</td>
                            </tr>
                        </thead>
                        <ng-container *ngIf="listprovisiones != null && listprovisiones.length > 0; then showGrid else hideGrid"></ng-container>
                    </table>
                    <ng-template #hideGrid>
                        <tbody>
                            <tr style="text-align: center;">
                                <td colspan="7">No se encontraron registros.</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <ng-template #showGrid>
                        <tbody>
                            <tr *ngFor="let item of listToShow; let row_no = index">
                                <td class="text-center">
                                    <input type="checkbox" [(ngModel)]="item.IS_SELECTED" (change)="checkProc()" class="mvChk" [disabled]="!puedeSeleccionar(item)"/>
                                    <!--<input type="checkbox" [(ngModel)]="item.IS_SELECTED" (change)="checkProc()" class="mvChk" [disabled]="item.NSTATUS == '1' ? true:false" />-->
                                </td>
                                <td class="text-center">{{ item.PRODUCTO }}</td>
                                <td class="text-center">{{ item.POLIZA }}</td>
                                <td class="text-center">{{ item.TIP_NRODOC_CONTRA }}-{{ item.NRODOC_CONTRA}}</td>
                                <!--<td class="text-center">{{ item.NRODOC_CONTRA}}</td>-->
                                <td class="text-left">{{ item.NOMBRES }}</td>
                                <td class="text-center">{{ item.MONEDA }}</td>
                                <td class="text-center">{{ item.MONTO_PROVISION | number:'1.2-2' }}</td>
                                <td class="text-center">{{ item.ESTADO_POLIZA }}</td>
                                <td class="text-center">{{ item.FECHA_FIN | date : "dd/MM/yyyy" }}</td>
                                <td class="text-center">{{ item.FECHA_APROBACION | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                                <td class="text-center">{{ item.USUARIO_APROBACION }}</td>
                                <td class="text-center">
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <img *ngIf="item.NSTATUS == '1'" src="./assets/icons/pend.png" [title]="item.SERROR"/><!--PENDIENTE-->
                                        <img *ngIf="item.NSTATUS == '2'" src="./assets/icons/inProcess.png" /><!--EN PROCESO-->
                                        <img *ngIf="item.NSTATUS == '3'" src="./assets/icons/process.png" />  <!--APROBADO-->
                                        <img *ngIf="item.NSTATUS == '4'" src="./assets/icons/process-error.png" [title]="item.SERROR" /><!--ERROR-->
                                     &nbsp;{{ item.ESTADO_INTERFAZ_PROVISON }}</td>
                                <!--<td class="text-center" *ngIf="seacsaDirecto || ahorroDirecto">{{ item.DES_BANK }}</td>
                                 <td class="text-center" *ngIf="seacsaDirecto">{{ item.DES_VIAPAGO }}</td> -->
                                <!--<td class="text-center" *ngIf="seacsaAFP">{{ item.DES_AFP }}</td>
                                <td class="text-center">{{ item.DES_MONEDA }}</td>-->
                                <!-- <td class="text-right">{{ item.NMTO_PENSION }}</td> -->
                               <!-- <td class="text-right">{{ seacsaAFP ? item.NMTO_PENSION : item.NMTO_LIQPAGAR }}</td>
                                <td class="text-right" *ngIf="seacsaAFP">{{ item.NMTO_LIQSALUD }}</td>
                                <td class="text-right" *ngIf="seacsaAFP">{{ item.NMTO_LIQRJUD }}</td>
                                <td class="text-right" *ngIf="seacsaAFP">{{ item.NMTO_LIQPAGAR }}</td>
                                <td class="text-center">{{ item.CANT_REG }}</td>-->
                               <!-- <td class="text-center">
                                    <a (click)="open(content, item)">
                                        <i title="Visualizar" style="cursor: pointer;" class="fa fa-eye fa-lg mr-2"></i>
                                    </a>
                                    <a (click)="downloadDet(item)">
                                        <i title="Reporte" style="cursor: pointer;" class="fa fa-file-text fa-lg"></i>
                                    </a>
                                </td>-->
                            </tr>
                        </tbody>
                        <tr style="font-weight: bold; background-color: #f3f3f3;">
                            <td colspan="6" class="text-right">TOTAL MONTO SOLES:</td>
                            <td class="text-center">{{ totalSoles | number:'1.2-2' }}</td>
                            <td colspan="5"></td>
                            </tr>
                            <tr style="font-weight: bold; background-color: #f3f3f3;">
                            <td colspan="6" class="text-right">TOTAL MONTO DÓLARES:</td>
                            <td class="text-center">{{ totalDolares | number:'1.2-2' }}</td>
                            <td colspan="5"></td>
                            </tr>
                    </ng-template>
                </div>
            </div>

            <ng-container *ngIf="listprovisiones != null && listprovisiones.length > 0; then showPagination"></ng-container>

            <ng-template #showPagination>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems" [maxSize]="maxSize" (pageChange)="pageChanged(currentPage)">
                            <ng-template ngbPaginationPrevious>ANTERIOR</ng-template>
                            <ng-template ngbPaginationNext>SIGUIENTE</ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </ng-template>

            <div class="text-right">
                <button class="full-colorNWS d-inline-block" (click)="limpiar()" *ngIf="listActions.LIMPIAR_PA == 'TRUE' ? true : false">
                    <span>LIMPIAR</span>
                </button>
                <button class="full-colorWS d-inline-block ml-2" (click)="aprobar()" *ngIf="listActions.APROBAR_PA == 'TRUE' ? true : false">
                    <span>APROBAR</span>
                </button>
            </div>

            <div [hidden]="!isLoading" class="loadingScreen">
                <div style="display: flex; height: 100%; width: 100%">
                    <i style="margin: auto; font-size: 50px" class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            DETALLE DE PAGOS
        </h4>
    </div>

    <div class="modal-body">
        <div class="card">
            <div class="row m-2 justify-content-end">
                <!-- Campo MONTO TOTAL -->
                <div class="col-sm-3" *ngIf="pago.P_NNUMORI == 2 && (pago.P_NTYPEOP == 7 || pago.P_NTYPEOP == 77)">
                    <span>MONTO TOTAL</span>
                    <input class="form-control text-right" type="text" [value]="montoTotal" disabled />
                </div>

                <!-- Campo SALUD -->
                <div class="col-sm-3" *ngIf="pago.P_NNUMORI == 2 && (pago.P_NTYPEOP == 7 || pago.P_NTYPEOP == 77)">
                    <span>SALUD</span>
                    <input class="form-control text-right" type="text" [value]="saludTotal" disabled />
                </div>

                <!-- Campo RETENCIÓN -->
                <div class="col-sm-3" *ngIf="pago.P_NNUMORI == 2 && (pago.P_NTYPEOP == 7 || pago.P_NTYPEOP == 77)">
                    <span>RETENCIÓN</span>
                    <input class="form-control text-right" type="text" [value]="retencionTotal" disabled />
                </div>

                <!-- Campo MONTO LÍQUIDO -->
                <div class="col-sm-3" *ngIf="true">
                    <span>MONTO A LIQUIDAR</span>
                    <input class="form-control text-right" type="text" [value]="liquidoTotal" disabled />
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row m-2">
                <div class="grid form-group">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="grid-title">
                                    <td class="grid-title-item text-center">ORIGEN</td>
                                    <td class="grid-title-item text-center">VIA DE PAGO</td>
                                    <td class="grid-title-item text-center">PÓLIZA</td>
                                    <td class="grid-title-item text-center">TIPO DE DOCUMENTO</td>
                                    <td class="grid-title-item text-center">NRO. DOCUMENTO</td>
                                    <td class="grid-title-item text-center">BENEFICIARIO</td>
                                    <td class="grid-title-item text-center">RECEPTOR</td>
                                    <td class="grid-title-item text-center">PAGO SINIESTRO</td>
                                    <td class="grid-title-item text-center">FECHA PAGO</td>
                                    <td class="grid-title-item text-center">MONEDA</td>
                                    <td class="grid-title-item text-center">MONTO A LIQUIDAR</td>
                                </tr>
                            </thead>
                            <ng-container *ngIf="detalles == null || detalles.length == 0; then hideGrid else showGrid"></ng-container>
                        </table>
                        <ng-template #hideGrid>
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="10">No se encontraron registros.</td>
                                </tr>
                            </tbody>
                        </ng-template>
                        <ng-template #showGrid>
                            <tbody *ngFor="let item of listToShowDet">
                                <tr>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.DES_NUMORI }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.DES_VIAPAGO }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.SNUM_POLIZA }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.DES_TYPE_IDENBEN }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.SNUM_IDENBEN }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.SNOM_BENEFICIA }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.SNOM_RECEPTOR }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.DES_TYPEPAGO }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.DFEC_PAGO }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.DES_MONEDA }}
                                    </td>
                                    <td class="data-table-tr-td text-right">
                                        {{ item.NMTO_PENSION }}
                                    </td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </div>
                </div>
                <div *ngIf="detalles != null && detalles.length > 0" class="row" style="display: flex">
                    <div class="col-sm-12">
                        <ngb-pagination [(page)]="currentPageDet" [pageSize]="itemsPerPageDet" [collectionSize]="totalItemsDet" [maxSize]="maxSizeDet" (pageChange)="pageChangedDet(currentPageDet)">
                            <ng-template ngbPaginationPrevious>ANTERIOR</ng-template>
                            <ng-template ngbPaginationNext>SIGUIENTE</ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="full-colorWS" (click)="modal.dismiss('Cross click')">
            <span>CERRAR</span>
        </button>
    </div>
</ng-template>