@import "global";
@import "ecommerce";
@import "variables";
@import "modal";
.background {
  &::after {
    background-image: url("../../../../../../assets/desgravamen/backgrounds/tree.svg");
  }
}
.modal__body_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.modal__body_grid--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__body_grid--item-img {
  max-width: 100px;
}
.modal__body_grid--item-desc {
  font-size: 13px;
  text-align: center;
  margin-top: 7px;
  color: $purple;
}
.references {
  margin-top: 1rem;
  display: block;
  text-align: right;
  font-size: 12px;
  color: $orange;
}
.input_submit-u {
  max-width: 100% !important;
}
@media (min-width: 436px) {
  .modal__body_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.captcha {
  width: 305px;
  margin: auto;
  position: absolute;
  z-index: 9;
}
