.container-modal {
  margin: 0 auto;
  padding: 40px 0;
}

.container-title-modal {
  padding: 2px 0px;
  margin: auto;
}

.title {
  color: #553d81;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.content-buttons {
  display: flex;
  gap: 40px;
}

.fileInput {
  display: none;
}

.fileInputLabel {
  cursor: pointer;
}

.button {
  color: #ffffff;
  background-color: #ed6e00;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  border: none;
  width: 100px;
}

#button {
  height: fit-content;
}

.nameFile {
  width: 80%;
}

input {
  height: 46px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #b4b5d9;
  margin-top: 30px;
}
