.container-payed > .row:not(:first-child) {
  max-width: 870px;
}
.title-payed {
  color: #2b0d61;
}
.desc-payed {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
.content-desc-payed {
  margin-bottom: 1rem;
}
.content-data-product {
  padding: 1.5rem;
  background-color: #f4f2f6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.title-data-product {
  color: #2b0d61;
  font-weight: bold;
}
.detail-dp-item {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
.detail-dp-item span:first-child {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
.detail-dp-item span:last-child {
  color: #2b0d61;
  font-weight: bold;
}
.btn-init,
.btn-download {
  width: 150px !important;
}
.container-payed {
  padding-bottom: 2rem !important;
}
.content-data-product {
  max-width: 400px;
}
.content-desc-payed {
  margin: 1rem 0;
}
@media (max-width: 992px) {
  .container-payed > .row:nth-child(2) {
    flex-direction: column-reverse !important;
  }
  .desc-payed,
  .title-payed {
    text-align: center;
  }
  .content-data-product {
    margin: 2rem auto 0.5rem auto !important;
  }
  .background-payed {
    height: 170px;
    margin-bottom: 1rem !important;
  }
}
.content-buttons-actions button {
  padding: 5px 12px;
  color: #ed6e00;
  border: 1px solid #ed6e00;
  background-color: #fff;
  width: 120px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.content-buttons-actions button:last-child {
  padding: 7px 15px;
  color: #fff;
  border: 1px solid #ed6e00;
  background-color: #ed6e00;
  margin-left: 1rem;
}
.content-load {
  min-height: 420px;
}
.content-load img {
  width: 32px;
  margin-top: 2rem;
}
.content-load h3 {
  font-size: 37px;
  max-width: 482px;
}
.action-back {
  margin-top: 3rem;
  border: none;
  background: #ed6e00;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none !important;
}
.emissionError {
  max-width: 640px;
  text-align: center;
  margin: auto;
  padding: 4rem 1rem;
}
.emissionError h2 {
  font-size: 34px;
  color: #2b0d61;
}
.emissionError p {
  display: block;
  max-width: 480px;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}
.emissionError .btn-back {
  margin-top: 2rem;
  padding: 5px 10px;
  background-color: #ed6e00;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.errorDesc {
  margin-top: 1rem;
}
