<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 no-left">
    <app-nav-menuprod></app-nav-menuprod>
  </div>
  <div class="col-md-9">
    <div class="container-fluid">
      <div class="header-content pb-2">
        <div class="containt-item">
          <div class="header-item">
            <span class="title">Mis Comprobantes</span>
          </div>
        </div>
        <div class="containt-item">
          <div class="header-item  rigth-item">
            <button class="full-color"
                    (click)="descargarComprobante()"
                    *ngIf="comprobantes.length > 0">
              <img alt=""
                   src="assets/icons/transferir_blanco.png" />
              <span>Descargar ({{ comprobantes.length }})</span>
            </button>
          </div>

          <div class="header-item  rigth-item">
            <button (click)="enviarMail()"
                    class="full-color"
                    *ngIf="comprobantes.length > 0">
              <span>Enviar Mail ({{ comprobantes.length }})</span>
            </button>
          </div>

          <div class="header-item rigth-item">
            <button (click)="descargarExcel()" class="m-0" [disabled]="!billsDataGlobal.length">
              <img alt=""
                   src="assets/icons/descargar.png" />
              <span>Exportar</span>
            </button>
          </div>

          <div *ngIf="showDescarga"
               class="header-item rigth-item">
            <button (click)="getReporteEnvios()">
              <img alt=""
                   src="assets/icons/descargar.png" />
              <span>Exportar Envío C.</span>
            </button>
          </div>

        </div>
      </div>
      <div class="filter mt-3">
        <form class="form-group row filter-row content-search d-flex flex-column align-items-start justify-content-between"
           [formGroup]="formSearch">
          <div class="content-lef d-flex flex-row col-lg-12">
            <ng-container *ngIf="!isProtecta">
                <div class="col-sm-12 col-lg-4 filter-row-cell">
                    <span>POR CANAL:</span>
        
                    <select (change)="onSelectChannelSales($any($event.target).value)"
                            class="form-control"
                            id="ChannelSalesSelect">
                      <option *ngFor="let channelsales of channelList"
                              [selected]="channelsales.nchannel == channelUser"
                              value="{{ channelsales.nchannel }}"
                              title="{{ channelsales.sdescript }}">
                        {{ channelsales.sdescript }}</option>
                    </select>
                  </div>
            </ng-container>
            <ng-container *ngIf="+formSearch.get('filterType')?.value !== 3 && isProtecta">
                <div class="col-sm-12 col-lg-2 filter-row-cell">
                    <span>FECHA INICIO:</span>
                        <input
                              type="text"
                              class="form-control input-search"
                              #dp="bsDatepicker"
                              [bsConfig]="bsConfig"
                              bsDatepicker
                              [formControl]="startDateControl"
                              readonly
                              style="background-color: white"
                              [maxDate]="bsEndValue"
                        />
                </div>
                <div class="col-sm-12 col-lg-2 filter-row-cell">
                    <span>FECHA FIN:</span>
                        <input
                              type="text"
                              class="form-control input-search"
                              #dp="bsDatepicker"
                              [bsConfig]="bsConfig"
                              bsDatepicker
                              [formControl]="endDateControl"
                              readonly
                              style="background-color: white"
                              [maxDate]="bsEndValue"
                        />
                </div>
              </ng-container>
              <div class="col-sm-12 col-lg-3 filter-row-cell">
                <span>BUSCAR POR:</span>
                <select class="form-control"
                        formControlName="filterType">
                  <option value="1" selected>RUC</option>
                  <option value="2">PÓLIZA</option>
                  <option value="3">COMPROBANTE</option>
                </select>
              </div>

              <ng-container *ngIf="+formSearch.get('filterType')?.value == 1">
                <div class="col-sm-12 col-lg-3 filter-row-cell">
                    <span>N° DE RUC:</span>
                    <input class="form-control input-search"
                               type="text"
                               [maxlength]="11"
                               placeholder="Ingrese N° de RUC"
                               formControlName="documento" />
                    <ng-container *ngIf="messageErrorForm.length > 0">
                        <div class="error">{{messageErrorForm}}</div>
                    </ng-container>
                </div>
              </ng-container>

              <ng-container *ngIf="+formSearch.get('filterType')?.value == 2">
                <div class="col-sm-12 col-lg-3 filter-row-cell">
                    <span>N° DE PÓLIZA:</span>
                        <input class="form-control input-search"
                               type="text"
                               placeholder="Ingrese N° de Póliza"
                               formControlName="poliza" />
                    <ng-container *ngIf="messageErrorForm.length > 0">
                        <div class="error">{{messageErrorForm}}</div>
                    </ng-container>
                  </div>
              </ng-container>

              <ng-container *ngIf="+formSearch.get('filterType')?.value == 3">
                <div class="col-sm-12 col-lg-3 filter-row-cell">
                    <span class="d-inline-flex">N° DE COMPROBANTE:
                        <div class="tooltip-container ml-2">
                            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                            <div class="tooltip">
                              Ejemplo: F001-123. Sin espacios ni ceros adicionales
                            </div>
                          </div>
                    </span>
                    <input class="form-control input-search"
                        type="text"
                        placeholder="Ingrese N° de Comprobante"
                        formControlName="comprobante" />
                    <ng-container *ngIf="messageErrorForm.length > 0">
                        <div class="error">{{messageErrorForm}}</div>
                    </ng-container>
                </div>
              </ng-container>
              
          </div>
          
          <ng-container *ngIf="+formSearch.get('filterType')?.value !== 3 && !isProtecta">
            <div class="content-lef d-flex flex-row col-lg-12 mt-3 mb-2">
                <div class="col-sm-12 col-lg-2 filter-row-cell">
                    <span>FECHA INICIO:</span>
                    <input
                          type="text"
                          class="form-control input-search"
                          #dp="bsDatepicker"
                          [bsConfig]="bsConfig"
                          bsDatepicker
                          [formControl]="startDateControl"
                          readonly
                          style="background-color: white"
                          [maxDate]="bsEndValue"
                    />
                </div>
                <div class="col-sm-12 col-lg-2 filter-row-cell">
                    <span>FECHA FIN:</span>
                    <input
                          type="text"
                          class="form-control input-search"
                          #dp="bsDatepicker"
                          [bsConfig]="bsConfig"
                          bsDatepicker
                          [formControl]="endDateControl"
                          readonly
                          style="background-color: white"
                          [maxDate]="bsEndValue"
                    />
                </div>
              </div>
          </ng-container>

          <div *ngIf="+formSearch.get('filterType')?.value !== 3">
            <span [ngClass]="isValidDate ? 'message-infoDate' : 'errorSearchForm'">
                El rango de fechas no debe ser mayor a 1 año
            </span>
          </div>
        </form>
      </div>

      <div class="search-filters d-flex flex-row">
        <div class="filter-row-cell w-ft pr-0">
            <span style="color: rgba(0,0,0,0);"></span>
            <button type="button"
                    class="searchForAdmin"
                    (click)="searchListData()"
                    [disabled]="!isValidDate">Buscar</button>
        </div>
        <div class="filter-row-cell w-ft pl-0">
            <span style="color: rgba(0,0,0,0);"></span>
            <button type="button"
                    class="searchForAdmin mr-0"
                    (click)="clearformSearch()">Limpiar</button>
        </div>
    </div>

    <ng-container *ngIf="!isProtecta">
        <div class="d-flex flex-row filter-table">
            <div class="content-lef col-lg-3 filter-row-cell">
                <span>ENVIADO:</span>
                <select (change)="onSelectEnviado($any($event.target).value)"
                        class="form-control"
                        [(ngModel)]="searchcheck"
                        id="cboenviado">
                  <option value="-1"
                          selected>Todos</option>
                  <option value="1">SI</option>
                  <option value="0">NO</option>
                </select>
            </div>
            <div class="content-lef col-lg-3 filter-row-cell">
                <span>BUSQUEDA:</span>
                <input placeholder="Ingrese un criterio de búsqueda"
                       class="form-control input-search"
                       type="text"
                       name="prima"
                       id="prima"
                       [(ngModel)]="searchtext"
                       (keyup)="search()" />
            </div>
        </div>
    </ng-container>
    
      <div class="grid form-group">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="grid-title">
                <td class="grid-title-item">
                  <i title="Si el comprobante está aprobado por SUNAT podrá descargarlo/enviarlo."
                     class="ml-2 fa fa-info-circle fa-lg"></i>
                </td>
                <td class="grid-title-item">Producto</td>
                <td class="grid-title-item">Doc. Referencia</td>
                <td class="grid-title-item">Tipo Comprobante</td>
                <td class="grid-title-item">Serie Número</td>
                <td class="grid-title-item">Monto</td>
                <td class="grid-title-item">RUC</td>
                <td class="grid-title-item">Contratante</td>
                <td class="grid-title-item">Póliza</td>
                <td class="grid-title-item">Placa</td>
                <td class="grid-title-item">Fecha Emisión</td>
                <td class="grid-title-item">Estado Comprobante</td>

              </tr>
            </thead>
            <div *ngIf="haveBillsData; then ocultarGrilla; else mostrarGrilla"></div>
          </table>
          <ng-template #mostrarGrilla>
            <tbody>
              <tr>
                <td colspan="13">No se encontraron Registros..</td>
              </tr>
            </tbody>
          </ng-template>
          <ng-template #ocultarGrilla>
            <tbody *ngFor="let row of billsData | paginate: { itemsPerPage: 20, currentPage: p }">
              <tr>
                <td> <input id="x"
                         #ref
                         type="checkbox"
                         (click)="validarComprobante($event, row, ref)"
                         [checked]="documentChecked(row)" /> </td>
                <td>{{ row.producto }}</td>
                <td>{{ row.documentoReferencia }}</td>
                <td>{{ row.tipoComprobante }}</td>
                <td>{{ getSerialNumber(row) }}</td>
                <td>{{ getTotalAmount(row.moneda, row.montoTotal) }} </td>
                <td>{{ row.documentoContratante }}</td>
                <td> {{ row.contratante }} </td>
                <td>{{ row.poliza }}</td>
                <td>{{ row.placa }}</td>
                <td>{{ row.fechaEmision | date: "dd/MM/yyyy" }}</td>
                <td>{{ row.estado }}</td>
              </tr>
            </tbody>
          </ng-template>
          <pagination-controls *ngIf="billsData?.length > 0"
                               class="my-pagination"
                               (pageChange)="p = $event"
                               autoHide="true"
                               responsive="true"
                               previousLabel="Anterior"
                               nextLabel="Siguiente"
                               screenReaderPaginationLabel="Paginación"
                               screenReaderPageLabel="pagina"
                               screenReaderCurrentLabel="Estás en la pagina"></pagination-controls>
        </div>
      </div>
    </div>
</div>
</div>
</div>


<div bsModal
     #childModalMensaje="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="
           dialog-child-name"
            class="modal-title pull-left titlemensajeinfo">
          Validación
        </h4>
        <button type="button"
                class="close close-button"
                data-dismiss="modal"
                aria-label="Close"
                (click)="closeModalMensaje()">
          <span aria-hidden="true">
            <img alt=""
                 src="assets/icons/close_modal.png" />
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row message">
          <div class="col-lg-12 contenido-modal"
               id="msjEmail">
            {{ messagevalidation }}
          </div>
        </div>

        <div class="form-group row button-modal">
          <div class="col-sm-12 col-lg-12">
            <button type="button"
                    class="button-close button-center"
                    (click)="closeModalMensaje()">
              <span>Cerrar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal
     #childModalEdicion="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="dialog-child-name">
  <form [formGroup]="edicionForm"
        (ngSubmit)="onSave()"
        #myform="ngForm">
    <div class="modal-dialog modal-md div-edicion">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="
             dialog-child-name"
              class="modal-title pull-left titlemensajeinfo">
            Envío de Comprobantes
          </h4>
          <button type="button"
                  class="close close-button"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="onClose()">
            <span aria-hidden="true">
              <img alt=""
                   src="assets/icons/close_modal.png" />
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row message">



            <div class="col-lg-7 contenido-modal"
                 id="msjEmail">
              Seleccione tipo de envío :
            </div>
            <div class="col-lg-5 contenido-modal"
                 id="msjEmail">
              Email
            </div>


            <div class="col-lg-7 contenido-modal"
                 id="facturacion">
              <select formControlName="tipoenvio"
                      class="form-control select-formulario">
                <option value="0">Enviar correo a corredor de negocios</option>
                <option value="1">Envio correo a otra cuenta</option>
              </select>
              <div class="error-message"
                   *ngIf="showError('tipoenvio')">
                <i></i><span>Por favor seleccione un tipo de envío</span>
              </div>
            </div>

            <div class="col-lg-5 contenido-modal"
                 id="mailbroker">
              <input type="text"
                     formControlName="mailbroker"
                     name="txtMailBroker"
                     id="txtMailBroker"
                     class="form-control"
                     maxlength="50"
                     mixlength="1"
                     placeholder="Ingrese un correo electrónico"
                     inputmode="numeric"
                     [ngClass]="{ inputerror: showError('mailbroker') }" />
              <div class="error-message"
                   *ngIf="showError('mailbroker')">
                <i></i><span>Por favor ingrese un correo válido</span>
              </div>
            </div>




            <div class="col-lg-4">&nbsp; </div>
            <div class="col-lg-4">&nbsp; </div>
            <div class="col-lg-4">&nbsp; </div>

            <div class="col-lg-12 contenido-modal"
                 id="msjEmail">
              <label style="width: 100%;margin-bottom: 0;">
                <input type="checkbox"
                       class="checkbox"
                       formControlName="envioContratante"
                       (change)="changeEnvioContratante($event)">
                <span class="schk"
                      style="margin-top: 5px;; font-size: 13px;">
                  ¿Envío a contratantes seleccionados ?
                </span>
              </label>


            </div>


            <div class="col-lg-12 contenido-modal pt-fc"
                 id="propuesta">


              <div *ngIf="enviarContratantes"
                   class="grid form-group">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="grid-title">

                        <td class="grid-title-item">Contratante</td>
                        <td class="grid-title-item">Correo</td>
                        <td class="grid-title-item">Editar</td>

                      </tr>
                    </thead>



                    <tbody *ngFor="let row of uniqueMailCollection">
                      <tr>
                        <td class="grid-title-item">{{ row.razonSocial }}</td>
                        <td class="grid-title-item">{{ row.email }}</td>

                        <td class="grid-title-item">
                          <a (click)="onEditarMail(row)">
                            <i title="Imprimir"
                               style="cursor: pointer;"
                               class="fa fa-edit fa-lg"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

          <div class="form-group row button-modal">
            <div class="col-sm-6 col-lg-6">
              <div class="centrar">
                <button type="button"
                        class="button-close"
                        (click)="onClose()">
                  <span>Cancelar</span>
                </button>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6">
              <div class="centrar">
                <button [disabled]="!edicionForm.valid"
                        type="submit"
                        class="full-color-modal">
                  <span>Enviar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal fade"
     bsModal
     #modalSuccessSenMail="bs-modal">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="hideModalSuccessSendMail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-emitido">
        <div class="check-emitido">
          <img src="assets/backoffice/check-success.png"
               class="icon-check">
        </div>
        El correo se envió correctamente
      </div>
      <div class="modal-footer modal-foot-confirm d-flex align-items-center justify-content-center">
        <button type="button"
                class="btn full-color btn-aceptar-modal"
                (click)="hideModalSuccessSendMail()">OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal
     #childModalEdicionMail="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="dialog-child-name">
  <form [formGroup]="edicionMailForm"
        (ngSubmit)="onSaveMail()"
        #myform="ngForm">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="
             dialog-child-name"
              class="modal-title pull-left titlemensajeinfo">
            Cambiar correo electrónico
          </h4>
          <button type="button"
                  class="close close-button"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="onCloseMail()">
            <span aria-hidden="true">
              <img alt=""
                   src="assets/icons/close_modal.png" />
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row message">


            <div class="col-lg-12 contenido-modal"
                 id="msjEmail">
              Email
            </div>

            <div class="col-lg-12 contenido-modal"
                 id="txtMailContratante">
              <input type="text"
                     formControlName="mailcontratante"
                     name="txtMailContratante"
                     id="txtMailContratante"
                     class="form-control"
                     maxlength="50"
                     mixlength="1"
                     placeholder="Ingrese un correo electrónico" />
              <div class="error-message"
                   *ngIf="showErrorMail('mailcontratante')">
                <i></i><span>Por favor ingrese un correo válido</span>
              </div>
              <input type="hidden"
                     formControlName="codigocontratante"
                     name="txtCodigoContratante"
                     id="txtCodigoContratante"
                     class="form-control"
                     maxlength="50"
                     mixlength="1" />
            </div>

            <div class="col-lg-12">&nbsp; </div>

          </div>

          <div class="form-group row button-modal">
            <div class="col-sm-6 col-lg-6">
              <div class="centrar">
                <button type="button"
                        class="button-close"
                        (click)="onCloseMail()">
                  <span>Cancelar</span>
                </button>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6">
              <div class="centrar">
                <button [disabled]="!edicionMailForm.valid"
                        type="submit"
                        class="full-color-modal">
                  <span>Grabar </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
