<div class="content-modal-u">
  <div class="modal-u mt">
    <div class="modal__header">
      <h6 class="modal__header--title">TÉRMINOS Y CONDICIONES</h6>
      <button class="modal__header--close" (click)="closeModal()">
        &times;
      </button>
    </div>
    <div class="modal__body">
      <!-- Descripción -->
      <div class="mt__group">
        <p class="mt__group--desc">
          Mediante el uso de este Portal el usuario acepta los Términos y
          Condiciones de esta promoción de seguros, y declara bajo juramento
          tener 18 años de edad o más. El uso de este Portal implica la
          aceptación incondicional e irrevocable de que toda la información y
          actividad realizada mediante este portal se encuentran regidas por
          estos Términos y Condiciones. Asimismo, Protecta S.A. Compañía de
          Seguros, con RUC N° 20517207331, y con domicilio en Avenida Domingo
          Orué N° 165, Piso 8, Surquillo – Lima (en adelante “PROTECTA
          SECURITY”); es titular de la Plataforma Web.
        </p>
      </div>

      <!-- Información sobre el Seguro de Accidentes Personales  -->
      <h6 class="mt__subtitle">
        I. Información sobre el Seguro de Accidentes Personales
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El Seguro de Accidentes Personales es aquel que cubre la muerte
          accidental del asegurado a consecuencia de un accidente ocurrido
          durante la vigencia del seguro. También puede ofrecer coberturas
          adicionales, entre las más solicitadas están las coberturas de gastos
          de curación por accidente, invalidez total y permanente por accidente,
          etc.
        </p>
      </div>

      <!-- Características del Seguro: -->
      <h6 class="mt__subtitle">II. Características del Seguro:</h6>

      <!-- Personas Asegurables:  -->
      <div class="mt__group">
        <p class="font-bold">
          1. Personas Asegurables y requisitos de aseguramiento
        </p>
        <p class="mt__group--desc">
          Podrán asegurarse bajo la presente póliza cualquier persona natural,
          considerando una edad referencial entre 03 años y 65 años, y demás
          consideraciones que están señaladas en la póliza de seguro.
        </p>
        <p class="mt__group--desc">
          Las edades declaradas por el Contratante y/o Asegurado deben
          comprobarse con documento oficial en los casos que así lo juzgue
          necesario PROTECTA SECURITY, después de producido el Siniestro.
        </p>
      </div>

      <!-- Obligaciones del contratante y asegurado -->
      <div class="mt__group">
        <p class="font-bold">2. Obligaciones del contratante y asegurado</p>
        <p class="mt__group--desc">
          El Contratante y/o Asegurado se compromete a pagar la prima que
          PROTECTA SECURITY cobra por la prestación. Asimismo, el Contratante
          y/o Asegurado se obliga a llenar y completar debidamente la Solicitud
          y Certificado de Seguro con información veraz y exacta. Es obligación
          del Contratante y/o del Asegurado notificar por escrito a PROTECTA
          SECURITY los hechos o circunstancias de Agravación del Riesgo ni bien
          estos conozcan su ocurrencia.
        </p>
      </div>

      <!-- Riesgos cubiertos  -->
      <div class="mt__group">
        <p class="font-bold">3. Riesgos cubiertos</p>

        <p class="mt__group--desc">
          Para efectos de este seguro, se otorga la siguiente cobertura
          principal:
        </p>
        <p class="mt__group--desc">
          Muerte Accidental: PROTECTA SECURITY indemnizará a los Beneficiarios
          la Suma Asegurada después de acreditarse el fallecimiento del
          Asegurado como consecuencia de un Accidente.
        </p>
        <p class="mt__group--desc">
          Asimismo, las coberturas adicionales que se solicitan con mayor
          frecuencia por los asegurados son los siguientes:
        </p>
        <ul class="mt__group--list list-line">
          <li class="mt__group--list-item">
            Gasto de Sepelio por Muerte Accidental
          </li>
          <li class="mt__group--list-item">Gasto de Curación por Accidente</li>
          <li class="mt__group--list-item">
            Invalidez Total y Permanente por Accidente
          </li>
        </ul>
        <p class="mt__group--desc">
          Con relación a la Suma Asegurada, será pagada por PROTECTA SECURITY a
          los Beneficiarios y/o Beneficiarios Adicionales después de
          acreditarse, durante el periodo de cobertura, la ocurrencia de alguno
          de los eventos y términos detallados en la Póliza de seguro, y hasta
          los límites de las Sumas Aseguradas negociadas con el Contratante y/o
          Asegurado.
        </p>
      </div>

      <!-- Exclusiones  -->
      <h6 class="mt__subtitle">III. Principales Exclusiones</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El presente Contrato de Seguro no otorga cobertura a los Siniestros
          ocurridos como consecuencia de, en relación a, o como producto de:
        </p>
        <ol class="mt__group--list" type="a">
          <li class="mt__group--list-item">
            Suicidio consciente y voluntario, estando el Asegurado en su sano
            juicio.
          </li>
          <li class="mt__group--list-item">
            Guerra o guerra civil, invasión, actos de enemigos extranjeros,
            hostilidades u operaciones bélicas, declarada o no, rebelión,
            revolución, insurrección, sublevación, sedición, motín, terrorismo,
            conmoción civil.
          </li>
          <li class="mt__group--list-item">
            Por acto delictivo contra el Asegurado cometido en calidad de autor
            o cómplice por el Beneficiario o heredero, dejando a salvo el
            derecho de recibir la Suma Asegurada de los restantes Beneficiarios
            o herederos, si los hubiere, así como su derecho de acrecer.
          </li>
          <li class="mt__group--list-item">
            Detonación nuclear, reacción nuclear, radiación nuclear o
            contaminación radiactiva.
          </li>
          <li class="mt__group--list-item">
            Viajes o vuelo en vehículo aéreo de cualquier clase, excepto como
            pasajero en uno operado por una empresa de transporte aéreo
            comercial, sobre una ruta establecida oficialmente para el
            transporte de pasajeros y sujeta a itinerario.
          </li>
          <li class="mt__group--list-item">
            Participación del Asegurado como conductor o acompañante en carreras
            de automóviles, motocicletas, lanchas a motor o avionetas,
            incluyendo carreras de entrenamiento.
          </li>
          <li class="mt__group--list-item">
            Realización de las siguientes actividades riesgosas y/o deportes
            riesgosos: escalamiento, alpinismo, andinismo, montañismo,
            paracaidismo, parapente, ala delta, aeronaves ultraligeras, salto
            desde puentes o puntos elevados al vacío, buceo profesional o de
            recreo, inmersión o caza submarina, canotaje y práctica de surf.
          </li>
          <li class="mt__group--list-item">
            Consecuencias no accidentales de embarazos o partos.
          </li>
          <li class="mt__group--list-item">
            Consecuencias de enfermedades de cualquier naturaleza física, mental
            o nerviosa.
          </li>
          <li class="mt__group--list-item">
            Cualquier accidente que se produzca bajo la influencia de alcohol
            (en grado igual o superior a 0.5 gr./lt. de alcohol en la sangre),
            salvo que el Asegurado haya sido sujeto pasivo al momento del
            Siniestro; y/o bajo la influencia de drogas, estupefacientes o en
            estado de sonambulismo.
          </li>
          <li class="mt__group--list-item">
            Participación activa en cualquier acto violatorio de la ley, sea
            como autor, coautor o cómplice.
          </li>
        </ol>
      </div>

      <!-- Vigencia de cobertura -->
      <h6 class="mt__subtitle">IV. Vigencia de cobertura</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Conforme a lo negociado con el Contratante y/o Asegurado podrá ser por
          periodos mensuales, bimensuales, anuales, etc.
        </p>
      </div>

      <!-- Costo Total de la prima -->
      <h6 class="mt__subtitle">V. Costo total de la Prima</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El costo de la prima se detallará en la póliza de seguro, la cual
          incluye la cobertura básica y las coberturas adicionales (en caso
          corresponda).
        </p>
      </div>

      <!-- Forma de pago de la prima -->
      <h6 class="mt__subtitle">VI. Forma de pago de la prima</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          La forma de pago podrá ser un pago único (un solo pago por toda la
          vigencia del seguro), mensual, bimensual, anual, etc.
        </p>
        <p class="mt__group--desc">
          En caso de tener algún inconveniente al momento de la realización de
          pago con tarjeta de crédito o débito, se podrá comunicar con los
          canales de orientación indicados en el presente documento.
        </p>
      </div>

      <!-- Periodo de Válidez -->
      <h6 class="mt__subtitle">
        VII. Fecha de Promoción del seguro y Periodo de validez
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          El plazo de vigencia de la cotización del seguro de Accidentes
          Personales es de 30 días contados desde la entrega de la cotización.
        </p>
      </div>

      <!-- beneficiarios-->
      <h6 class="mt__subtitle">VIII. Beneficiarios</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Se considera como Beneficiarios a los designados por el Asegurado en
          la correspondiente Solicitud de Seguro de la Póliza, los cuales
          tendrán derecho a recibir las indemnizaciones establecidas. Si no
          existiera tal designación, se entenderá como tales a los herederos
          legales del Asegurado, y se otorgará la indemnización respectiva en
          los porcentajes establecidos de acuerdo a ley.
        </p>
        <p class="mt__group--desc">
          El Asegurado tendrá derecho a cambiar de Beneficiarios cuando lo
          estime conveniente, mientras la Póliza se encuentre en vigencia. La
          modificación de Beneficiarios será válida siempre y cuando conste en
          un endoso a la Póliza o en un documento adicional debidamente
          legalizado por un notario público.
        </p>
        <p class="mt__group--desc">
          Si existieran Beneficiarios menores de edad, la indemnización que les
          corresponda será depositada en instituciones de crédito a su nombre de
          conformidad con la legislación nacional vigente.
        </p>
        <p class="mt__group--desc">
          Si un Beneficiario falleciera durante el proceso de indemnización de
          la Póliza, el capital que le corresponda será pagado a los herederos
          legales del Beneficiario fallecido o, de no existir herederos, los
          Beneficiarios sobrevivientes tendrán derecho a acrecer en la
          proporción correspondiente.
        </p>
      </div>

      <!-- Aviso de Siniestro y solicitud de cobertura -->
      <h6 class="mt__subtitle">
        IX. Aviso de Siniestro y solicitud de cobertura
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          En caso de ocurrencia del siniestro objeto de la cobertura, el
          Contratante, Asegurado o Beneficiario, cuando corresponda, deberá dar
          aviso de siniestro a PROTECTA SECURTIY dentro de los siete (7) días
          siguientes a la fecha en que se tenga conocimiento de la ocurrencia
          del mismo o del beneficio del seguro. El Asegurado o Beneficiario,
          cuando corresponda, deberá solicitar la cobertura y presentar los
          siguientes documentos, en original o copia certificada o copia con
          certificación de reproducción notarial (antes copia legalizada), en
          caso se contraten Cláusulas Adicionales, éstas indicaran la
          documentación necesaria para solicitar las coberturas contempladas en
          ellas:
        </p>
        <ol class="mt__group--list" type="a">
          <li class="mt__group--list-item">
            Acta y Certificado de defunción del Asegurado.
          </li>
          <li class="mt__group--list-item">
            Copia del Documento de Identidad o Partida de Nacimiento de los
            Beneficiarios.
          </li>
          <li class="mt__group--list-item">
            Atestado o Parte Policial, si lo hubiere.
          </li>
          <li class="mt__group--list-item">
            Protocolo de Necropsia del Asegurado emitido por el Instituto de
            Medicina Legal, si lo hubiere.
          </li>
          <li class="mt__group--list-item">
            Resultado del dosaje etílico y toxicológico del Asegurado emitido
            por el Instituto de Medicina Legal o la Policía Nacional del Perú,
            si los hubiere.
          </li>
        </ol>
        <p class="mt__group--desc">
          Una vez que el Asegurado o Beneficiario(s) hayan cumplido con
          presentar todos los documentos referidos en este artículo, Protecta
          Security, cuenta con treinta (30) días para la evaluación del
          Siniestro y proceder con la aprobación o rechazo del Siniestro. .
        </p>
        <p class="mt__group--desc">
          Asimismo, conforme al Art.11 del Reglamento de Gestión y Pago de
          Siniestro, en caso PROTECTA SECURITY requiera aclaraciones o
          precisiones adicionales respecto de la documentación e información
          presentada por el asegurado, deberá solicitarlas dentro de los
          primeros veinte (20) días del plazo antes señalado, lo que suspenderá
          el plazo hasta que se presente la documentación e información
          correspondiente. En virtud de lo mencionado, podrá solicitar la
          Historia Clínica del Asegurado y/o de las personas cuya vida y/o
          integridad física es objeto de alguna de las coberturas del presente
          Contrato de Seguro (Asegurados Adicionales), si lo estima conveniente,
          así como informes, declaraciones, certificados médicos.
        </p>
        <p class="mt__group--desc">
          El Asegurado, conforme a lo establecido en el Certificado de Seguro,
          autoriza expresamente a Protecta Security, en los casos que se
          produzca un riesgo cubierto por esta Póliza, a acceder a su historia
          clínica, en cualquier centro de salud privado o público, en el momento
          que lo requiera.
        </p>
        <p class="mt__group--desc">
          Asimismo, el Asegurado y los Asegurados Adicionales reconocen que
          conforme al artículo 25 de la Ley General de Salud N° 26842, las
          clínicas, hospitales, o médicos tratantes están exceptuados de la
          reserva de la información del acto médico cuando fuere proporcionada a
          la entidad aseguradora vinculada con la atención prestada al paciente
          siempre que fuere con fines de reembolso, pago de beneficios,
          fiscalización o auditoría.
        </p>
        <p class="mt__group--desc">
          En caso PROTECTA SECURITY no se pronunciase dentro de los treinta días
          para aprobar o rechazar el siniestro, se entenderá que el Siniestro ha
          quedado consentido, salvo que se haya solicitado una prórroga de
          conformidad con lo dispuesto en las normas legales vigentes. Una vez
          consentido o aprobado el Siniestro, Protecta Security deberá proceder
          a pagar la indemnización correspondiente dentro de los treinta (30)
          días siguientes de producido el consentimiento.
        </p>
        <p class="mt__group--desc">
          El Contratante, Asegurado o Beneficiario, perderán el derecho a ser
          indemnizados, quedando Protecta Security relevada de toda
          responsabilidad, si en cualquier momento, cualquiera de ellos o
          terceras personas debidamente facultadas que actúen en su
          representación, emplean medios o documentos falsos, dolosos o
          engañosos, con su conocimiento o sin él, para sustentar una solicitud
          de cobertura o para derivar beneficios del Seguro otorgados por la
          presente Póliza.
        </p>
      </div>

      <!-- Canales de orientación disponibles para consultas, reclamos y avisos de siniestro  -->
      <h6 class="mt__subtitle">
        X. Canales de orientación disponibles para consultas, reclamos y avisos
        de siniestro
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Las consultas, reclamos y/o avisos de siniestro que quieran presentar
          el Contratante y/o Asegurado y/o Beneficiario, deberán ser realizados
          a la Plataforma de Atención al Cliente de Protecta Security y/o a los
          medios habilitados por el Comercializador, en caso hubiese.
        </p>
        <p class="mt__group--desc">
          Los medios a través de los cuales podrá presentar alguna consulta o
          reclamo a Protecta Security son los siguientes:
        </p>
        <ul class="mt__group--list list-disc">
          <li class="mt__group--list-item">
            Atención Telefónica: Lima 391-3000 I Provincias 0-801-1-1278
          </li>
          <li class="mt__group--list-item">
            E-mail:
            <a href="mailto:clientes@protectasecurity.pe"
              >clientes@protectasecurity.pe</a
            >
          </li>
          <li class="mt__group--list-item">
            Página Web:
            <a href="www.protectasecurity.pe" target="_blank"
              >www.protectasecurity.pe</a
            >
          </li>
          <li class="mt__group--list-item">
            Atención Presencial: Av. Domingo Orué N° 165, piso 8, Surquillo,
            Lima – Perú
          </li>
        </ul>
        <p class="mt__group--desc">
          Horario de Atención: De Lunes a Viernes, de 9 am a 6 pm.
        </p>
        <p class="mt__group--desc">
          En caso no estuviera conforme con la respuesta emitida por PROTECTA
          SECURITY, el Contratante y/o Asegurado también podrá realizar
          cualquier reclamo sobre los alcances de este seguro en la Defensoría
          del Asegurado al 421-0614, o en Calle Amador Merino Reyna 307 - Piso 9
          – San Isidro, Lima - Perú o en www.defaseg.com.pe, así como en la
          Superintendencia de Banca, Seguros y AFP (SBS) en caso únicamente de
          denuncias y/o en el Instituto de Defensa de la Competencia y de la
          Protección de la Propiedad Intelectual (INDECOPI).
        </p>
      </div>

      <!-- Plazo y forma de entrega de la póliza de seguro o del certificado de seguro -->
      <h6 class="mt__subtitle">
        XI. Plazo y forma de entrega de la póliza de seguro o del certificado de
        seguro
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          La Póliza, el Certificado de Seguro y demás documentación que componen
          el contrato de seguro será entregada por medios electrónicos, siendo
          enviada al correo electrónico consignado en la presente solicitud de
          seguro, dentro del plazo de quince (15) días después de recibida la
          Solicitud de seguro.
        </p>
      </div>

      <!-- Forma de aceptación del seguro -->
      <h6 class="mt__subtitle">XII. Forma de aceptación del seguro</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Si el Contratante es persona natural, brindará la aceptación del
          seguro de la siguiente manera: 1) A través de clave OTP (Autenticación
          con contraseña de un solo uso), la cual llegará al correo electrónico
          proporcionado por el Contratante, y 2) Al marcar el check box
          aceptando los términos y condiciones del Seguro de Accidentes
          Personales al momento de generar la cotización y solicitud de seguro.
          Si el Contratante es persona jurídica, brindará la aceptación del
          seguro de Accidentes Personales al marcar el check box aceptando los
          términos y condiciones del Seguro de Accidentes Personales al momento
          de generar la cotización y solicitud de seguro.
        </p>
        <p class="mt__group--desc">
          De no mediar rechazo a la solicitud de seguro, PROTECTA SECURITY
          entregará y/o pondrá a disposición la Póliza de seguro al Contratante
          y/o Asegurado dentro del plazo de quince (15) días después de recibida
          la Solicitud de Seguro.
        </p>
      </div>

      <!-- Políticas sobre el uso del ecommerce -->
      <h6 class="mt__subtitle">
        XIII. Políticas sobre el uso del Ecommerce y/o Plataforma de Ventas
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Declaro y acepto que no usaré el e-commerce de manera inadecuada
          contraviniendo los principios de la buena fe en la contratación.
          Asimismo, acepto y reconozco que la presente plataforma está diseñada
          para la contratación de la póliza electrónica a través de medios
          electrónicos, por lo que, solo podré utilizarla en calidad de
          Contratante del producto objeto de adquisición y no por actos de
          terceras personas y/o con fines diferentes a la contratación de una
          Póliza de Seguro. De la misma manera, acepto que no interferiré ni
          alteraré el servicio que brinda Protecta Security, incluyendo la
          comercialización de los productos por este canal, ni intentaré acceder
          a ellos usando un método distinto a las instrucciones proporcionadas
          por Protecta Security.
        </p>
        <p class="mt__group--desc">
          Acepto que solo podré usar la plataforma en la medida en que la ley lo
          permita, por lo que, declaro bajo juramento, en mi calidad de
          Contratante, ser mayor de edad y contar con
          <span class="paragraph-desc">interés asegurable</span> para la
          adquisición de la póliza de Accidentes Personales electrónica.
          Asimismo, acepto expresamente que Protecta Security está plenamente
          facultada para suspender o cancelar el uso de esta plataforma, por
          ende, la contratación de la Póliza Electrónica, siempre que mi persona
          no haya cumplido con las políticas aquí expuestas o si Protecta
          Security considera que mi conducta puede ser de mala fe en la
          contratación. Declaro conocer que el uso de la plataforma no me
          convierte en titular de ninguno de los derechos de propiedad
          intelectual, ni del contenido al que acceda, ni me otorga el derecho a
          usar las marcas ni los logotipos utilizados por Protecta Security, por
          lo cual, reconozco expresamente que el titular de aquellos derechos es
          y será Protecta Security. Finalmente, me obligo a no eliminar, ocultar
          ni alterar los avisos legales que se muestren en la plataforma de
          ventas por medios electrónicos de Protecta Security. Asimismo, con
          esta aceptación confirmo la exactitud y veracidad de mis declaraciones
          expresadas en la presente plataforma, indicando que cualquier
          declaración inexacta y/o reticente donde medie dolo o culpa
          inexcusable, respecto de circunstancias conocidas por mi persona, y
          que hubiesen impedido la emisión de esta Póliza Electrónica o
          modificado sus condiciones si Protecta Security hubiese sido informada
          del verdadero estado del riesgo, hará que se proceda a la nulidad del
          mismo, o a repetir contra el Contratante, el gasto incurrido por
          PROTECTA SECURITY como consecuencia del otorgamiento de las coberturas
          de la Póliza Electrónica, en caso de siniestro.
        </p>
      </div>

      <!-- Emvío de Póliza Vía eletrónica -->
      <h6 class="mt__subtitle">XIV. Envío de la póliza vía electrónica</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Para el envío de la Póliza Electrónica, como usuario declaro conocer y
          manifiesto mi consentimiento para que se remitan al correo electrónico
          que indique en la presente página web; mi Póliza Electrónica y/o
          renovaciones. Para ello, declaro conocer y aceptar que el envío
          electrónico de la Póliza Electrónica que suscriba con Protecta
          Security posee las siguientes características:
        </p>
        <p class="mt__group--desc">
          - Ventajas: Rapidez para obtenerla; de fácil acceso; siempre
          disponible; y contribuye al cuidado del medio ambiente.
        </p>
        <p class="mt__group--desc">
          - Procedimiento: Mi Póliza Electrónica será remitida al correo
          electrónico que brinde, en el plazo de veinticuatro (24) horas de
          ingresada esta solicitud. En caso observe su contenido o desee
          desistir, seguiré los pasos que me indiquen en el correo enviado.
        </p>
        <p class="mt__group--desc">
          - Medidas de seguridad la información se enviará cifrada a las
          pasarelas de pago.
        </p>
        <p class="mt__group--desc">
          - Posibles riesgos: El acceso al contenido y la capacidad de
          almacenamiento de mi cuenta de correo electrónico es de mi
          responsabilidad, por lo que debo mantener mi cuenta de correo
          habilitada y operativa, así como contar con las medidas de seguridad
          necesarias para evitar usos indebidos por parte de terceros; para la
          recepción de mi póliza de seguros. Asimismo, manifiesto que cualquier
          modificación del correo electrónico debe ser comunicada a Protecta
          Security, al correo clientes@protectasecurity.pe Finalmente, declaro
          conocer que se remitirá la Póliza Electrónica a la dirección ingresada
          en los campos de datos, una vez se haya confirmado el pago en la
          pasarela de pagos Niubiz a través del ecommerce de Accidentes
          Personales y en un tiempo no mayor a veinticuatro (24) horas. De no
          recibir el documento adjunto (póliza electrónica), podré solicitarlo
          en la Central de Servicio al Cliente 391-3000 (Lima) / 0801-1-1278
          (Provincias), asimismo, podrá escribirnos a nuestra dirección de
          correo electrónico clientes@protectasecurity.pe o visitarnos en Av.
          Domingo Orué 165 Piso 8 - Surquillo, quienes se encargarán de
          enviármelo.
        </p>
      </div>

      <!-- Derecho de Arrepentimiento -->
      <h6 class="mt__subtitle">
        XV. <span class="paragraph-font">En caso aplique,</span> plazo y forma
        para ejercer el Derecho de Arrepentimiento
      </h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Cuando la oferta de la presente Póliza se haya efectuado por
          Comercializadores, Bancaseguros o en caso PROTECTA SECURITY utilice
          sistemas de comercialización a distancia, el Derecho de
          Arrepentimiento puede ser ejercido por el Asegurado, en caso de
          seguros grupales o por el Contratante, para los seguros individuales.
          Para esto, según sea el caso, el Asegurado podrá resolver el
          Certificado de Seguro y el Contratante la Póliza de Seguro, sin
          expresión de causa ni penalidad alguna, dentro de los quince (15) días
          calendario siguientes a la fecha en que reciben el Certificado de
          Seguro o la Póliza de Seguro, respectivamente, o la Nota de Cobertura
          Provisional, siempre y cuando no haya hecho uso de las coberturas
          contenidas en la misma.
        </p>
        <p class="mt__group--desc">
          En caso el Asegurado o Contratante hagan uso de su Derecho de
          Arrepentimiento luego de haber pagado la prima del seguro, PROTECTA
          SECURITY, conforme al Art.25.2 del Reglamento de Gestión de Conducta
          de Mercado, procederá a la devolución total del importe pagado en el
          plazo de treinta (30) días, contados desde la fecha que se presentó la
          solicitud de uso del Derecho de Arrepentimiento. Para estos fines el
          Asegurado o Contratante podrán utilizar los mismos mecanismos de
          forma, lugar y medios que usó para la contratación del seguro.
        </p>
        <p class="mt__group--desc">
          Asimismo, cuando la oferta de la presente Póliza se haya efectuado por
          Corredores y éstos hayan utilizado sistemas de comercialización a
          distancia, resultará aplicable el Derecho de Arrepentimiento, conforme
          a lo establecido en el artículo 31 de la Resolución SBS N° 809-2019.
        </p>
      </div>

      <!-- Consideraciones Adicionales  -->
      <h6 class="mt__subtitle">XVI. Consideraciones Adicionales</h6>
      <div class="mt__group">
        <p class="mt__group--desc">
          Adicionalmente, PROTECTA SECURITY pone de conocimiento del Asegurado,
          lo siguiente:
        </p>
        <ol class="mt__group--list" type="a">
          <li class="mt__group--list-item">
            Es obligación de PROTECTA SECURITY entregar la Póliza al Contratante
            del Seguro, así como los Certificados de Seguro conforme al número
            de Asegurados, dentro del plazo de quince (15) días después de
            recibida la Solicitud de Seguro. El Asegurado tiene derecho a
            solicitar copia de la Póliza del Seguro al Contratante, la cual
            deberá ser entregada en un plazo máximo de quince (15) días
            calendario, desde la recepción de la solicitud presentada por el
            Asegurado.
          </li>
          <li class="mt__group--list-item">
            En caso la Póliza se origine como consecuencia de una propuesta u
            oferta realizada por PROTECTA SECURITY y el contenido de aquella
            difiera de dicha propuesta, la diferencia se considerará tácitamente
            aceptada por el Contratante si éste no efectúa el reclamo
            correspondiente dentro de los treinta (30) días de haber recibido la
            Póliza. La aceptación tácita sólo se presumirá cuando PROTECTA
            SECURITY hubiere comunicado al Contratante en forma detallada y
            mediante documento adicional y distinto a la Póliza, la existencia
            de diferencias, otorgándole además un plazo de treinta (30) días
            para rechazarlas. De omitir PROTECTA SECURITY la referida
            comunicación, las diferencias se entenderán como no escritas, salvo
            que éstas resulten más beneficiosas para el Asegurado.
          </li>
          <li class="mt__group--list-item">
            Es obligación del Contratante y/o del Asegurado notificar por
            escrito a PROTECTA SECURITY los hechos o circunstancias de
            Agravación del Riesgo ni bien estos conozcan su ocurrencia. En
            aquellos casos en que el Contratante y/o Asegurado no comuniquen la
            Agravación del Riesgo, PROTECTA SECURITY queda liberada de su
            prestación, si es que el Siniestro se produce mientras subsiste la
            Agravación del Riesgo, salvo que:
            <p class="mt__group--desc"></p>
            <ol class="mt__group--list" type="a">
              <li class="mt__group--list-item">
                El Contratante y/o Asegurado incurran en la omisión o demora sin
                culpa inexcusable
              </li>
              <li class="mt__group--list-item">
                Si la Agravación del Riesgo no influye en la ocurrencia del
                Siniestro ni sobre la medida de la prestación a cargo de
                PROTECTA SECURITY
              </li>
              <li class="mt__group--list-item">
                Si PROTECTA SECURITY no opta por la resolución del Contrato de
                Seguro o no propone su modificación dentro del plazo de quince
                (15) días.
              </li>
              <li class="mt__group--list-item">
                Si PROTECTA SECURITY conociese la situación de Agravación del
                Riesgo al momento en que debió efectuarse la comunicación.
              </li>
            </ol>
            <p>
              En los supuestos mencionados en los literales a), b) y c) antes
              indicados, PROTECTA SECURITY tiene derecho a deducir del monto de
              la indemnización la suma proporcional equivalente a la extra prima
              que hubiere cobrado al Contratante, de haber sido informado
              oportunamente de la Agravación del Riesgo.
            </p>
          </li>
          <li class="mt__group--list-item">
            PROTECTA SECURITY es responsable frente al Contratante y/o Asegurado
            de la cobertura contratada, así como de todos los errores u
            omisiones en que incurra el comercializador; sin perjuicio de las
            responsabilidades y obligaciones que le corresponden. En el caso de
            bancaseguros se aplicará lo previsto en el Reglamento de Gestión de
            Conducta de Mercado del Sistema Financiero, aprobado por la
            Resolución SBS N° 3274-2017 y sus normas modificatorias.
          </li>
          <li class="mt__group--list-item">
            Las comunicaciones cursadas por el Contratante y/o Asegurado y/o
            Beneficiarios al Comercializador por aspectos relacionados con el
            contrato de seguros, tienen el mismo efecto que si se hubieran
            dirigido a PROTECTA SECURITY. En este sentido, se entienden que
            dichas comunicaciones son recibidas en la misma fecha por PROTECTA
            SECURITY.
          </li>
          <li class="mt__group--list-item">
            Asimismo, los pagos efectuados por el Contratante y/o Asegurado o
            terceros encargados del pago al Comercializador se consideran
            abonados a PROTECTA SECURITY en la fecha de realización del pago.
          </li>
          <li class="mt__group--list-item">
            La Póliza podrá contemplar copagos y/o deducibles a cargo del
            Asegurado, los cuales se especificarán en las Condiciones
            Particulares de la Póliza y en el Certificado de Seguro. En caso de
            siniestro, el Asegurado asumirá el pago de los copagos o deducibles
            estipulados en la Póliza de Seguro.
          </li>
          <li class="mt__group--list-item">
            En caso El Contratante sea una persona jurídica, el representante
            legal y/o apoderado, debidamente facultado, debe completar los datos
            requeridos en la solicitud de seguro con información veraz y exacta.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
