* {
    font-family: "Bliss Pro";
}

*::selection {
    background-color: #ed6e00;
    color: #fff;
}

@import "standard";
@import "modal";
@import "global";
@import "ngselect";

.container-fluid {
    overflow-x: hidden;
}

.background-whof,
.background-chanchito,
.bc-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.background-whof {
    background-image: url("../../../../../assets/vidaindividual/resources/Elementos-07.png");
    width: 400px;
    height: 300px;
}

.background-chanchito {
    background-image: url("../../../../../assets/vidaindividual/resources/Elementos-05.png");
    width: 450px;
    height: 500px;
}

.bc-1 {
    background-image: url("../../../../../assets/vidaindividual/resources/Elementos-06.png");
}

.info-back {
    margin-bottom: 4rem;
    margin-left: 12rem;
}

.text-c {
    font-size: 30px;
}

.text-c,
.frm-title {
    display: block;
    color: #2b0d61;
}

.frm-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 1rem;
}

.form-cotizacion {
    text-align: center;
    max-width: 420px;
    margin: auto;
    margin-bottom: 5rem;
    padding: 1.5rem;
    border-radius: 5px;
}

.input {
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    height: 50px;
    color: #75688b;
    outline: none;
    border: 1px solid #75688b;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.input-wp {
    padding: 4px 12px 4px 12px;
}

.input-placeholder-active {
    padding: 18px 12px 4px 12px;
}

.content-input {
    position: relative;
}

.mini-placeholder {
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 16px;
    color: #75688b;
    cursor: text;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.placeholder-active {
    top: 6px;
    font-size: 11px;
}

.frm-inputs,
.double-inputs {
    display: grid;
    grid-gap: 0.75rem;
}

.double-inputs {
    grid-template-columns: 0.35fr 1fr;
}

.fa {
    font-family: FontAwesome;
}

.fa-check-circle-o {
    color: #ed6e00;
    font-size: 22px;
    margin-right: 0.5rem;
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}

.fecha-nac {
    margin-top: 1rem;
}

.fecha-nac b {
    margin-left: 4px;
}

.fecha-nac,
.checkboxes {
    margin-bottom: 1.25rem;
}

.fecha-nac,
.checkbox-accept {
    color: #75688b;
    text-align: left;
}

.checkbox-accept {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.55);
}

.submit-form {
    width: 100%;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    background-color: #ed6e00;
    outline: none;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.submit-form[disabled] {
    background-color: rgba(237, 110, 0, 0.3);
}

input[type="checkbox"] {
    display: none;
}

.fecha-nac,
.checkbox-accept {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox-personalizado {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox-personalizado::before {
    display: inline-block;
    margin-right: 0.25rem;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    content: "";
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid #ed6e00;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}

input[type="checkbox"]:checked+.checkbox-personalizado::before {
    content: "✓";
    background-color: #ed6e00;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.listaServices__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.35);
    font-weight: bold;
    max-width: 550px;
}

.listaServices__item:not(:last-child) {
    margin-bottom: 0.65rem;
}

.listaServices__item i {
    font-size: 40px;
    margin-right: 1rem;
}

.row-services {
    min-height: 550px;
    padding: 0 3rem;
}

.row-whof {
    background-color: #f3f1f6;
    padding: 0 !important;
}

.title-whof {
    font-size: 47px;
    font-weight: bold;
    color: #2b0d61;
    margin-bottom: 1rem;
}

.desc-whof {
    font-size: 15px;
    color: #75688b;
}

.content-whof {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 360px;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-dialog {
    max-width: 600px;
}

.modal-title-benef {
    color: #2b0d61;
    font-size: 25px;
    text-align: center;
    width: 350px;
}

.modal-content {
    padding: 1rem;
}

.modal-body img {
    width: 100%;
    max-width: 500px;
    margin: 2rem 2rem 0 2rem;
}

.policy {
    text-decoration: underline;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgba(0, 0, 0, 0.55);
}

.btn-next-modal {
    background-color: #ed6e00;
    color: #fff;
    font-weight: bold;
    padding: 8px 40px;
    border-radius: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: auto;
    font-size: 20px;
}

.benf-ref {
    width: 100%;
    margin-top: 0.5rem;
    display: block;
    text-align: right;
    font-size: 11px;
    color: #75688b;
}

.background-step1-reverse {
    width: 100%;
    display: none;
}

.info-salud {
    color: #2b0d61;
}

.info-salud h2 {
    font-weight: bold;
    font-size: 45px;
}

.info-salud span {
    font-size: 40px;
}

.mw-600 {
    max-width: 600px;
}

.content-form {
    max-width: 550px;
    margin: auto !important;
    padding: 2rem !important;
    background-color: #f3f1f6;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.container-fluid>.row:first-child {
    max-width: 1200px;
    margin: auto !important;
}

.content-salud {
    max-width: 1000px;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: auto !important;
    padding: 1rem !important;
    transform: translateX(20px);
}

.salud {
    margin: auto;
}

.desc-whof {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-align: center !important;
}

.bc-1::before {
    display: block;
    content: "";
    width: 1300px;
    height: 800px;
    background: #f4f2f6;
    position: absolute;
    top: -587px;
    left: -450px;
    z-index: -1;
    border-radius: 300px;
    transform: rotate(-55deg);
}

.content_main {
    padding: 1rem !important;
}

@media (max-width: 993px) {
    .bc-1 {
        background-image: none;
    }

    .bc-1::before {
        display: none;
    }

    .background-step1-reverse {
        display: block;
    }

    .content-form {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .content-salud {
        display: flex !important;
        flex-direction: column-reverse;
        margin-top: 4rem;
        grid-gap: 8rem;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .info-salud {
        transform: translateY(-60px);
    }

    .salud {
        margin-top: 2rem;
    }

    .background-chanchito {
        margin: auto;
        margin-top: 2rem;
    }

    .row-whof {
        flex-direction: column-reverse;
    }

    .background-whof {
        margin: auto;
    }

    .background-whof,
    .salud {
        width: 300px;
    }

    .desc-whof {
        text-align: center !important;
    }

    .background-chanchito {
        display: none;
    }

    .title-whof {
        margin-top: 1rem;
    }

    .men-with-money {
        width: 100%;
        max-width: 350px;
        margin: 0 !important;
    }

    .info-devolcion {
        text-align: center;
    }

    .content_benefits {
        padding: 3rem 0 !important;
    }
}

.error-in {
    color: red;
    transform: translateY(-6px);
}

.content-no-apto {
    background-color: #f2f2f2;
    padding: 3rem;
    border-radius: 15px;
    color: #2b0d61;
    max-width: 700px;
    margin: 3rem auto;
}

.content-buttons-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 !important;
}

.content-buttons-actions button {
    padding: 5px 12px;
    color: #ed6e00;
    border: 1px solid #ed6e00;
    background-color: #fff;
    width: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.content-buttons-actions button:last-child {
    padding: 7px 15px;
    color: #fff;
    border: 1px solid #ed6e00;
    background-color: #ed6e00;
    margin-left: 1rem;
}

.btn-back i,
.btn-next i {
    color: #ed6e00;
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}

.btn-back {
    margin: auto;
    margin-bottom: 3rem;
    border: none !important;
    background-color: #fff;
    color: #ed6e00;
    padding: 10px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media (max-width: 500px) {
    .double-inputs {
        grid-template-columns: 1fr;
    }
}

/* *MODAL BENEFICIOS */
.btb-benf {
    position: fixed;
    background-color: #eceff1;
    color: #2b0d61;
    right: -8.5rem;
    top: 45%;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: row-reverse;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.btn-benf__icon {
    padding: 3px 8px;
    font-size: 14px;
}

.btb-benf span {
    padding: 3px 70px;
    font-size: 14px;
}

.btn-benf__icon {
    background-color: #ff6e00;
    color: #fff;
}

.title-modal {
    text-align: center;
    color: #2b0d61;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    font-weight: bolder;
}

.title-modal b {
    font-size: 40px;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.25rem;
}

.grilla__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.grilla__item--img {
    max-width: 100px !important;
}

.grilla__item--desc {
    text-align: center;
    color: #2b0d61;
    font-size: 15px;
}

.grilla__item--small {
    color: #2b0d61;
    display: inline-block;
    font-size: 11px;
    margin-left: 0.27rem;
}

.close {
    margin-right: 0.25rem;
    margin-top: 0rem;
}

.btn-aceptar-modal {
    width: 170px;
    margin: 1rem auto;
    padding: 5px 10px;
    background-color: #ff6e00;
    color: #fff;
    box-shadow: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 18px;
}

.modal-header {
    padding: 0;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-content {
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.modal-body {
    padding: 1rem 3.8rem;
}

.modal-dialog {
    max-width: 560px;
}

.frm-title {
    font-size: 28px !important;
    margin: 0 !important;
}

.title-form {
    font-size: 28px;
    margin-bottom: 2rem;
    color: #2b0d61 !important;
}

@media (max-width: 583px) {
    .modal-body {
        padding: 0 !important;
    }
}

.parpadeo::before {
    animation: parpadeo 0.5s infinite alternate-reverse;
    -webkit-animation: parpadeo 0.5s infinite alternate-reverse;
}

@keyframes parpadeo {
    0% {
        box-shadow: 0 0 0 3px #ffd5b5;
    }

    100% {
        box-shadow: 0 0 0 3px #ff6e00;
    }
}

.lbl-no-check {
    padding-left: 32px;
}

.extra_policy {
    margin-top: 1rem;
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.extra_policy a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}

::ng-deep app-email-suggestions .suggestions {
    left: 0 !important;
    top: 4rem !important;
}

.infor {
    background-color: #f3f1f6;
    border: none;
    color: #ed6e00;
    /* margin-top: 10px; */
    margin-left: auto;
    margin-bottom: 10px;
}

.icon-info {
    outline: none;
    background-color: transparent;
    border: none;
    color: #ed6e00;
    width: 40;
    height: 20;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-5px);
    margin-right: 0rem;
}

.captcha {
    width: 305px;
    margin: auto;
    top: 5%;
    position: fixed;
    z-index: 9;
}