<div class="panel-info-poliza">
    <panel-widget title="Datos de la póliza">
        <div class="row">
            <div class="col-sm-3"
                 *ngIf="cotizacion.modoVista == CONSTANTS.MODO_VISTA.COTIZAR">
                <form-input-select label="Tipo producto"
                                   [service]="policyemitService"
                                   method="getTypesPolicyPD"
                                   [params]="{
                                        codRamo: CONSTANTS.RAMO,
                                        ntype_doc: cotizacion.contratante.tipoDocumento?.Id || null,
                                        sdocument: cotizacion.contratante.id != null ? cotizacion.contratante.numDocumento : null
                                    }"
                                   fieldCodigo="id"
                                   fieldValor="descripcion"
                                   [firstSelect]="cotizacion.contratante.id != null ? false : true"
                                   [alwaysSelect]="cotizacion.contratante.id != null ? false : true"
                                   [(value)]="poliza.tipoPoliza"
                                   [detail]="detail"
                                   (onSelect)="cambiarTipoProducto()"
                                   [required]="true">
                </form-input-select>
            </div>
            <div class="col-sm-3"
                 *ngIf="cotizacion.modoVista != CONSTANTS.MODO_VISTA.COTIZAR">
                <form-input-select label="Tipo producto"
                                   [service]="policyemitService"
                                   method="getTypesPolicy"
                                   [params]="CONSTANTS.RAMO"
                                   fieldCodigo="id"
                                   fieldValor="descripcion"
                                   [firstSelect]="true"
                                   [alwaysSelect]="true"
                                   [(value)]="poliza.tipoPoliza"
                                   [detail]="detail"
                                   (onSelect)="cambiarTipoProducto()"
                                   [required]="true">
                </form-input-select>
            </div>
            <div class="col-sm-3">
                <form-input-select label="Tipo perfil"
                                   [service]="quotationService"
                                   method="getPlanListAcc"
                                   [params]="{
                                        P_NBRANCH: CONSTANTS.RAMO,
                                        P_NPRODUCT: poliza.tipoPoliza?.codigo || null,
                                        DEFFECDATE: fechaActual,
                                        CHANNEL:
                                        cotizacion.brokers.length > 0
                                            ? cotizacion.brokers[0].COD_CANAL
                                            : 0
                                    }"
                                   fieldCodigo="NIDPLAN"
                                   fieldValor="SDESCRIPT"
                                   [firstSelect]="true"
                                   [alwaysSelect]="true"
                                   [(value)]="poliza.tipoPerfil"
                                   [detail]="detail"
                                   (onSelect)="cambiarTipoPerfil();"
                                   [required]="true"></form-input-select>
            </div>
            <div class="col-sm-3">
                <form-input-select label="Modalidad"
                                   [service]="accPersonalesService"
                                   method="getModalidad"
                                   [params]="{
                                        P_NBRANCH: CONSTANTS.RAMO,
                                        P_NPRODUCT: poliza.tipoPoliza?.codigo || null,
                                        DEFFECDATE: fechaActual,
                                        TYPE_PROFILE: poliza.tipoPerfil?.NIDPLAN || null
                                    }"
                                   fieldCodigo="ID"
                                   fieldValor="DESCRIPCION"
                                   [firstSelect]="!detail"
                                   [alwaysSelect]="!detail"
                                   [(value)]="poliza.modalidad"
                                   [detail]="detail"
                                   [required]="true"
                                   (onSelect)="resetTarifario(); getSegmento();">
                </form-input-select>
                <!--|| (CONSTANTS.RAMO == CONSTANTS.RAMO_COMERCIAL.ACC_PERSONALES && poliza.tipoPoliza?.codigo == '1')-->
            </div>
            <div class="col-sm-3">
                <form-input-select label="Tipo facturación"
                                   [service]="accPersonalesService"
                                   method="getTypesFactura"
                                   clear="clear"
                                   [params]="{
                                        channel:
                                        cotizacion.brokers.length > 0
                                            ? cotizacion.brokers[0].COD_CANAL
                                            : 0,
                                        nproduct: codProducto,
                                        profile: poliza.tipoPerfil?.NIDPLAN || null,
                                        perfil: poliza.tipoPerfil?.codigo
                                    }"
                                   fieldCodigo="id"
                                   fieldValor="descripcion"
                                   [firstSelect]="!detail"
                                   [alwaysSelect]="!detail"
                                   [(value)]="poliza.tipoFacturacion"
                                   [detail]="
                                        detail || verificarPerfilAforo() || verificarPerfilIndividual()
                                    "
                                   [required]="true"
                                   (change)="loadingFake()"
                                   (onSelect)="resetTarifario(); getSegmento(); loadingFake();">
                </form-input-select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form-input-select label="Moneda"
                                   [service]="accPersonalesService"
                                   method="getCurrency"
                                   [params]="{
                                        nbranch: CONSTANTS.RAMO,
                                        nproduct: poliza.producto?.codigo || null
                                    }"
                                   fieldCodigo="NCODIGINT"
                                   fieldValor="SDESCRIPT"
                                   [(value)]="poliza.moneda"
                                   (onSelect)=" resetTarifario(); getSegmento(); loadingFake();"
                                   [detail]="detail"></form-input-select>
            </div>
            <!-- <div class="col-sm-3">
                <form-input-select label="Tipo tarifario"
                                   [firstSelect]="true"
                                   [service]="accPersonalesService"
                                   method="getProductList"
                                   [params]="{
                                        productId: codProducto,
                                        epsId: epsItem.NCODE
                                    }"
                                   fieldCodigo="COD_PRODUCT"
                                   fieldValor="DES_PRODUCT"
                                   [(value)]="poliza.producto"
                                   [detail]="detail"
                                   [required]="true"></form-input-select>
            </div> -->
            <div class="col-sm-3" *ngIf="checkMovimientoEmision()">
                <form-input-ng-select label="Tipo tarifario"
                                   [service]="accPersonalesService"
                                   method="getTipoTarifario"
                                   [params]="{
                                        nbranch: CONSTANTS.RAMO,
                                        channel:
                                        cotizacion.brokers.length > 0
                                            ? cotizacion.brokers[0].COD_CANAL
                                            : null,
                                        currency: poliza.moneda?.NCODIGINT || null,
                                        profile: poliza.tipoPerfil?.codigo || null,
                                        policyType: poliza.tipoPoliza?.codigo || null,
                                        collocationType: poliza.modalidad?.codigo || null,
                                        billingType: poliza.tipoFacturacion?.id || null
                                    }"
                                   [firstSelect]="!detail"
                                   [alwaysSelect]="!detail"
                                   fieldCodigo="idTariff"
                                   fieldValor="desTariff"
                                   [(value)]="poliza.tipoTarifario"
                                   [detail]="detail && cotizacion.modoRenovacionEditar != true"
                                   (onSelect)="getSegmento(); changeTipoTarifario();"
                                   [required]="true"></form-input-ng-select>

                <!-- <form-input-select label="Tipo tarifario"
                                   [items]="poliza.listTarifarios"
                                   [itemsArray]="true"
                                   [firstSelect]="!detail"
                                   [alwaysSelect]="!detail"
                                   fieldCodigo="ID_TARIFARIO"
                                   fieldValor="TIPO_TARIFARIO"
                                   [(value)]="poliza.tipoTarifario"
                                   [detail]="detail && cotizacion.modoRenovacionEditar != true"
                                   [required]="true"
                                   (onSelect)="getSegmento(); changeTipoTarifario()"></form-input-select> -->
            </div>
            <div class="col-sm-3" *ngIf="checkMovimientoRenovacion()">
                <form-input-ng-select label="Tipo tarifario"
                                   [items]="poliza.listTarifarios"
                                   [itemsArray]="true"
                                   fieldCodigo="idTariff"
                                   fieldValor="desTariff"
                                   [(value)]="poliza.tipoTarifario"
                                    [detail]="detail && cotizacion.modoRenovacionEditar != true"
                                   [required]="true"
                                   (onSelect)="getSegmento(); changeTipoTarifario();"></form-input-ng-select>
                                   <!-- <form-input-select label="Tipo tarifario"
                                   [items]="poliza.listTarifarios"
                                   [itemsArray]="true"
                                   fieldCodigo="idTariff"
                                   fieldValor="desTariff"
                                   [(value)]="poliza.tipoTarifario"
                                    [detail]="detail && cotizacion.modoRenovacionEditar != true"
                                   [required]="true"
                                   (onSelect)="getSegmento(); changeTipoTarifario();"></form-input-select>  -->
            </div>
            <div class="col-sm-3" *ngIf="checkMovimiento()">
                <form-input-ng-select label="Tipo tarifario"
                                   [items]="poliza.listTarifarios"
                                   [itemsArray]="true"
                                   [firstSelect]="!detail"
                                   [alwaysSelect]="!detail"
                                   fieldCodigo="idTariff"
                                   fieldValor="desTariff"
                                   [(value)]="poliza.tipoTarifario"
                                   [detail]="true"
                                   [required]="true"></form-input-ng-select>
            </div>
            <div class="col-sm-3" *ngIf="CONSTANTS.RAMO == CONSTANTS.RAMO_COMERCIAL.VIDA_GRUPO && verificarSoloEstudiantil()">
                <form-input-checkbox [inlineInput]="true"
                                     [items]="[
                                        {
                                        codigo: 'CANT_PEN',
                                        valor: '¿Se trata del producto renta estudiantil (cantidad de pensiones)?',
                                        isSelected: poliza.checkbox3?.CANT_PEN == true ? true : false
                                        }
                                    ]"
                                     [disabled]="true"
                                     [(mapSelected)]="poliza.checkbox3"
                                     (mapSelectedChange)="getSegmento()"></form-input-checkbox>
            </div>
            <div class="col-sm-3"
                 [hidden]="!verificarSoloEstudiantil()">
                <form-input-checkbox [inlineInput]="true"
                                     [items]="[{ codigo: 'ASIG_COL', valor: 'Asignar colegio', isSelected: poliza.checkbox4?.ASIG_COL == true ? true : false }]"
                                     [(mapSelected)]="poliza.checkbox4"
                                     [disabled]="detail"></form-input-checkbox>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3"
                 [hidden]="true">
                <form-input-select label="Productos"
                                   [firstSelect]="true"
                                   [service]="accPersonalesService"
                                   method="getProductList"
                                   [params]="{
                                        productId: codProducto,
                                        epsId: epsItem.NCODE
                                    }"
                                   fieldCodigo="COD_PRODUCT"
                                   fieldValor="DES_PRODUCT"
                                   [(value)]="poliza.producto"
                                   [detail]="detail"
                                   [required]="true"></form-input-select>
            </div>
            <div class="col-sm-3">
                <form-input-select label="Tipo plan"
                                   [items]="poliza.listPlanes"
                                   [itemsArray]="true"
                                   fieldCodigo="ID_PLAN"
                                   fieldValor="TIPO_PLAN"
                                   [(value)]="poliza.tipoPlan"
                                   [detail]="detail && cotizacion.modoRenovacionEditar != true"
                                   [required]="true"
                                   (onSelect)="emitirCambiarDatoPoliza()"></form-input-select>
            </div>
            <div class="col-sm-3">
                <form-input-select label="Tipo renovación"
                                   [service]="accPersonalesService"
                                   method="GetTipoRenovacionGraph"
                                   [params]="{
                                        nbranch: CONSTANTS.RAMO,
                                        channel:
                                        cotizacion.brokers.length > 0
                                            ? cotizacion.brokers[0].COD_CANAL
                                            : null,
                                        currency: poliza.moneda?.NCODIGINT || null,
                                        profile: poliza.tipoPerfil?.codigo || null,
                                        policyType: poliza.tipoPoliza?.codigo || null,
                                        collocationType: poliza.modalidad?.codigo || null,
                                        billingType: poliza.tipoFacturacion?.id || null,
                                        nproduct_channel: codProducto,
                                        nusercode: userId,
                                        ntype_transac: cotizacion.tipoTransaccion,
                                        idTariff: poliza.tipoTarifario?.idTariff || null,
                                        versionTariff: poliza.tipoTarifario?.versionTariff || null
                                    }"
                                   [firstSelect]="!detail"
                                   [alwaysSelect]="!detail"
                                   fieldCodigo="COD_TIPO_RENOVACION"
                                   fieldValor="DES_TIPO_RENOVACION"
                                   [(value)]="poliza.tipoRenovacion"
                                   [detail]="detail && cotizacion.modoRenovacionEditar != true"
                                   (onSelect)="cambiarTipoRenovacion()"
                                   [required]="true"></form-input-select>
            </div>
            <!-- <div class="col-sm-3" *ngIf="!validarInputMostrar()">
          <form-input-select label="Tipo renovación" [service]="policyemitService" method="getTipoRenovacion" [params]="{
            P_NEPS: epsItem.STYPE,
            P_NPRODUCT: codProducto,
            P_NUSERCODE: userId,
            P_TYPE_TRANSAC: cotizacion.tipoTransaccion,
            P_TYPE_PROFILE: poliza.tipoPerfil?.NIDPLAN
          }"
          [defaultValue]="{codigo: poliza.tipoRenovacion?.COD_TIPO_RENOVACION}" fieldCodigo="COD_TIPO_RENOVACION" fieldValor="DES_TIPO_RENOVACION"
          [(value)]="poliza.tipoRenovacion" [detail]="detail && !cotizacion.modoRenovacionEditar"
          (onSelect)="cambiarTipoRenovacion();" [required]="true"
          ></form-input-select>
      </div> -->
            <!-- <div class="col-sm-3" *ngIf="!validarInputMostrar()">
        <form-input-select label="Tipo renovación" [service]="accPersonalesService" method="GetTipoRenovacionGraph"
          [params]="{
            nbranch: CONSTANTS.RAMO,
            channel: cotizacion.brokers.length > 0 ? cotizacion.brokers[0].COD_CANAL : null,
            currency: poliza.moneda?.NCODIGINT || null,
            profile: poliza.tipoPerfil?.codigo || null,
            policyType: poliza.tipoPoliza?.codigo || null,
            collocationType: poliza.modalidad?.codigo || null,
            billingType: poliza.tipoFacturacion?.id || null,
            nproduct_channel: codProducto,
            nusercode: userId,
            ntype_transac: cotizacion.tipoTransaccion
          }" [defaultValue]="{codigo: poliza.tipoRenovacion?.COD_TIPO_RENOVACION}"
          [detail]="detail && !cotizacion.modoRenovacionEditar" fieldCodigo="COD_TIPO_RENOVACION"
          fieldValor="DES_TIPO_RENOVACION" [(value)]="poliza.tipoRenovacion"
          [detail]="detail && (cotizacion.modoRenovacionEditar != true)"
          (onSelect)="cambiarTipoRenovacion();" [required]="true"></form-input-select>
      </div> -->
            <!-- <div class="col-sm-3" *ngIf="validarInputMostrar()">
        <form-input-select label="Frecuencia pago" [service]="accPersonalesService" method="GetFrecuenciaPagoGraph"
          [params]="{
            nbranch: CONSTANTS.RAMO,
            channel: cotizacion.brokers.length > 0 ? cotizacion.brokers[0].COD_CANAL : null,
            currency: poliza.moneda?.NCODIGINT || null,
            profile: poliza.tipoPerfil?.codigo || null,
            policyType: poliza.tipoPoliza?.codigo || null,
            collocationType: poliza.modalidad?.codigo || null,
            billingType: poliza.tipoFacturacion?.id || null,
            nproduct_channel: codProducto,
            renovationType: poliza.tipoRenovacion?.COD_TIPO_RENOVACION || null
          }" [firstSelect]="true" [alwaysSelect]="true"
          [defaultValue]="{codigo: poliza.tipoRenovacion?.COD_TIPO_RENOVACION}" fieldCodigo="COD_TIPO_FRECUENCIA"
          fieldValor="DES_TIPO_FRECUENCIA" [(value)]="poliza.frecuenciaPago"
          [detail]="detail && (cotizacion.modoRenovacionEditar !== true) && cotizacion.PolizaEditAsegurados != 0"
          (onSelect)="cambiarTipoFreq();"></form-input-select>
      </div> -->
            <!-- <div class="col-sm-3" *ngIf="!validarInputMostrar()">
        <form-input-select label="Frecuencia pago" [service]="panelInfoPolizaService" method="getFrecuenciaPago"
          [params]="{
            codRenovacion: poliza.tipoRenovacion?.COD_TIPO_RENOVACION,
            producto: codProducto
          }"  fieldCodigo="COD_TIPO_FRECUENCIA"
          fieldValor="DES_TIPO_FRECUENCIA" [(value)]="poliza.frecuenciaPago"
          [detail]="detail && (cotizacion.modoRenovacionEditar !== true) && cotizacion.PolizaEditAsegurados != 0"
          (onSelect)="cambiarTipoFreq();"></form-input-select>
      </div> -->
            <div class="col-sm-3">
                <form-input-select label="Frecuencia pago"
                                   [service]="accPersonalesService"
                                   method="GetFrecuenciaPagoGraph"
                                   [params]="{
                                        nbranch: CONSTANTS.RAMO,
                                        channel:
                                        cotizacion.brokers.length > 0
                                            ? cotizacion.brokers[0].COD_CANAL
                                            : null,
                                        currency: poliza.moneda?.NCODIGINT || null,
                                        profile: poliza.tipoPerfil?.codigo || null,
                                        policyType: poliza.tipoPoliza?.codigo || null,
                                        collocationType: poliza.modalidad?.codigo || null,
                                        billingType: poliza.tipoFacturacion?.id || null,
                                        nproduct_channel: codProducto,
                                        renovationType: poliza.tipoRenovacion?.COD_TIPO_RENOVACION || null,
                                        idTariff: poliza.tipoTarifario?.idTariff || null,
                                        versionTariff: poliza.tipoTarifario?.versionTariff || null
                                    }"
                                   [firstSelect]="!detail"
                                   [alwaysSelect]="!detail"
                                   [defaultValue]="{
                                        codigo: poliza.tipoRenovacion?.COD_TIPO_RENOVACION
                                    }"
                                   fieldCodigo="COD_TIPO_FRECUENCIA"
                                   fieldValor="DES_TIPO_FRECUENCIA"
                                   [(value)]="poliza.frecuenciaPago"
                                   [detail]="
                                        (detail &&
                                        cotizacion.modoRenovacionEditar !== true &&
                                        cotizacion.PolizaEditAsegurados != 0)
                                    "
                                   (onSelect)="cambiarTipoFreq()"></form-input-select>
            </div>
            <div class="col-sm-3"
                 *ngIf="validarInputMostrar()">
                <form-input-select label="Actividad a realizar"
                                   [service]="accPersonalesService"
                                   method="GetTechnicalTariffList"
                                   [params]="{
                                        nbranch: CONSTANTS.RAMO,
                                        channel:
                                        cotizacion.brokers.length > 0
                                            ? cotizacion.brokers[0].COD_CANAL
                                            : null,
                                        currency: poliza.moneda?.NCODIGINT || null,
                                        profile: poliza.tipoPerfil?.codigo || null,
                                        policyType: poliza.tipoPoliza?.codigo || null,
                                        collocationType: poliza.modalidad?.codigo || null,
                                        billingType: poliza.tipoFacturacion?.id || null,
                                        nproduct_channel: codProducto,
                                        planId: poliza.tipoPlan?.codigo || null,
                                        idTariff: poliza.tipoTarifario?.idTariff || null,
                                        versionTariff: poliza.tipoTarifario?.versionTariff || null
                                    }"
                                   fieldCodigo="Id"
                                   fieldValor="Name"
                                   [firstSelect]="!detail"
                                   [alwaysSelect]="!detail"
                                   [(value)]="poliza.tipoActividad"
                                   [detail]="detail"
                                   (onSelect)="emitirCambiarDatoPoliza()"
                                   [required]="true">
                </form-input-select>
            </div>

            <div class="col-sm-3"
                 *ngIf="!validarInputMostrar()">
                <form-input-select label="Actividad a realizar"
                                   [service]="clientInformationService"
                                   method="getTechnicalActivityList"
                                   [params]="codProducto"
                                   fieldCodigo="Id"
                                   fieldValor="Name"
                                   [(value)]="poliza.tipoActividad"
                                   [detail]="detail"
                                   (onSelect)="emitirCambiarDatoPoliza()"
                                   [required]="true">
                </form-input-select>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <form-input-date label="Inicio vigencia póliza"
                                 [(value)]="poliza.fechaInicioPoliza"
                                 (valueChange)="changeDate(1)"
                                 [disabled]="validarDeshabilitarFechaVigenciaInicio()"
                                 [today]="true"
                                 (onSelect)="emitirCambiarDatoPoliza()"
                                 [required]="true"></form-input-date>
            </div>
            <div class="col-sm-3" *ngIf="cotizacion.modoRenovacionEditar">
                <form-input-date label="Fin vigencia póliza"
                                 [(value)]="poliza.fechaFinPoliza"
                                 (valueChange)="changeDate(2)"
                                 (onSelect)="emitirCambiarDatoPoliza()"
                                 [todayNextMonth]="!detail"
                                 [transac]="cotizacion.tipoTransaccion"
                                 [minDateSup]="poliza.fechaInicioPoliza"
                                 [baseDateValue]="poliza.fechaInicioPoliza"
                                 [baseDatePeriod]="poliza.tipoRenovacion?.COD_TIPO_RENOVACION"
                                 [disabled]="
                                    poliza.tipoRenovacion?.COD_TIPO_RENOVACION != CONSTANTS.TIPO_RENOVACION.ESPECIAL 
                                    && cotizacion.modoRenovacionEditar
                                ">
                </form-input-date>
            </div>
            <div class="col-sm-3" *ngIf="!cotizacion.modoRenovacionEditar">
                <form-input-date label="Fin vigencia póliza"
                                 [(value)]="poliza.fechaFinPoliza"
                                 (valueChange)="changeDate(2)"
                                 (onSelect)="emitirCambiarDatoPoliza()"
                                 [todayNextMonth]="!detail"
                                 [transac]="cotizacion.tipoTransaccion"
                                 [minDateSup]="poliza.fechaInicioPoliza"
                                 [baseDateValue]="poliza.fechaInicioPoliza"
                                 [baseDatePeriod]="poliza.tipoRenovacion?.COD_TIPO_RENOVACION"
                                 [disabled]="CONSTANTS.TIPO_RENOVACION.ESPECIAL !=
                                    poliza.tipoRenovacion?.COD_TIPO_RENOVACION || detail">
                </form-input-date>
            </div>
            <div class="col-sm-3">
                <form-input-date label="Inicio vigencia asegurado"
                                 [(value)]="poliza.fechaInicioAsegurado"
                                 [disabled]="
                                    true && cotizacion.modoVista !== CONSTANTS.MODO_VISTA.POLIZAINCLUIR
                                "
                                 [maxDate]="poliza.fechaFinAsegurado"
                                 [minDateSup]="validateMin()"
                                 (onSelect)="emitirCambiarDatoPoliza()">
                </form-input-date>
            </div>
            <div class="col-sm-3">
                <form-input-date label="Fin vigencia asegurado"
                                 [(value)]="poliza.fechaFinAsegurado"
                                 [transac]="cotizacion.tipoTransaccion"
                                 [baseDateValue]="poliza.fechaInicioAsegurado"
                                 [baseDatePeriod]="poliza.frecuenciaPago?.COD_TIPO_FRECUENCIA"
                                 [disabled]="true"></form-input-date>
            </div>
        </div>
        <div class="row">
            <!--   <div class="col-sm-3" *ngIf="poliza.codTipoViaje?.id == '1'">
                <form-input-select label="Origen" [service]="accPersonalesService" method="GetDepartmentList" fieldCodigo="Id"
                fieldValor="Name" [(value)]="poliza.codOrigen" [detail]="detail" [required]="true"
                (onSelect)="emitirCambiarDatoPoliza()"></form-input-select>
            </div> -->
            <div class="col-sm-3">
                <form-input-select label="CIIU"
                                   [service]="accPersonalesService"
                                   method="getEconomicActivityList"
                                   [params]="{
                                        nbranch: CONSTANTS.RAMO,
                                        channel:
                                        cotizacion.brokers.length > 0
                                            ? cotizacion.brokers[0].COD_CANAL
                                            : null,
                                        currency: poliza.moneda?.NCODIGINT || null,
                                        profile: poliza.tipoPerfil?.codigo || null,
                                        policyType: poliza.tipoPoliza?.codigo || null,
                                        collocationType: poliza.modalidad?.codigo || null,
                                        billingType: poliza.tipoFacturacion?.id || null,
                                        nproduct_channel: codProducto,
                                        planId: poliza.tipoPlan?.codigo || null,
                                        codActividad: poliza.tipoActividad?.Id
                                    }"
                                   [firstSelect]="!detail"
                                   [alwaysSelect]="!detail"
                                   fieldCodigo="Id"
                                   fieldValor="Name"
                                   [(value)]="poliza.CodCiiu"
                                   [detail]="detail"
                                   (onSelect)="emitirCambiarDatoPoliza()"
                                   [required]="true">
                </form-input-select>
            </div>
            <div class="col-sm-3">
                <form-input-select label="Departamento"
                                   [service]="accPersonalesService"
                                   method="GetDepartmentList"
                                   fieldCodigo="Id"
                                   fieldValor="Name"
                                   [alwaysSelect]="true"
                                   [defaultValue]="{ codigo: 14 }"
                                   [(value)]="poliza.codDestino"
                                   [detail]="detail"
                                   [required]="true"
                                   (onSelect)="emitirCambiarDatoPoliza()"
                                   [firstSelect]="true"></form-input-select>
            </div>
            <div class="col-sm-3"
                 [hidden]="flagAforo">
                 <!-- <div *ngIf="cotizacion.esEstudiantil"> -->
                <div *ngIf="!flagAforo">
                    <form-input-checkbox [inlineInput]="true"
                                         [items]="[
                                            {
                                                codigo: 'SIN_FACT',
                                                valor: 'Sin Facturación',
                                                isSelected: poliza.checkbox5?.SIN_FACT == true ? true : false
                                            }
                                         ]"
                                         [disabled]="validateVista()"
                                         [(mapSelected)]="poliza.checkbox5"
                                         (mapSelectedChange)="validarSinFactura()">

                    </form-input-checkbox>
                    <!--<div [hidden]="(poliza.tipoPoliza.codigo != 1 || poliza.valida_trama == 0)">-->
                    <div [hidden]="mismoContratanteMostrar()">
                        <form-input-checkbox [inlineInput]="false"
                                         [items]="[
                                            { 
                                                codigo: 'EQUAL_PERSON', 
                                                valor: 'EL ASEGURADO Y CONTRATANTE SON LA MISMA PERSONA',
                                                isSelected: poliza.checkbox6?.EQUAL_PERSON == true ? true : false
                                            }
                                        ]"
                                         [(mapSelected)]="poliza.checkbox6"
                                         (mapSelectedChange)="btnaplicar()"> <!--</form-input-checkbox>-->
                        </form-input-checkbox>
                    </div>
                    <div [hidden]="viewmismoContratanteMostrar()">
                        <form-input-checkbox [inlineInput]="false"
                                         [items]="[
                                            { 
                                                codigo: 'VIEW_EQUAL_PERSON', 
                                                valor: 'EL ASEGURADO Y CONTRATANTE SON LA MISMA PERSONA',
                                                isSelected: poliza.checkbox7?.VIEW_EQUAL_PERSON == true ? true : false
                                            }
                                        ]"
                                        [disabled]="true"> <!--</form-input-checkbox>-->
                        </form-input-checkbox>
                    </div>
                    <!--[disabled]="validateVistaAsegurado()"   (mapSelectedChange)="btnaplicar()"-->
                </div>
                 <!-- <div *ngIf="!flagAforo" style="line-height: 0;">
                     <form-input-checkbox [inlineInput]="true"
                                          [items]="[
                                             {
                                             codigo: 'POL_MAT',
                                             valor: '¿Póliza matriz?',
                                             show: cotizacion.modoVista !== CONSTANTS.MODO_VISTA.ENDOSO,
                                             disabled: storageService.esBroker,
                                             isSelected: poliza.checkbox1?.POL_MAT == true ? true : false
                                             }
                                         ]"
                                          [disabled]="
                                             detail && cotizacion.modoVista !== CONSTANTS.MODO_VISTA.ENDOSO
                                         "
                                          [(mapSelected)]="poliza.checkbox1"
                                          (mapSelectedChange)="validarPolizaMatriz()"></form-input-checkbox>
                 </div> -->
            </div>
            <div class="col-sm-3">
                <form-input-checkbox [inlineInput]="true"
                                     [items]="[{ codigo: 'TRA_MIN', valor: '¿Trabajo en mina?' }]"
                                     [(mapSelected)]="poliza.checkbox2"
                                     [disabled]="detail"></form-input-checkbox>
            </div>
            <!--   <div class="col-sm-3" *ngIf="poliza.codTipoViaje?.id == '2'">
        <form-input-select label="Origen" [service]="accPersonalesService" method="GetCountryList" fieldCodigo="NCOUNTRY"
          fieldValor="SDESCRIPT" [(value)]="poliza.codOrigen" [detail]="detail" [required]="true"
          (onSelect)="emitirCambiarDatoPoliza()"></form-input-select>
      </div>
      <div class="col-sm-3" *ngIf="poliza.codTipoViaje?.id == '2'">
        <form-input-select label="Destino" [service]="accPersonalesService" method="GetCountryList" fieldCodigo="NCOUNTRY"
          fieldValor="SDESCRIPT" [(value)]="poliza.codDestino" [detail]="detail" [required]="true"
          (onSelect)="emitirCambiarDatoPoliza()"  [firstSelect]="true"></form-input-select>
      </div> -->
        </div>
        <div class="row">
            <!-- <div class="col-sm-3">
                <form-input-select label="Moneda"
                                   [service]="accPersonalesService"
                                   method="getCurrency"
                                   [params]="{
                                        nbranch: CONSTANTS.RAMO,
                                        nproduct: poliza.producto?.codigo || null
                                    }"
                                   fieldCodigo="NCODIGINT"
                                   fieldValor="SDESCRIPT"
                                   [(value)]="poliza.moneda"
                                   (onSelect)="getSegmento()"
                                   [detail]="detail"></form-input-select>
            </div> -->
            <div class="col-sm-3"
                 *ngIf="verificarPerfilViajes()">
                <form-input-select label="tipo viaje"
                                   [service]="accPersonalesService"
                                   method="GetTipoViaje"
                                   fieldCodigo="id"
                                   fieldValor="descripcion"
                                   [alwaysSelect]="true"
                                   [defaultValue]="{ codigo: 1, id: 1 }"
                                   [(value)]="poliza.codTipoViaje"
                                   [detail]="detail"
                                   [required]="true"
                                   (onSelect)="emitirCambiarDatoPoliza()">
                </form-input-select>
            </div>
            <div class="col-sm-3"
                 *ngIf="poliza.listReglas.flagAlcance">
                <form-input-select label="Alcance"
                                   [service]="accPersonalesService"
                                   method="GetAlcance"
                                   [params]="{ nbranch: CONSTANTS.RAMO }"
                                   fieldCodigo="id"
                                   fieldValor="descripcion"
                                   [(value)]="poliza.codAlcance"
                                   [detail]="detail && this.flagReglas != true"
                                   [required]="true"
                                   (onSelect)="emitirCambiarDatoPoliza()"></form-input-select>
            </div>
            <div class="col-sm-3"
                 *ngIf="CONSTANTS.MODO_VISTA.EXCLUIR === cotizacion.modoVista">
                <form-input-date label="Fecha exclusión"
                                 [(value)]="poliza.fechaExclusion"
                                 [disabled]="false"
                                 (onSelect)="emitirCambiarDatoPoliza()"
                                 [required]="true"
                                 [maxDate]="poliza.fechaFinAsegurado"
                                 [minDateSup]="validateMin()"></form-input-date>
            </div>
            <div class="col-sm-3"
                 *ngIf="poliza.listReglas.flagTemporalidad">
                <form-input-select label="Temporalidad"
                                   [service]="accPersonalesService"
                                   method="GetHoras"
                                   fieldCodigo="id"
                                   fieldValor="descripcion"
                                   [(value)]="poliza.temporalidad"
                                   [detail]="detail && this.flagReglas != true"
                                   [required]="true"
                                   (onSelect)="emitirCambiarDatoPoliza()"></form-input-select>
            </div>
        </div>
    </panel-widget>
</div>