.container-title-modal {
    background-color: rgba(43, 13, 99, 0.7);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    // padding: 1px 0px;
}

.voucher-container {
    color: rgb(83, 66, 121);
}